@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();    
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Keywords = Anpero.StringHelpper.UnicodeToKoDau(commonInfo.Desc);
        ViewBag.WebsiteUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    }
}
@section health{
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta property="og:description" content="@commonInfo.Desc" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.WebsiteUrl" />
    <meta property="og:image" content="@commonInfo.Logo" />
}
<div class="box-breadcrumb">
    <div class="container">
        <ul class="hidden-sm hidden-xs">
            <li><a href="/" target="_self" title="Trang chủ">Trang chủ</a></li>
            <li><a href="/blog">Các chính sách</a></li>
            <li><span>@ViewBag.Title</span></li>
        </ul>
    </div>
</div>
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">
    <div class="main container">
        <div class="std">
            <div class="wrapper_bl" style="margin-top: 1px;">
                <div class="form_background">
                        @Html.Raw(ViewBag.HtmlContent)
                </div>
            </div>
        </div>
    </div>
</div>