@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}
<header>
    <div class="header-banner">
        <div class="assetBlock">
            <div style="height: 20px; overflow: hidden;" id="slideshow">
                <p style="display: block;">HOT DAYS! - <span>5%</span> KHÁCH ĐẶT HÀNG ONLINE! &gt;</p><p style="display: none;">GIẢM GIÁ LÊN ĐẾN <span>15%</span> CHO ĐƠN ĐẶT HÀNG từ 3 TRIỆU! &gt;</p>
            </div>
        </div>
    </div>
    <div id="header">
        <div class="header-container container">
            <div class="row">
                <div class="logo">
                    <a href="/" title="@commonInfo.Desc">
                        <div><img src="@commonInfo.Logo" alt="@commonInfo.Name"></div>
                    </a>
                </div>
                <div class="fl-nav-menu">
                    <nav>
                        <div class="mm-toggle-wrap">
                            <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
                        </div>
                        <div class="nav-inner">
                            <ul id="nav" class="hidden-xs">
                                <li id="nav-home" class="level0 parent drop-menu"><a class="level-top active" href="/"><span>Trang Chủ</span></a></li>
                                <li class="level0 parent drop-menu"><a class="level-top" href="/about"><span>Giới thiệu</span></a></li>
                                <li class="mega-menu">
                                    <a class="level-top" href="/"><span>Sản phẩm‎</span></a>
                                    <div class="level0-wrapper dropdown-6col" style="left: 0px; display: none;">
                                        <div class="container">
                                            <div class="level0-wrapper2">
                                                <div class="nav-block nav-block-center">
                                                    <ul class="level0">
                                                        @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                                                        {
                                                            foreach (var item in commonInfo.ProductCategoryList)
                                                            {
                                                                if (item.ChildCategory != null && item.ChildCategory.Length == 0)
                                                                {
                                                                    <li class="level3 nav-6-1 parent item"> <a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)"><span>@item.Name‎</span></a> </li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="level3 nav-6-1 parent item">
                                                                        <a href="@(Anpero.StringHelpper.GetParentCategoryLink(item.Name, item.Id))"><span>@item.Name</span> </a>
                                                                        <ul class="level1">
                                                                            @foreach (var chidItem in item.ChildCategory)
                                                                            {
                                                                                <li class="level2 nav-6-1-1"><a href="@Anpero.StringHelpper.GetCategoryLink(chidItem.Name, chidItem.Id)"><span>@chidItem.Name</span></a></li>
                                                                            }
                                                                        </ul>
                                                                    </li>
                                                                }
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                                @if (ViewData["slide4"] != null)
                                                {
                                                    Ads[] slide = (Ads[])ViewData["slide4"];
                                                    <div class="nav-add">
                                                        @if (slide.Length > 0)
                                                        {
                                                            for (int i = 0; i < slide.Length; i ++)
                                                            {
                                                                if (i == slide.Length - 1)
                                                                {
                                                                    <div class="push_item push_item_last">
                                                                        <div class="push_img">
                                                                            <a href="@slide[i].ClickUrl">
                                                                                <img src="@slide[i].ImagesUrl" alt="@slide[i].Description" />
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="push_item">
                                                                        <div class="push_img">
                                                                            <a href="@slide[i].ClickUrl">
                                                                                <img src="@slide[i].ImagesUrl" alt="@slide[i].Description" />
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="fl-custom-tabmenulink mega-menu">
                                    <a href="#" class="level-top"> <span>Sản phẩm khuyến mại</span> </a>
                                    <div class="level0-wrapper fl-custom-tabmenu" style="left: 0px; display: none;">
                                        <div class="container">
                                            <div class="header-nav-dropdown-wrapper clearer">
                                                @if (ViewData["saleProduct"] != null)
                                                {
                                                    AnperoFrontend.WebService.ProductItem[] saleProduct = (AnperoFrontend.WebService.ProductItem[])ViewData["saleProduct"];
                                                    if (saleProduct != null && saleProduct.Length > 0)
                                                    {
                                                        foreach (ProductItem item in saleProduct)
                                                        {
                                                            <div class="grid12-3">
                                                                <div>
                                                                    <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" title="@item.PrName">
                                                                        <img src="@item.Images" alt="@item.PrName">
                                                                    </a>
                                                                </div>
                                                                <h4 class="heading">Giảm giá 20%</h4>
                                                                <p>@item.ShortDesc.Substring(0, 61)</p>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="level0 parent drop-menu">
                                    <a href="/blog"><span>Tin tức</span> </a>
                                    <ul class="level1">
                                        <li class="level1"><a title="blog" href="/blog"><span>Blogs Tin tức</span></a></li>
                                        <li class="level1">
                                            <a title="shipper" href="/chinh-sach-van-chuyen-a86">
                                                <span>Vận chuyển</span>
                                            </a>
                                        </li>
                                        <li class="level1">
                                            <a title="rollback" href="/chinh-sach-doi-tra-hang-tai-ngonlan-a84">
                                                <span>Chính sách đổi trả</span>
                                            </a>
                                        </li>
                                        <li class="level1">
                                            <a title="pay" href="/huong-dan-thanh-toan-khi-mua-hang-t-a85">
                                                <span>Hướng dẫn thanh toán</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="level0 parent drop-menu"><a class="level-top" href="/home/contact"><span>Liên hệ</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>                
            </div>
            <div class="fl-header-right">
                <div class="fl-links">
                    <div class="no-js">
                        <a title="Company" class="clicker"></a>
                        <div class="fl-nav-links">
                            <ul class="links">
                                <li><a href="/product/checkout" title="Checkout">Đặt Hàng</a></li>
                                <li><a href="/blog" title="Blog"><span>Blogs Tin Tức</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fl-cart-contain">
                    <div class="mini-cart">
                        <div class="basket"> <a href="/product/checkout" ><span class="spN">0</span></a> </div>
                        <div class="fl-mini-cart-content" style="display:none;">
                            <div class="block-subtitle hide">
                                <div class="top-subtotal"><span class="spN">0</span> Sp, <span id="ttSC"></span> </div>                            
                            </div>                    
                            <ul class="mini-products-list" id="cart-sidebar"  style="display: none;"></ul>
                            <div class="actions cart-buttons"  style="display: none;">
                                <a class="btn-checkout" href="/product/checkout"><span>Đặt hàng</span></a>
                            </div>
                        </div>
                     </div>
                </div>                
                <div class="collapse navbar-collapse">
                    <form class="navbar-form" role="search" action="/search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="keyword" id="keyword">
                            <span class="input-group-btn">
                                <button type="submit" class="search-btn"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Search</span> </span> </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>



