@using AnperoFrontend.WebService;
@{
    SearchArticleResults articleList = (SearchArticleResults)ViewData["ArticleList"];
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string currentUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');

    
}
@section health{
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(ViewBag.Keywords)" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@currentUrl" />
    <meta property="og:image" content="@commonInfo.Logo" />
    <link rel="canonical" href="@ViewBag.WebsiteUrl" />

}
<div class="box-breadcrumb">
    <div class="container">
        <ul class="woocommerce-breadcrumb breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/blog">blogs</a></li>
            <li><span> @ViewBag.Keywords</span></li>
        </ul>

    </div>
</div>
<div class="main-container left-sidebar">
    <div class="container">
        <div class="row blog-grid content-post auto-clear">
            <div class="main-content col-lg-9 col-md-8">
                <!-- Main content -->
                <div class="row blog-grid content-post auto-clear">
                    @foreach (var item in articleList.ItemList)
                    {
                        <article class="post-item grid col-bg-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ts-12  post type-post status-publish format-standard has-post-thumbnail hentry category-digital tag-google tag-phone">
                            <div class="post-thumb">
                                <a class="effect effect16" href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)">
                                    <figure class=""><img width="870" height="564" src="@item.Thumb" class="wp-post-image attachment-870x564 size-870x564 lazy" alt="@item.Title" style="display: inline;"></figure>
                                </a>
                            </div>
                            <h2 class="post-title"><a href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)">@item.Title</a></h2>

                            <div class="post-content">
                                @item.ShotDesc
                            </div>
                            <div class="group-read-more">
                                <a class="read-more" href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)">
                                    Xem thêm
                                </a>
                            </div>
                        </article>
                    }
                </div>
                @Html.Raw(ViewBag.page)
            </div>
            @Html.Partial("article/_MenuAndAdsPartial")
        </div>


    </div>
</div>

<style>
    .breadcrumbs {
        padding: 0 0 26px 0;
    }

        .breadcrumbs ul {
            font-size: 0;
            line-height: 0;
        }

        .breadcrumbs li {
            display: inline-block;
            padding: 27px 10px 0 0;
        }

        .breadcrumbs a, .breadcrumbs span {
            font-size: 14px;
            line-height: 1em;
        }

        .breadcrumbs li ~ li:before {
            content: '\f105';
            margin: 0 10px 0 0;
            font: 14px/1em "FontAwesome";
        }
</style>