@using AnperoFrontend.WebService;
@{
    SearchArticleResults articleList = (SearchArticleResults)ViewData["ArticleList"];
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string currentUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
@section health{
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(ViewBag.Keywords)" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@currentUrl" />
    <meta property="og:image" content="@commonInfo.Logo" />
    <link rel="canonical" href="@ViewBag.WebsiteUrl" />

}
<div class="box-breadcrumb">
    <div class="container">
        <ul class="woocommerce-breadcrumb breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/blog">blogs</a></li>
            <li><span> @ViewBag.Keywords</span></li>
        </ul>
 
    </div>
</div>
<div class="main-container left-sidebar">
    <div class="container">       
        <div class="row blog-grid content-post auto-clear">
            <div class="main-content col-lg-9 col-md-8">
                <!-- Main content -->
                <div class="row blog-grid content-post auto-clear">
                    @foreach (var item in articleList.ItemList)
                    {
                        <article class="post-item grid col-bg-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ts-12  post type-post status-publish format-standard has-post-thumbnail hentry category-digital tag-google tag-phone">
                            <div class="post-thumb">
                                <a class="effect effect16" href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)">
                                    <figure class=""><img width="870" height="564" src="@item.Thumb" class="wp-post-image attachment-870x564 size-870x564 lazy" alt="@item.Title" style="display: inline;"></figure>
                                </a>
                            </div>
                            <h2 class="post-title"><a href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)">@item.Title</a></h2>

                            <div class="post-content">
                                @item.ShotDesc
                            </div>
                            <div class="group-read-more">
                                <a class="read-more" href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)">
                                    Xem thêm
                                </a>

                            </div>
                        </article>
                    }
                </div>
                @Html.Raw(ViewBag.page)
            </div>
            <div class="sidebar col-lg-3 col-md-4">
                <div id="widget-area" class="widget-area blog-sidebar">
                    <div class="sidebar-head">
                        <span class="text">Sidebar</span>
                        <a href="#" class="close-block-sidebar"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
            <div id="categories-3" class="widget widget_categories">
                        <h2 class="widgettitle">Browse Categories<span class="arrow"></span></h2>		<ul>
                            <li class="cat-item cat-item-82">
                                <a href="category/appliances/index.html">Appliances</a>
                            </li>
                            <li class="cat-item cat-item-83">
                                <a href="category/digital/index.html">Digital</a>
                            </li>
                            <li class="cat-item cat-item-84">
                                <a href="category/furniture/index.html">Furniture</a>
                            </li>
                            <li class="cat-item cat-item-85">
                                <a href="category/handmade/index.html">Handmade</a>
                            </li>
                            <li class="cat-item cat-item-86">
                                <a href="category/narure/index.html">Narure</a>
                            </li>
                            <li class="cat-item cat-item-87">
                                <a href="category/organic/index.html">Organic</a>
                            </li>
                        </ul>
                    </div><div id="widget_ovic_post-4" class="widget widget-recent-post">
                        <h2 class="widgettitle">Recent Post<span class="arrow"></span></h2>                <div class="ovic-blog">
                            <article class="blog-item post-3450 post type-post status-publish format-standard has-post-thumbnail hentry category-digital tag-google tag-phone">
                                <div class="post-thumb">
                                    <a href="google-3xl-pixel-phone-is-much-nicer-than-the-iphone-x/index.html" class="">
                                        <img width="100" height="73" src="https://gokko.kutethemes.net/wp-content/uploads/2018/12/bloga-full-imgs-100x73.jpg" class="wp-post-image attachment-100x73 size-100x73 lazy" alt="bloga-full-imgs" style="display: inline;">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h4 class="post-title">
                                        <a href="google-3xl-pixel-phone-is-much-nicer-than-the-iphone-x/index.html">Google 3xl pixel phone is much nicer than the iphone X</a>
                                    </h4>
                                    <div class="post-meta">
                                        <span class="author"><span>By</span> admin</span> -
                                        <span class="date">10 Dec 2018</span>
                                    </div>
                                </div>
                            </article>
                            <article class="blog-item post-3443 post type-post status-publish format-standard has-post-thumbnail hentry category-digital tag-apple">
                                <div class="post-thumb">
                                    <a href="top-best-laptops-voted-in-2018/index.html" class="">
                                        <img width="100" height="73" src="https://gokko.kutethemes.net/wp-content/uploads/2018/12/blog-fuedll-imgs-100x73.jpg" class="wp-post-image attachment-100x73 size-100x73 lazy" alt="blog-fuedll-imgs" style="display: inline;">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h4 class="post-title">
                                        <a href="top-best-laptops-voted-in-2018/index.html">Top best laptops voted in 2018</a>
                                    </h4>
                                    <div class="post-meta">
                                        <span class="author"><span>By</span> admin</span> -
                                        <span class="date">10 Dec 2018</span>
                                    </div>
                                </div>
                            </article>
                            <article class="blog-item post-3441 post type-post status-publish format-standard has-post-thumbnail hentry category-digital tag-samsung">
                                <div class="post-thumb">
                                    <a href="top-the-best-smart-watches-2018/index.html" class="">
                                        <img width="100" height="73" src="https://gokko.kutethemes.net/wp-content/uploads/2018/12/blog-full-imgs-100x73.jpg" class="wp-post-image attachment-100x73 size-100x73 lazy" alt="blog-full-imgs" style="display: inline;">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h4 class="post-title">
                                        <a href="top-the-best-smart-watches-2018/index.html">Top the best smart watches 2018</a>
                                    </h4>
                                    <div class="post-meta">
                                        <span class="author"><span>By</span> admin</span> -
                                        <span class="date">10 Dec 2018</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                
                </div><!-- .widget-area -->

            </div>
        </div>
    
       
    </div>
</div>

<style>
    .breadcrumbs {
        padding: 0 0 26px 0;
    }

        .breadcrumbs ul {
            font-size: 0;
            line-height: 0;
        }

        .breadcrumbs li {
            display: inline-block;
            padding: 27px 10px 0 0;
        }

        .breadcrumbs a, .breadcrumbs span {
            font-size: 14px;
            line-height: 1em;
        }

        .breadcrumbs li ~ li:before {
            content: '\f105';
            margin: 0 10px 0 0;
            font: 14px/1em "FontAwesome";
        }
</style>