@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }    
}
<!DOCTYPE html>
<html lang="vi" class="color_scheme">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://www.facebook.com/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="@(string.IsNullOrEmpty(commonInfo.Favicon)?commonInfo.Logo:commonInfo.Favicon)" type="image/x-icon">
    <meta name="description" content="@commonInfo.Desc" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Refresh" content="3600" />
    <!-- Apple iOS and Android stuff -->
    <meta name="robots" content="*">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundle/css")
    @RenderSection("health", required: false)
    @RenderSection("Styles", required: false)
</head>
<body>

    @Html.Partial("_partial/_HeaderPartial")

    <div class="main-page">
        @RenderBody()
    </div>
    <!--main-page-->

    @Html.Partial("_partial/_FooterPartial")

    @RenderSection("scripts", required: false)
    @Html.Raw(commonInfo.AnperoPlugin)
    @Html.Raw(commonInfo.PageScript)

    @Scripts.Render("~/bundle/js")

    <script type="text/javascript">        
        jQuery(window).load(function () {
            Cart.bindCart();
        });
    </script>

</body>
</html>