@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}
<!DOCTYPE html>
<html lang="vi" class="color_scheme">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://www.facebook.com/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="@(string.IsNullOrEmpty(commonInfo.Favicon)?commonInfo.Logo:commonInfo.Favicon)" type="image/x-icon">
    <meta name="description" content="@commonInfo.Desc" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Refresh" content="3600" />
    <!-- Apple iOS and Android stuff -->
    <meta name="robots" content="*">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundle/css")
    @RenderSection("health", required: false)
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("_partial/_HeaderPartial")
    <div class="main-page">
        @RenderBody()
    </div>

    <!--main-page-->
    @Html.Partial("_partial/_FooterPartial")
    <div class="box-temp-fixed item-fix trans">
        <div class="box-back-top item-fix trans">
            <a href="javascript:void(0)">
                <img src="/html/images/to-top.png" alt="">
            </a>
        </div>

        <div class="box-cart-fixed item-fix trans small-cart" style="display:none;">
            <a href="/product/checkout"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="numberCart spN ">0</span></a>
        </div>

        @*<div class="box-hotline item-fix trans">
                <label>
                    <a href="tel:01675678192" title="">
                        <span></span>
                        <p>Tư vấn miễn phí(24/7)<span>1900 636 099</span></p>
                    </a>
                    <i class="close-hotline"></i>
                </label>
            </div>*@
    </div>
    @Scripts.Render("~/bundle/js")


    @Html.Raw(commonInfo.AnperoPlugin)
    @Html.Raw(commonInfo.PageScript)

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        jQuery(window).load(function () {
            Cart.bindCart();
        });
    </script>

</body>
</html>