@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}
<!DOCTYPE html>
<html lang="vi" class="color_scheme">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://www.facebook.com/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="@(string.IsNullOrEmpty(commonInfo.Favicon)?commonInfo.Logo:commonInfo.Favicon)" type="image/x-icon">
    <meta name="description" content="@commonInfo.Desc" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Refresh" content="3600" />
    <!-- Apple iOS and Android stuff -->
    <meta name="robots" content="*">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundle/css")
    @RenderSection("health", required: false)
    @RenderSection("Styles", required: false)
    <link href='/static/css' rel='stylesheet' type='text/css'>
</head>
<body>
    @Html.Partial("_partial/_HeaderPartial")
    <div class="main-page">
        @RenderBody()

        <section class="contact-area section-padding section-relative" id="contact" style="margin-bottom:-30px;">
            <div class="section-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="page-title">
                            <h2 style="border:none;">Đăng ký và liên hệ</h2>
                            <p>Hãy để lại thông tin liên hệ của bạn để nhận thông tin miễn phí từ chúng tôi !</p>
                            <p>Hotline :  097.925.0696  - 097.544.1818</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <input type="text" class="form-control" id="name" placeholder="Tên *" required="">
                        <input class="form-control" id="email" placeholder="Email">
                        <input type="text" class="form-control" id="phone" placeholder="Số điện thoại *" required="">
                        <input type="text" class="form-control" id="address" placeholder="Địa chỉ *" required="">
                        <textarea class="form-control" rows="6" id="message" placeholder="Để lại lời nhắn" required=""></textarea>
                        <div class="form-selector mbt15">
                            <div id="g-recaptcha"></div>
                        </div>
                        <div class="text-center mb-25">
                            <button class="battn" id="btn-send-contact">Gửi thông tin</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>


    </div>
  

    <script src="https://www.google.com/recaptcha/api.js"></script>

    <!--main-page-->
    @Html.Partial("_partial/_FooterPartial")
    <div class="box-temp-fixed item-fix trans">
        <div class="box-back-top item-fix trans">
            <a href="javascript:void(0)">
                <img src="/html/images/to-top.png" alt="">
            </a>
        </div>

        <div class="box-cart-fixed item-fix trans small-cart" style="display:none;">
            <a href="/product/checkout"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="numberCart spN ">0</span></a>
        </div>

        <div class="box-hotline item-fix trans">
            <label>
                <a href="tel:@commonInfo.HotLine" title="">
                    <span></span>
                    <p>Tư vấn miễn phí(24/7)<span>@commonInfo.HotLine</span></p>
                </a>
                <i class="close-hotline"></i>
            </label>
        </div>
    </div>
    @Scripts.Render("~/bundle/js")
    <script src="/Scripts/Bootrap.notify.js"></script>
    @Html.Raw(commonInfo.AnperoPlugin)
    @Html.Raw(commonInfo.PageScript)

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var googleCatcha;
        $(window).load(function () {
            Cart.bindCart();
            googleCatcha = grecaptcha.render('g-recaptcha', {
                'sitekey': googleCapchaSitekey,
                'theme': 'light',
                'hl': 'vi'
            });
        });

    </script>

</body>
</html>