@using AnperoFrontend.WebService;
@{
    var commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string baseUrl = Url.Content("~", true);
}
<header class="header">
    <div class="header-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 header-logo">
                    <div class="visible-xs visible-sm toggle-menu translateY-50">
                        <a href="javascript:void(0)" class="btnMBToggleNav"><img src="~/Html/images/icons/icon-menu.png" alt=""></a>
                    </div>
                    <div class="logo">
                        <a href="/"><img src="@commonInfo.Logo" alt="@commonInfo.Name"></a>
                    </div>
                    <div class="visible-xs visible-sm box-cart-mobile translateY-50">
                        <a href="javascript:void(0);">
                            <div class="icon">
                                <i class="fa fa-shopping-bag"></i>
                            </div>
                            <span class="js-cart-count numberCart">0</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 header-search">
                    <div class="form-search">
                        <form action="/search" method="get" role="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="hidden" name="type" value="product">
                            <input type="text" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
                            <button type="submit" class="btn-search">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm hidden-xs header-user">
                    <div class="box-cart pull-right relative">
                        <a href="#">
                            <div class="box">
                                <div class="box">
                                    <div class="icon">
                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    </div>
                                    <div class="text">
                                        <span>Giỏ hàng (<span class="js-cart-count numberCart">0</span>)</span>
                                        <span id="cartPrice" class="sub">0₫</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="overlayMenu"></div>
            </div>
        </div>
    </div>
    <!--header-page-->

    <nav class="header-menu">
        <div class="container">
            <div class="login-mobile visible-xs visible-sm">
                <div class="login clearfix">
                </div>
            </div>
            <ul class="nav-navbar">
                <li class="active">
                    <a href="/" class=" current" title="Trang chủ">
                        <span>Trang chủ <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </a>
                    <ul class="main-child level-2">
                        <li class="li-child">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="li-child">
                            <a href="/search">Danh mục sản phẩm</a>
                        </li>
                        <li class="li-child">
                            <a href="/home/contact">Liên hệ</a>
                        </li>
                        <li class="li-child">
                            <a href="/about">Về chúng tôi</a>
                        </li>
                        <li class="li-child">
                            <a href="/PaymentInfo">Thanh toán</a>
                        </li>
                        <li class="li-child">
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>
                </li>

                <li class="li-child">
                    <a href="/search">
                        <span>Danh mục sản phẩm</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class="main-child level-2">
                        @foreach (var item in commonInfo.ProductCategoryList)
                        {
                            <li class="">
                                <a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>

                <li class="li-child">
                    <a href="/Brands">
                        <span>Thương hiệu</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class="main-child level-2">
                        @foreach (var item in commonInfo.ProductGroupList)
                        {
                            <li class="">
                                <a href="@Anpero.StringHelpper.GetProductGroupLink(item.Name,item.Id)">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>

                <li class="li-child">
                    <a href="/">
                        <span>Khuyến mãi</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class="main-child level-2">
                        @if (ViewData["saleProduct"] != null)
                        {
                            var saleList = ViewData["saleProduct"] as ProductItem[];
                            foreach (var item in saleList)
                            {
                                <li class="">
                                    <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">
                                        @item.PrName
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>

                <li class="li-child">
                    <a href="/blog">
                        <span>Blog</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class="main-child level-2">
                        @if (ViewData["FeatureArticle"] != null)
                        {
                            SearchArticleResults articleList = (SearchArticleResults)ViewData["FeatureArticle"];
                            foreach (BlogItem item in articleList.ItemList)
                            {
                                <li class="">
                                    <a href="@Anpero.StringHelpper.GetBlogCategoryLink(item.Title,item.Id)">@Anpero.StringHelpper.SubString(40, item.Title)</a>
                                </li>
                            }
                        }
                    </ul>
                </li>

                <li>
                    <a href="/home/contact">
                        <span>Liên hệ</span>
                    </a>
                </li>

            </ul>
            <div class="visible-xs visible-sm close-menu-mobile text-center">
                <a href="javascript:void(0)" class="close-nav view-all">Đóng</a>
            </div>
        </div>
    </nav>
</header>
<!--header-->