@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
<!DOCTYPE html>
<html lang="vi" class="color_scheme">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://www.facebook.com/">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" href="@(string.IsNullOrEmpty(commonInfo.Favicon)?commonInfo.Logo:commonInfo.Favicon)" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Refresh" content="3600" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta name="robots" content="*">    
    
    @RenderSection("health", required: false)
    <link href='/static/css' rel='stylesheet' type='text/css'>
    <script src="//media.anpero.com/cdn/assets/plugins/jquery-1.10.2.min.js"></script>
    
    
</head>
<body>
    
    @Html.Partial("_partial/_MainHeader")     

    @*@RenderBody()*@
    @Scripts.Render("~/bundles/scripts")
    @Html.Raw(commonInfo.AnperoPlugin)
    @Html.Raw(commonInfo.PageScript)
    @Html.Partial("_partial/_MainFooter_1")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        jQuery(window).load(function () {
            Cart.bindCart();
        });
    </script>

</body>
</html>