@if (ViewData["prDetail"] != null)
{
    AnperoFrontend.WebService.ProductItem item = (AnperoFrontend.WebService.ProductItem)ViewData["prDetail"];
    <div class="center_column col-xs-12 col-sm-9" id="center_column">
        <!-- Product -->
        <div id="product">
            <div class="primary-box row">
                <div class="pb-left-column col-xs-12 col-sm-6">
                    <!-- product-imge-->
                    <div class="product-image">
                        <div class="product-full">
                            <img id="product-zoom" src='@item.Images' data-zoom-image="@item.Images" />
                        </div>
                        <div class="product-img-thumb" id="gallery_01">
                            @if (item.ImagesSlide != null && item.ImagesSlide.Length > 0)
                            {
                                <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="20" data-loop="true">
                                    @foreach (var images in item.ImagesSlide)
                                    {
                                        <li>
                                            <a href="#" data-image="@images" data-zoom-image="@images">
                                                <img src="@images" />
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }

                        </div>
                    </div>
                    <!-- product-imge-->
                </div>
                <div class="pb-right-column col-xs-12 col-sm-6">
                    <h1 class="product-name">@item.PrName</h1>
                    <div class="product-comments">
                        <div class="product-star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>

                    </div>
                    <div class="product-price-group">

                        @if (item.IsSale)
                        {
                            <span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice.ToString()) đ </span>

                            <span class="old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price.ToString()) đ</span>
                                        <span class="discount">@Anpero.StringHelpper.ConVertToMoneyFormatInt((item.SalePrice - item.Price).ToString()) đ</span>
                        }
                        else
                        {
                            <span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price.ToString()) đ</span>
                        }
                    </div>
                    <div class="info-orther">
                        <p>Product ID: #@item.Id</p>
                        <p>
                            Trạng thái:
                            @if (item.IsInstock)
                            {
                                <span class="in-stock">Sẵn sàn</span>
                            }
                            else
                            {
                                <span class="in-stock">Đang bận</span>
                            }
                        </p>
                        <p>Tình trạng: mới</p>
                        @if (item.Warranty > 0)
                        {
                            <p>Bảo hành: @item.Warranty tháng</p>
                        }
                    </div>
                    @if (item.ShortDesc != null && item.ShortDesc.Length > 0)
                {
                        <div class="product-desc">
                            @Html.Raw(item.ShortDesc)
                        </div>
                    }
                    <div class="form-action">
                        <div class="button-group">
                            @if (item.IsInstock)
                            {
                                <a class="btn-add-cart" href="javascript:Cart.addProduct(@item.Id,@Convert.ToInt32(item.Price),'@item.Images','@item.PrName.Replace(@"'",string.Empty)')">Đặt mua</a>

                            }
                            else
                            {
                                <a class="btn-add-cart" href="javascript:void(0);">Tạm hết hàng</a>
                            }
                        </div>

                        <div class="button-group">
                            <a target="_blank" class="wishlist" href="//www.facebook.com/sharer.php?u=@HttpContext.Current.Request.Url.AbsoluteUri">
                                <i class="fa fa-facebook-official"></i>
                                <br>Share
                            </a>

                            <a class="compare" href="//plus.google.com/share?url=@HttpContext.Current.Request.Url.AbsoluteUri">
                                <i class="fa fa-google-plus"></i>
                                <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tab product -->
            @if (!string.IsNullOrEmpty(item.Detail))
            {
                <div class="product-tab">
                    <ul class="nav-tab">
                        <li class="active">
                            <a aria-expanded="false" data-toggle="tab" href="#product-detail">Detail</a>
                        </li>
                    </ul>
                    <div class="tab-container">
                        <div id="product-detail" class="tab-panel active">
                            @Html.Raw(item.Detail)
                        </div>
                    </div>
                </div>
            }

       
        </div>
        <!-- Product -->
    </div>
}