@if (ViewData["productList"] != null)
{
    AnperoFrontend.WebService.SearchResult productList = (AnperoFrontend.WebService.SearchResult)ViewData["productList"];
    if (productList.Item.Length > 0)
    {
        <section id="subheader" data-speed="8" data-type="background" style="background-image: url('https://cdn.anpero.com/images/38/102019/12019102201193291.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        @if (ViewBag.isParent != null)
                        {
                            <h1>
                                @productList.Item[0].ParentCatName
                            </h1>
                        }
                        else
                        {
                            <h1>@productList.Item[0].CatName</h1>
                        }

                        <ul class="crumb">
                            <li><a rel="v:url" property="v:title" href="https://beehome.vn/">Trang chủ</a></li>
                            <b>/</b>
                            @if (ViewBag.isParent != null)
                            {
                                <li class="active">
                                    @productList.Item[0].ParentCatName
                                </li>
                            }
                            else
                            {
                                <li class="active">
                                    @productList.Item[0].CatName
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </section>
           
    }
        <div id="content">
            <div class="container">
                <div class="row">
                    @Html.Partial("product/_MenuAndAdsPartial")
                    <div class="col-md-9">
                        <section class="wpb_row vc_row-fluid vc_custom_1453975735934">
                            <div class="container">
                                <div class="row">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper ">
                                                <div id="services-masonry" class="masonry row" style="position: relative; height: 891.056px;">
                                                    @if (productList.Item.Length > 0)
                                                    {
                                                        foreach (AnperoFrontend.WebService.ProductItem item in productList.Item)
                                                        {
                                                            <div class="col-md-4 item">
                                                                <h3>@item.PrName</h3>
                                                                <p>@Html.Raw(Anpero.StringHelpper.SubString(140, item.ShortDesc))</p>

                                                                <div class="spacer-single-10"></div>
                                                                <img width="700" height="337" src="@item.Images" class="img-responsive wp-post-image" alt="item.PrName">
                                                                <div class="spacer-single"></div>
                                                                <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)" class="btn-line btn-fullwidth">Xem mẫu thiết kế</a>

                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>Nội dung đang được cập nhật. Vui lòng quay lại sau</p>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
   
}



@section  scripts{
    <script>
        $(document).ready(function () {
            $("#services-list a[href='" + window.location.pathname.toLowerCase() + "']").parents("li").addClass("active");            
        });
        
    </script>
}