@using AnperoFrontend.WebService;
@{
    BlogItem item = new BlogItem();
    if (ViewData["blogdeltail"] != null)
    {
        item = (BlogItem)ViewData["blogdeltail"];
    }
    string currentUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
    Ads[] ads4 = (Ads[])ViewData["ads4"];
    var backGroundImg = "https://cdn.anpero.com/images/38/22021/bg-1-1920x4962021022814580386.jpg";
    if (ads4 != null && ads4.Count() > 0)
    {
        backGroundImg = ads4.OrderBy(x => Guid.NewGuid()).First().ImagesUrl;
    }
}
}
@section health{
    <meta name="description" content="@item.ShotDesc" />
    <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(item.Tag)" />
    <meta property="og:description" content="@item.ShotDesc" />
    <meta property="og:title" content="@item.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@currentUrl" />
    <meta property="og:image" content="@item.Thumb" />
    <link rel="canonical" href="@currentUrl" />
}
<section class="section page-title bg-image context-dark" style="background-image: url(@backGroundImg);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xl-8">
                <h2 class="page-title-text">
                    @item.Title
                </h2>
            </div>
        </div>
    </div>
</section>

<div class="main-container left-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-lg-9 col-md-8">
                <h3 class="post-title mt-5">@item.Title</h3>
                <div id="shopify-section-template-article" class="shopify-section section_template section_template__article">
                    <div>
                        <article class="article_item">
                            <p class="article_info">
                                <span>
                                    <time class="article_time" datetime="@Anpero.StringHelpper.ConvertDateTime(item.CreateDate).ToString()">@Anpero.StringHelpper.ConvertTimeVN(item.CreateDate)</time>
                                </span>
                                <span class="article_author"><span id="fb-root"></span></span>
                            </p>
                            <div class="rte article_content" id="tab-description">
                                @Html.Raw(item.Content)
                                <div class="fb-share-button mt-3"
                                     data-href="@HttpContext.Current.Request.Url.AbsoluteUri"
                                     data-layout="button_count">
                                </div>


                                <div class="fb-comments" data-href="@HttpContext.Current.Request.Url.AbsoluteUri" data-width="" data-numposts="15"></div>
                            </div>
                            <p class="article_tags">
                                @item.Tag
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            @Html.Partial("article/_MenuAndAdsPartial")
        </div>
    </div>
</div>
@if (ViewData["ArticleList"] != null)
{
    SearchArticleResults articleList = (SearchArticleResults)ViewData["ArticleList"];
    if (articleList.ResultsCount > 0)
    {
        <div class="related-pro container">
            <div class="slider-items-products">
                <div class="new_title center">
                    <h2>Bài liên quan</h2>
                </div>
                <div id="related-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid">
                        @foreach (var articleItem in articleList.ItemList)
                        {
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="@Anpero.StringHelpper.GetArticleLink(articleItem.Title, articleItem.Id)" class="product-image">
                                                <img src="@articleItem.Thumb" alt="@articleItem.Title">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="@Anpero.StringHelpper.GetArticleLink(articleItem.Title, articleItem.Id)">
                                                    @HttpUtility.HtmlDecode(articleItem.Title)
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=129078861768565&autoLogAppEvents=1"></script>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script>
    $(document).ready(function () {
        $(".fb-comments").attr("data-width", $("#tab-description").width());
    });
</script>
