@using AnperoFrontend.WebService;
@{
    List<BlogCategory> categoryList = new List<BlogCategory>();
    SearchArticleResults TopArticle = new SearchArticleResults();
    if (ViewData["categoryMenuList"] != null)
    {
        categoryList = (List<BlogCategory>)ViewData["categoryMenuList"];
    }
    if (ViewData["FeatureArticle"] != null)
    {
        TopArticle = (SearchArticleResults)ViewData["FeatureArticle"];
    }
}
<div class="col-left sidebar col-sm-3 blog-side">
    <div id="secondary" class="widget_wrapper13" role="complementary">
        <div id="recent-posts-4" class="popular-posts widget widget__sidebar wow bounceInUp animated animated" style="visibility: visible;">
            <h2 class="widget-title">Bài viết đặc sắc</h2>
            <div class="widget-content">
                <ul class="posts-list unstyled clearfix">
                    @if (TopArticle != null && TopArticle.ItemList.Length > 0)
                    {
                        for (int i = 0; i < TopArticle.ItemList.Length; i++)
                        {
                            <li>
                                <figure class="featured-thumb"><a href="@Anpero.StringHelpper.GetArticleLink(TopArticle.ItemList[i].Title,TopArticle.ItemList[i].Id)"><img src="@TopArticle.ItemList[i].Thumb" alt="@TopArticle.ItemList[i].Title"></a></figure>
                                <div class="content-info">
                                    <h4><a href="@Anpero.StringHelpper.GetArticleLink(TopArticle.ItemList[i].Title,TopArticle.ItemList[i].Id)">@TopArticle.ItemList[i].Title</a></h4>
                                    <p class="post-meta">
                                        <i class="icon-calendar"></i>
                                        <time class="entry-date" datetime="@TopArticle.ItemList[i].CreateDate">@Anpero.StringHelpper.ConvertTimeVN(TopArticle.ItemList[i].CreateDate)</time>
                                        .
                                    </p>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div id="categories-2" class="widget widget_categories wow bounceInUp animated animated" style="visibility: visible;">
            <h2 class="widget-title">Các chuyên mục</h2>
            <div class="content">
                @if (categoryList != null && categoryList.Count > 0)
                {
                    foreach (BlogCategory item in categoryList)
                    {
                        <ul>
                            <li class="cat-item"><a href="@Anpero.StringHelpper.GetBlogCategoryLink(item.Name,item.Id)">@item.Name</a></li>
                        </ul>
                    }
                }
            </div>
        </div>        
    </div>
</div>
