@using AnperoFrontend.WebService;
@model  SearchResult
@if (Model != null && Model.Item.Length > 0)
{
    for (int i = 0; i < Model.Item.Length; i++)
    {
        var item = Model.Item[i];        
        <div class="  product-item recent-product style-2  equal-elem rows-space-0 product type-product status-publish instock product_cat-trees-vegetables has-post-thumbnail purchasable product-type-simple">
            <div class="product-inner">
                <div class="product-thumb" style="width: 50%;float:left;">
                    <a class="thumb-link woocommerce-product-gallery__image" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">
                        <figure>
                            <img width="190" height="190" src="@item.Images" class="wp-post-image attachment-190x190 size-190x190" alt="@item.PrName" />
                        </figure>
                    </a>
                </div>
                <div class="product-info">
                    @if (item.IsSale)
                    {
                        <div class="flash">
                            <span class="onsale"><span class="text">-@Anpero.StringHelpper.GetDiscountPersen(item.Price, item.SalePrice)%</span></span>
                        </div>
                    }
                    <h3 class="product-name product_title">
                        <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">@item.PrName</a>
                    </h3>
                    <div>@item.Warranty tháng</div>
                    <span class="price">
                        @if (item.IsSale)
                        {
                            <del>
                                <span class="woocommerce-Price-amount amount">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price)</span>
                            </del>
                            <ins>
                                <span class="woocommerce-Price-amount amount">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice) đ</span>
                            </ins>
                        }
                        else
                        {
                            <ins>
                                <span class="woocommerce-Price-amount amount">Anpero.StringHelpper.ConVertToMoneyFormatInt(@item.Price)</span>
                            </ins>
                        }
                    </span>

                </div>
                <div class="product-item style-4">
                    <div class="countdown-container">
                        <div class="gokko-countdown" data-datetime="@Anpero.StringHelpper.ConvertDateTime(item.SaleEndTime.ToString()).ToString()"
                             data-txt_day="Ngày"
                             data-txt_hour="Giờ"
                             data-txt_min="Phút"
                             data-txt_sec="Giây" data-value_first="1"></div>
                    </div>
                </div>
                @if (item.IsInstock)
                {
                    <div class="group-button">
                        <div class="inner">
                            <div class="add-to-cart">
                                <a href="javascript:Cart.addProduct(@item.Id,@Convert.ToInt32(item.IsSale?item.SalePrice:item.Price),'@item.Images','@HttpUtility.HtmlEncode(item.PrName)')" class="button product_type_variable add_to_cart_button">Thêm vào giỏ hàng</a>
                            </div>

                        </div>
                    </div>
                }
            </div>
            </div>        
    }
}

