@using AnperoFrontend.WebService;
@model  SearchResult
    @if (Model!=null && Model.Item.Length > 0)
    {
        for (int i = 0; i < Model.Item.Length; i++)
        {
            var item = Model.Item[i];
            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-3426 status-publish instock product_cat-gadgets-accessories product_tag-appliances product_tag-bass product_tag-furniture has-post-thumbnail sale featured shipping-taxable purchasable product-type-variable has-default-attributes">
                <div class="product-inner">
                    <div class="product-thumb">
                        <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" class="button yith-wcqv-button">Chi tiết</a>
                        <a class="thumb-link woocommerce-product-gallery__image" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">
                            <figure>
                                <img width="300" height="300" src="@item.Images" class="wp-post-image attachment-300x300 size-300x300" alt="@item.PrName" />
                            </figure>
                        </a>
                        @if (item.IsSale)
                        {
                            <div class="flash">
                                <span class="onsale"><span class="text">@Anpero.StringHelpper.GetDiscountPersen(item.Price, item.SalePrice)%</span></span>
                            </div>
                        }

                    </div>
                    <div class="product-info">
                        <h3 class="product-name product_title">
                            <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">@item.PrName</a>
                        </h3>
                        <div>@item.Warranty tháng</div>
                        <span class="price">
                            @if (item.IsSale)
                            {
                                <del><span class="woocommerce-Price-amount amount">@(item.Price)đ</span></del>
                            }
                        <ins><span class="woocommerce-Price-amount amount">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.IsSale ? item.SalePrice : item.Price)</span>đ</ins>
                        </span>
                    </div>
                    @if (item.IsInstock)
                    {
                        <div class="group-button">
                            <div class="inner">
                                <div class="add-to-cart">
                                    <a href="javascript:Cart.addProduct(@item.Id,@Convert.ToInt32(item.IsSale?item.SalePrice:item.Price),'@item.Images','@HttpUtility.HtmlEncode(item.PrName)')" class="button product_type_variable add_to_cart_button">Mua ngay</a>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }

