@using AnperoFrontend.WebService;

@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Title = commonInfo.Desc;
    }

}
@section health{
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@commonInfo.Desc" />
}
<div class="content">
    <!-- Slider-->
    @Html.Partial("_partial/_HomeSlide_1");
    <div id="top">
        <div class="container">
            <div class="row">
                <ul>
                    @if (ViewData["AdsSlide"] != null)
                    {
                        Ads[] slide = (Ads[])ViewData["AdsSlide"];
                        if (slide.Length > 0)
                        {
                            for (int i = 0; i < slide.Length; i ++)
                            {
                                <li>
                                    <div>
                                        <a href="@slide[i].ClickUrl" data-scroll-goto="@(i+1)">
                                            <img src="@slide[i].ImagesUrl" alt="@slide[i].Description" />
                                        </a>
                                    </div>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <!--Category slider Start-->
    <div class="top-cate">
        <div class="featured-pro container">
            <div class="row">
                <div class="slider-items-products">
                    <div class="new_title">
                        <h2>Loại Sản phẩn</h2>
                    </div>
                    <div id="top-categories" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4 products-grid">
                            @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                            {
                                foreach (var item in commonInfo.ProductCategoryList)
                                {
                                    if (item.ChildCategory != null && item.ChildCategory.Length > 0)
                                    {
                                        foreach (var childItem in item.ChildCategory)
                                        {
                                            <!-- Item -->
                                            <div class="item">
                                                <div class="pro-img">
                                                    <a href="#">
                                                        <img src="/assets/images/p1.jpg" alt="Retis lapen casen">
                                                        <div class="pro-info">@childItem.Name</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End Item -->
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Category silder End-->
    <!-- best Pro Slider -->
    <section class=" wow bounceInUp animated">
        <div class="best-pro slider-items-products container">
            <div class="new_title">
                <h2>Sản phẩm bán chạy</h2>
            </div>
            <div class="cate-banner-img">
                @if (ViewData["AdsSlide2"] != null)
                {
                    Ads[] slide = (Ads[])ViewData["AdsSlide2"];
                    if (slide.Length > 0)
                    {
                        <img src="@slide[0].ImagesUrl" alt="@slide[0].Description" />
                    }
                }
            </div>
            <div id="best-seller" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4 products-grid">
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="product-detail.html" title="Retis lapen casen" class="product-image"><img src="/assets/images/product-img.jpg" alt="Retis lapen casen"></a>
                                    <div class="new-label new-top-left">New</div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                            <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">Retis lapen casen</a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"><span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="add_cart">
                                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="product-detail.html" title="Retis lapen casen" class="product-image"><img src="/assets/images/product-img.jpg" alt="Retis lapen casen"></a>
                                    <div class="new-label new-top-left">New</div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                            <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">Retis lapen casen</a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"><span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="add_cart">
                                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="product-detail.html" title="Retis lapen casen" class="product-image"><img src="/assets/images/product-img.jpg" alt="Retis lapen casen"></a>
                                    <div class="sale-label sale-top-left">Sale</div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                            <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">Retis lapen casen</a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"><span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="add_cart">
                                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->

                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="product-detail.html" title="Retis lapen casen" class="product-image"><img src="/assets/images/product-img.jpg" alt="Retis lapen casen"></a>
                                    <div class="new-label new-top-left">New</div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                            <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">Retis lapen casen</a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"><span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="add_cart">
                                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="product-detail.html" title="Retis lapen casen" class="product-image"><img src="/assets/images/product-img.jpg" alt="Retis lapen casen"></a>
                                    <div class="new-label new-top-left">New</div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                            <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">Retis lapen casen</a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"><span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="add_cart">
                                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="product-detail.html" title="Retis lapen casen" class="product-image"><img src="/assets/images/product-img.jpg" alt="Retis lapen casen"></a>
                                    <div class="new-label new-top-left">New</div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                            <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">Retis lapen casen</a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"><span class="price">$125.00</span> </span> </div>
                                        </div>
                                        <div class="add_cart">
                                            <button class="button btn-cart" type="button"><span>Add to Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->
                </div>
            </div>
        </div>
    </section>



    <!-- Home Lastest Blog Block -->
    <div class="latest-blog wow bounceInUp animated animated container">
        <!--exclude For version 6 -->
        <div class="new_title">
            <h2>Latest Blog</h2>
        </div>
        <!--blog-title-->
        <!--For version 1,2,3,4,5,6,8 -->
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
            <div class="blog_inner">
                <div class="blog-img">
                    <a href="blog-detail.html"> <img src="/assets/images/blog-img.jpg" alt="blog image"> </a>
                    <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                </div>
                <!--blog-img-->
                <div class="blog-info">
                    <div class="post-date">
                        <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">14 <br> April</time>
                    </div>
                    <h3><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada ...</p>
                    <a class="readmore" href="blog-detail.html">Read More</a>
                </div>
            </div>
            <!--blog_inner-->
        </div>
        <!--col-lg-4 col-md-4 col-xs-12 col-sm-4-->
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
            <div class="blog_inner">
                <div class="blog-img">
                    <a href="blog-detail.html"> <img src="/assets/images/blog-img.jpg" alt="blog image"> </a>
                    <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                </div>
                <!--blog-img-->
                <div class="blog-info">
                    <div class="post-date">
                        <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">14 <br> April</time>
                    </div>
                    <h3><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada ...</p>
                    <a class="readmore" href="blog-detail.html">Read More</a>
                </div>
            </div>
            <!--blog_inner-->
        </div>

        <!--col-lg-4 col-md-4 col-xs-12 col-sm-4-->
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
            <div class="blog_inner">
                <div class="blog-img">
                    <a href="blog-detail.html"> <img src="/assets/images/blog-img.jpg" alt="blog image"> </a>
                    <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                </div>
                <!--blog-img-->
                <div class="blog-info">
                    <div class="post-date">
                        <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">14 <br> April</time>
                    </div>
                    <h3><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada ...</p>
                    <a class="readmore" href="blog-detail.html">Read More</a>
                </div>
            </div>
            <!--blog_inner-->
        </div>
        <!--col-lg-4 col-md-4 col-xs-12 col-sm-4-->
        <!--END For version 1,2,3,4,5,6,8 -->
        <!--exclude For version 6 -->
        <!--container-->
    </div>

    <!-- Logo Brand Block -->
    <div class="brand-logo wow bounceInUp animated">
        <div class="container">
            <div class="row">
                <div class="logo-brand col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="new_title">
                        <h2>Brand Logo</h2>
                    </div>
                    <div class="slider-items-products">
                        <div id="brand-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col6">
                                <!-- Item -->
                                <div class="item">
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                    <div class="logo-item"><a href="#"><img src="/assets/images/brand-logo.jpg" alt="Image"></a></div>
                                </div>
                                <!-- End Item -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimonials-section">
                    <div class="offer-slider parallax parallax-2">
                        <ul class="bxslider">
                            <li>
                                <div class="avatar"><img src="/assets/images/testimonial-photo.png" alt="Image"></div>
                                <div class="testimonials">"Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."</div>
                                <div class="clients_author">	Smith John	<span>Happy Customer</span>	</div>
                            </li>
                            <li>
                                <div class="avatar"><img src="/assets/images/testimonial-photo.png" alt="Image"></div>
                                <div class="testimonials">"Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."</div>
                                <div class="clients_author">	Karla Anderson	<span>Happy Customer</span>	</div>
                            </li>
                            <li>
                                <div class="avatar"><img src="/assets/images/testimonial-photo.png" alt="Image"></div>
                                <div class="testimonials">"Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."</div>
                                <div class="clients_author">	Smith John	<span>Happy Customer</span>	</div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-features-box wow bounceInUp animated animated">
    <div class="container">
        <ul>
            <li>
                <div class="feature-box free-shipping">
                    <div class="icon-truck"></div>
                    <div class="content">FREE SHIPPING on order over $99</div>
                </div>
            </li>
            <li>
                <div class="feature-box need-help">
                    <div class="icon-support"></div>
                    <div class="content">Need Help +1 800 123 1234</div>
                </div>
            </li>
            <li>
                <div class="feature-box money-back">
                    <div class="icon-money"></div>
                    <div class="content">Money Back Guarantee</div>
                </div>
            </li>
            <li class="last">
                <div class="feature-box return-policy">
                    <div class="icon-return"></div>
                    <div class="content">30 days return Service</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- For version 1,2,3,4,6 -->