@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}
<div class="header-top">
    <div class="header-top-bar hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <div class="contact-number">
                        <a href="http://admin.anpero.com" title="quản trị web bán hàng">Trang quản trị |</a>
                        @if (!string.IsNullOrEmpty(commonInfo.HotLine))
                        {
                            <a href="tel:@commonInfo.HotLine"><span><i class="fa fa-phone"></i></span>@commonInfo.HotLine</a>
                        }
                        @if (!string.IsNullOrEmpty(commonInfo.Email))
                        {
                            <a href="mailto:@commonInfo.Email"><span><i class="fa fa-envelope-o"></i></span>@commonInfo.Email</a>
                        }
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <div class="social-menu">
                        @if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                        {
                            <a href="http://www.facebook.com/share.php?u=@commonInfo.FaceBookLink&title=@commonInfo.Desc" target="_blank"><i class="fa fa-facebook"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(commonInfo.Skype))
                        {
                            <a href="skype:@commonInfo.Skype?call"><i class="fa fa-skype"></i></a>
                        }
                        <a title="Chia sẻ trên google+" target="_blank" href="https://plus.google.com/share?url=@System.Web.HttpContext.Current.Request.Url.ToString()"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <nav class="mainmenu" id="mainmenu">
                    <div class="navbar-header">
                        <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo">                            
                            <a href="/#contact"><img alt="@commonInfo.Desc" src="@commonInfo.Logo" /></a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                        <ul class="nav navbar-nav">
                            @*@if (commonInfo.MenuList != null && commonInfo.MenuList.Length>0)
                            {
                                for (int i = 0; i < commonInfo.MenuList.Length; i++)
                                {
                                    <li>
                                        @if (ViewBag.pageName != null && !Request.Browser.IsMobileDevice && ViewBag.pageName == "home")
                                        {
                                            <a href="@commonInfo.MenuList[i].Link">@commonInfo.MenuList[i].Tittle</a>
                                        }
                                        else
                                        {
                                            if (commonInfo.MenuList[i].Link.Contains("/"))
                                            {
                                                <a href="@commonInfo.MenuList[i].Link">@commonInfo.MenuList[i].Tittle</a>
                                            }
                                            else
                                            {
                                                <a href="/@commonInfo.MenuList[i].Link">@commonInfo.MenuList[i].Tittle</a>
                                            }

                                        }
                                    </li>
                                }
                            }
                            else
                            {*@
                                @if (ViewBag.pageName != null && !Request.Browser.IsMobileDevice && ViewBag.pageName == "home")
                                {
                                   
                                    <li><a href="#about">Về chúng tôi</a></li>
                                    <li><a href="#philosophy">Công nghệ</a></li>                                    
                                    <li><a href="/blog">Hướng dẫn</a></li>
                                    <li><a href="#contact">Liên hệ</a></li>
                                    <li><a href="/products" title="Sản phẩm">Sản phẩm</a></li>
                                    
                                }
                                else
                                {
                                  
                                    <li><a href="/#about">Về chúng tôi</a></li>
                                    <li><a href="/#philosophy">Công nghệ</a></li>
                                    <li><a href="/blog">Hướng dẫn</a></li>
                                    <li><a href="/contact">Liên hệ</a></li>
                                    <li><a href="/products" title="Sản phẩm">Sản phẩm</a></li>
                                }
                            @*}*@
                        </ul>
                    </div>
                    <div class="menu-right-button hidden-xs hidden-sm">
                        <button id="search_toogle"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="search-box">
                        <form action="#" method="post">
                            <input type="search" name="search" placeholder="Search">
                            <button id="search"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>    
    <div id="sticky-helper"></div>
</div>
