@using AnperoFrontend.WebService;

@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}


@section health{
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(ViewBag.Keywords)" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.WebsiteUrl" />
    <meta property="og:image" content="@ViewBag.ImageUrl" />
    <link rel="canonical" href="@ViewBag.WebsiteUrl" />
}

<div class="container section-padding">
    <div class="breadcrumb clearfix">
        <a class="home" href="/" title="Return to Home">Home</a>

        @if (ViewBag.isChildend != null)
        {
            <span class="fa fa-caret-right">&nbsp;</span>
            <span class="navigation_page">
                <a href="@Anpero.StringHelpper.GetParentCategoryLink((string)ViewBag.ParentName,Convert.ToInt32(ViewBag.ParentId))" title="@ViewBag.ParentName">
                    @ViewBag.ParentName
                </a>
            </span>
        }
        <span class="fa fa-caret-right">&nbsp;</span>
        <span class="navigation_page">
            <strong>@ViewBag.Title</strong>
        </span>
    </div>
    <div class="row">

        @Html.Partial("product/_MenuAndAdsPartial")
        <div class="column col-md-9 col-xs-12 col-sm-12" id="center_column">
            <div class="pro-coloumn">
                <article class="col-main">
                    <div class="toolbar">
                        <div id="sort-by">
                            <label class="left">Sắp xếp: </label>
                            <ul>
                                <li>
                                    <a href="#">Tên<span class="right-arrow"></span></a>
                                    <ul>
                                        <li><a href="javascript:Search.setOrder('nameDesc');">Tên</a></li>
                                        <li><a href="javascript:Search.setOrder('pricedesc');">Giá giảm dần</a></li>
                                        <li><a href="javascript:Search.setOrder('pricedasc');">Giá tăng dần</a></li>
                                        <li><a href="javascript:Search.setOrder('timeDesc');">Mới nhất</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                        </div>

                        @if (!string.IsNullOrEmpty(ViewBag.page))
                        {
                            <div class="pager">
                                <div class="pages">
                                    <label>Trang:</label>
                                    @Html.Raw(ViewBag.page)
                                </div>
                            </div>
                        }
                    </div>
                    @if (ViewData["productList"] != null)
                    {

                        AnperoFrontend.WebService.SearchResult productList = (AnperoFrontend.WebService.SearchResult)ViewData["productList"];
                        if (productList.Item.Length > 0)
                        {
                            <div class="category-products">
                                <ol class="products-list" id="products-list">
                                    @foreach (AnperoFrontend.WebService.ProductItem item in productList.Item)
                                    {
                                        <li class="item  @(productList.Item.First() == item?"first":"even")">
                                            <div class="product-image">
                                                <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)" title="@item.PrName">
                                                    <img class="small-image" src="@item.Images" alt="@item.PrName">
                                                </a>
                                            </div>
                                            <div class="product-shop">
                                                <h2 class="product-name">
                                                    <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)" title="@item.PrName">@item.PrName</a>
                                                </h2>
                                                <div class="desc std">
                                                    <p>
                                                        @item.ShortDesc
                                                    </p>
                                                    <p>
                                                        <a class="link-learn" title="" href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">Chi tiết</a>
                                                    </p>
                                                </div>
                                                <div class="price-box">
                                                    @if (item.IsSale)
                                                    {
                                                        <p class="special-price">
                                                            <span class="price old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) đ</span>
                                                            <span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice) đ</span>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) đ</span> </p>
                                                    }

                                                </div>
                                                <div class="actions">
                                                    <button class="button btn-cart ajx-cart" title="Mua ngay" type="button" onclick="Cart.addProduct(@item.Id,'@Convert.ToInt32(item.IsSale?item.SalePrice:item.Price)','@item.Images','@item.PrName');"><span>Mua ngay</span></button>
                                                    @*<span class="add-to-links">
                                                            <button class="button btn-cart ajx-cart" title="Mua ngay" type="button" onclick="Cart.addProduct3(@item.Id,'@Convert.ToInt32(item.IsSale?item.SalePrice:item.Price)','@item.Images','@item.PrName');"><span>Giỏ hàng</span></button>

                                                        </span>*@
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ol>
                            </div>
                            <div class="toolbar">
                                <div id="sort-by">
                                    <label class="left">Sắp xếp: </label>
                                    <ul>
                                        <li>
                                            <a href="#">Tên<span class="right-arrow"></span></a>
                                            <ul>
                                                <li><a href="#">Tên</a></li>
                                                <li><a href="#">Giá</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.page))
                                {
                                    <div class="pager">
                                        <div class="pages">
                                            <label>Trang:</label>
                                            @Html.Raw(ViewBag.page)
                                        </div>
                                    </div>
                                }

                            </div>
                            <script>
                            var categoryId = @productList.Item[0].CatID;
                            var ParentCatId = @productList.Item[0].ParentId;
                            </script>
                        }
                        else
                        {
                            <script>
                                var categoryId = "";
                                var ParentCatId = "";
                            </script>

                            <p>Hiện tại nội dung đang cập nhật, quý khách vui lòng quay lại sau.</p>

                        }

                    }
                </article>
            </div>
        </div>
    </div>
</div>
@section  scripts{
    <script src="/assets/js/countdown/jquery.plugin.js"></script>
    <script type="text/javascript" src="/assets/js/countdown/jquery.countdown.js"></script>
    <script>

        $('[data-countdown]').each(function () {
            var $this = $(this), finalDate = $(this).data('countdown');
            $this.countdown(finalDate, function (event) {
                var fomat = '<span>%H</span><b></b><span>%M</span><b></b><span>%S</span>';
                $this.html(event.strftime(fomat));
            });
        });
        if ($('.countdown-lastest').length > 0) {
            var labels = ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'];
            var layout = '<span class="box-count"><span class="number">{dnn}</span> <span class="text">Ngày</span></span><span class="dot">:</span><span class="box-count"><span class="number">{hnn}</span> <span class="text">Giờ</span></span><span class="dot">:</span><span class="box-count"><span class="number">{mnn}</span> <span class="text">Phút</span></span><span class="dot">:</span><span class="box-count"><span class="number">{snn}</span> <span class="text">Giây</span></span>';
            $('.countdown-lastest').each(function () {
                var austDay = new Date($(this).data('y'), $(this).data('m') - 1, $(this).data('d'), $(this).data('h'), $(this).data('i'), $(this).data('s'));
                $(this).countdown({
                    until: austDay,
                    labels: labels,
                    layout: layout
                });
            });
        }
    </script>

}
