@using AnperoFrontend.WebService;
@{
    List<BlogCategory> categoryList = new List<BlogCategory>();
    SearchArticleResults TopArticle = new SearchArticleResults();
    if (ViewData["categoryMenuList"] != null)
    {
        categoryList = (List<BlogCategory>)ViewData["categoryMenuList"];
    }
    if (ViewData["FeatureArticle"] != null)
    {
        TopArticle = (SearchArticleResults)ViewData["FeatureArticle"];
    }
}
<div class="sidebar_small col-sm-3  col-sm-pull-9">
    <div id="shopify-section-sidebar-blog" class="shopify-section page_sidebar">
        <div class="sidebar">
            <div class="sidebar_widget sidebar_blog sidebar_widget__link-list">
                <h3 class="widget_header">Chuyên mục</h3>
                <div class="widget_content">
                    <ul class="sidebar_menu">
                        @foreach (BlogCategory item in categoryList)
                        {
                            <li class="csidebar_menu_item"><a class="sidebar_menu_links" href="@Anpero.StringHelpper.GetBlogCategoryLink(item.Name,item.Id)">@item.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="sidebar_widget sidebar_blog sidebar_widget__comments">
                <h3 class="widget_header">Bài viết đặc sắc</h3>
                <div class="widget_content">
                    <ul class="list_comments">
                        @if (TopArticle != null && TopArticle.ItemList.Length > 0)
                        {
                            for (int i = 0; i < TopArticle.ItemList.Length - 1; i++)
                            {
                                <li>
                                    <a href="@Anpero.StringHelpper.GetArticleLink(TopArticle.ItemList[i].Title,TopArticle.ItemList[i].Id)">
                                        <i class="fa fa-comment-o item_icon"></i>
                                        <span class="item_content">@TopArticle.ItemList[i].Title</span>
                                        <span class="clearfix"></span>
                                        <span class="item_info">
                                            <span class="item_author">Vicky</span>
                                            <time datetime="@Anpero.StringHelpper.ConvertTimeVN(TopArticle.ItemList[i].CreateDate)">
                                                <span class="item_date">@Anpero.StringHelpper.ConvertTimeVN(TopArticle.ItemList[i].CreateDate)</span>                                                
                                            </time>
                                        </span>
                                    </a>
                                </li>
                            }

                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
