@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Keywords = Anpero.StringHelpper.UnicodeToKoDau(commonInfo.Desc);
        ViewBag.WebsiteUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    }
}
@section health{
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta property="og:description" content="@commonInfo.Desc" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.WebsiteUrl" />
    <meta property="og:image" content="@commonInfo.Logo" />
}
<section class="section page-title bg-image context-dark" style="background-image: url(https://cdn.anpero.com/images/38/22021/bg-1-1920x4962021022814580386.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xl-8">
                <h2 class="page-title-text">@ViewBag.Title</h2>

            </div>
        </div>
    </div>
</section>

<section class="section-md bg-transparent">
    <div class="container">
        <div class="main container">
            <div class="std">
                <div class="wrapper_bl" style="margin-top: 1px;">
                    <div class="form_background">
                        @Html.Raw(ViewBag.HtmlContent)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

        </script>
    }
