@using AnperoFrontend.WebService;
@{

    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.WebsiteUrl = HttpContext.Current.Request.Url.AbsoluteUri;
        ViewBag.Title = "Liên hệ với chúng tôi | " + commonInfo.Name;
    }
}
@section health{
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta property="og:description" content="@commonInfo.Desc" />
    <meta property="og:title" content="@commonInfo.Desc" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.WebsiteUrl" />
    <meta property="og:image" content="@commonInfo.Logo" />
}
<div class="font-gotham" style="background: #292929; color:#fff;padding-top:10vh;padding-bottom:10vh">
    <div class="d-xl-flex justify-content-xl-center" style="margin-left: 10%;margin-right:10%;">
        <div class="contact-clean col-md-6 col-xs-12" style="padding:3% 5%;background: #3c3c3c">
            <form method="post">
                <h4 class="text-left" style="margin-bottom: 3vh;">Liên Hệ Với Chúng Tôi</h4>
                <div class="form-group">
                    <input name="name" id="name" style="background: #292929;border:0px" type="text" class="form-control" placeholder="Họ và tên">
                </div>
                <div class="form-group">
                    <input name="phone" id="phone" style="background: #292929;border:0px" type="text" class="form-control" placeholder="Số Điện Thoại">
                </div>
                <div class="form-group">
                    <input id="email" name="email" style="background: #292929;border:0px" type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group" style="display:none;">
                    <input type="text" class="form-control input-sm" id="address" placeholder="Địa chỉ *">
                </div>
                <div class="form-group">
                    <textarea name="message" id="message" style="background: #292929;border:0px" class="form-control" name="message" placeholder="Nội dung bạn muốn nói với chúng tôi" rows="10"></textarea>
                </div>
                <div class="row d-flex justify-content-center">

                    <!--Grid column-->
                    <div class="col-md-6">

                        <div id="g-recaptcha"></div>

                    </div>
                    <!--Grid column-->

                </div>


                <div class="form-group text-center" style="margin-top: 16px;">
                    <button id="btn-send-contact" class="btn btn-primary btn-lg" style="background: #292929;border:0px" type="button">Liên Hệ Ngay</button>
                </div>
            </form>
        </div>
        @if (!Request.Browser.IsMobileDevice)
        {
            <div style="margin-top: 15%;margin-left:10%" itemscope itemtype="http://schema.org/LocalBusiness">
                @Html.Raw(commonInfo.Address)

                <div>
                    <a href="https://www.facebook.com"><i class="fa fa-star fa-facebook soc-icon"></i></a>
                    <a href="https://www.facebook.com"><i class="fa fa-star fa-youtube soc-icon"></i></a>
                    <a href="https://www.facebook.com"><i class="fa fa-star fa-instagram soc-icon"></i></a>
                </div>
            </div>
        }

    </div>
</div>
<div>
    @Html.Raw(commonInfo.Footer)
</div>
@section scripts{
    <script src="~/Scripts/Bootrap.notify.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        var width = $(window).width();
        $("#ajax_loader").css("left", ((width / 2) - 100) + "px");
        var googleCatcha;
        $(window).load(function () {
            googleCatcha = grecaptcha.render('g-recaptcha', {
                'sitekey': googleCapchaSitekey,
                'theme': 'light',
                'hl': 'vi'
            });

            $("#btn-send-contact").click(function () {
                $("#btn-send-contact").removeAttr('disabled');
                var valid = true;
                var captchaResponse = grecaptcha.getResponse(googleCatcha);
                var _name = $("#name").val();
                var _email = $("#email").val();
                var _phone = $("#phone").val();
                var _address = $("#address").val();
                var _message = $("#message").val();
                if (_phone == null || _phone == "" || !Util.isVnFone(_phone)) {
                    Util.notify("", "Vui lòng nhập số điện thoại. ");
                    valid = false;
                }
                if (_name == null || _name == "") {
                    Util.notify("", "Vui lòng nhập tên liên hệ. ");
                    valid = false;
                }
                if (_message == null || _message == "") {
                    Util.notify("", "Vui lòng nhập nội dung tin nhắn. ");
                    valid = false;
                }
                if (captchaResponse == null || captchaResponse == "") {
                    Util.notify("", "Vui lòng click vào ô kiểm tra bảo mật. ");
                    valid = false;
                }
                if (valid) {
                    $("#ajax_loader").show();
                    $.ajax({
                        method: "post",
                        url: "/handler/ProductHandler.ashx",
                        datatype: "text/plain",
                        data: { op: "sendContact", name: _name, email: _email, phone: _phone, address: _address, message: _message, captcha: captchaResponse },
                        success: function (rs) {
                            $("#ajax_loader").hide();
                            if (!isNaN(rs)) {
                                Util.notify("", "Tin nhắn liên hệ đã được gửi, cảm ơn bạn đã đóng góp!");
                            }
                            resetContactForm();

                        }
                    });
                }
            });
        });
        function resetContactForm() {
            $("#name").val("");
            $("#email").val("");
            $("#phone").val("");
            $("#address").val("");
            $("#message").val("");
            grecaptcha.reset();
            $("#btn-send-contact").prop('disabled', false);
        }
    </script>
}
<style type="text/css">
    .row.footer{
        margin-top:1px;
    }
    iframe {
        width: 100%;
    }

    .item_title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 0 0 16px 0;
    }

    .template_contact .item_address h3 {
        margin-bottom: 9px;
    }

    .template_contact .contact_element {
        padding: 27px 0 26px 70px;
        border-bottom: 1px solid rgba(240,240,240,0.5);
        position: relative;
    }

    .template_contact .section_template__contact {
        margin-top: 30px;
    }

    .template_contact .contact_element svg {
        fill: #d11222;
        position: absolute;
        top: 27px;
        left: 20px;
    }
    .form-control{
    border: 1px solid #d11222;
    }
    .template_contact .contact_element h4 {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
</style>
