@using AnperoFrontend.WebService;
@{

    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Title = commonInfo.Name;
        ViewBag.Keywords = Anpero.StringHelpper.UnicodeToKoDau(commonInfo.Desc);
        ViewBag.WebsiteUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    }
    var isMobile = Request.Browser.IsMobileDevice;
}
@section health{
    <meta property="og:image:type" content="image/jpg">
    <meta content="@commonInfo.Name" name="author" />
    <meta property="og:image" content="@commonInfo.Logo">
    <meta property="og:description" content="@commonInfo.Desc">
    <meta property="og:description" content="@commonInfo.Desc">
    <meta name="description" content="@commonInfo.Desc" />

}
@section healthHtml{
    <a href="/"><img src="/assets/img/HeaderImg.png" style="width: 100%;"></a>
}
<div class="container-fluid">
    <div class="row">
        @if (ViewData["slide"] != null)
        {

            <div class="owl-carousel-1 owl-carousel  owl-theme box-slide">
                @if (ViewData["Slide"] != null)
                {
                    Ads[] adsList = (Ads[])ViewData["Slide"];
                    if (adsList.Length > 0)
                    {
                        foreach (var item in adsList)
                        {

                            <div class="d-inline-block home-mau-xam Intro item ">
                                <a href="@item.ClickUrl">
                                    <img src="@item.ImagesUrl" style="width: 100%;">
                                </a>
                                @Html.Raw(item.Description)

                            </div>
                        }
                    }
                }
            </div>
        }

        <div id="About"  class="bg-white d-inline-flex w-100">
            <div class="owl-carousel-1 owl-carousel slide owl-theme box-slide bg-white " id="AboutText">
                @if (ViewData["ads1"] != null)
                {
                    Ads[] adsList = (Ads[])ViewData["ads1"];
                    if (adsList.Length > 0)
                    {
                        foreach (var item in adsList)
                        {
                            <div class="item">
                                <div class="bg-white text-center p-4 ">
                                    <img class="w-100" src="@item.ImagesUrl">
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>

        @if (ViewData["ads2"] != null)
        {
            Ads[] adsList = (Ads[])ViewData["ads2"];
            if (adsList.Length > 0)
            {
                foreach (var item in adsList)
                {
                    <a style="width: 50%;" href="@item.ClickUrl">
                        <img style="width: 100%;" src="@item.ImagesUrl" />
                    </a>
                }
            }
        }
    </div>

    <div style="padding-top: 4%;padding-bottom: 4%;">
        <h2 class="text-center font-bold-play-fair"> Các Hoạt Động <br> Của một hành trình </h2><img class="gach-xanh" src="/assets/img/gach-xanh.png" style="margin-left: 49%;">
    </div>
    <div class="row hanhTrinh-hoatDong">
        @if (ViewData["ads3"] != null)
        {
            Ads[] adsList = (Ads[])ViewData["ads3"];
            if (adsList.Length > 0)
            {
                foreach (var item in adsList)
                {
                    <figure class="figure col-3" style="padding: 0;width: 25%;">
                        <a title="@item.Description" href="@item.ClickUrl" style="width: 100%;">
                            <img class="img-fluid" src="@item.ImagesUrl" style="width: 100%;margin: 0px;padding: 0px;" alt="@item.Description">
                        </a>
                    </figure>
                }
            }
        }
    </div>
    <div id="hanhTrinh" class="hanhTrinh home-mau-xam row">
        @if (commonInfo.ProductCategoryList.Length > 0)
        {
            var product = commonInfo.ProductCategoryList.Where(x => x.Id == 1082).FirstOrDefault();
            SearchResult productList = (SearchResult)ViewData["hanhtrinh"];

            <div id="hanhTrinh2-text" class="col-md-4 col-xs-12  hanhTrinh-text">
                <h2 class="font-bold-play-fair">@product.Name</h2>
                <img class="gach-xanh" src="/assets/img/gach-xanh.png" style="padding-bottom: 13%;">
                @Html.Raw(product.Description)
            </div>
            <div class="col-md-8 col-xs-12">

                <div class="owl-carousel-4 box-slide owl-carousel owl-theme d-inline-flex" style="overflow:hidden;">
                    @foreach (var subItem in productList.Item)
                    {
                        <div class="upText item">
                            <a href="@Anpero.StringHelpper.GetProductLink(subItem.PrName,subItem.Id)">
                                <img class="upText-img w-100" src="@subItem.Images">
                            </a>
                            <div class="upText-Text">
                                <p>@subItem.Tag</p>
                                <h5 class="font-bold-play-fair">@subItem.PrName</h5>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }

    </div>
    <div id="khachMoi" class="row " style="padding: 0;margin: 0;">
        <div class="bg-white col-12 row d-inline-flex" style="padding: 0;">
            @if (commonInfo.ProductCategoryList.Length > 0)
            {
                var categoryItem = commonInfo.ProductCategoryList.Where(x => x.Id == 1088).FirstOrDefault();
                SearchResult productList = (SearchResult)ViewData["khachmoi"];
                if (isMobile)
                {
                    <div style="margin-right: 15%;margin-top: 15%;margin-left: 15%;">
                        <h2 class="font-bold-play-fair" style="margin-bottom: 0px;padding-bottom: 2%;">Khách Mời</h2>
                        <img class="gach-xanh" src="/assets/img/gach-xanh.png" style="padding-bottom: 13%;">
                        <p>@Html.Raw(categoryItem.Description)</p>
                    </div>
                }
                <div id="khacMoiAnh" class="col-md-8 multi-item-carousel" style="padding: 0px;overflow:hidden;">
                    <div role="listbox" class="owl-carousel-4 box-slide d-inline-flex">
                        @foreach (var item in productList.Item)
                        {
                            <div class="item">
                                <div class="bg-dark row pad-mr-0">
                                    <!-- khach moi  -->
                                    <div class="item-fade w-100">
                                        <img class="w-100 item-fade-img" src="@item.Images" />
                                        <div class="item-fade-text">
                                            <h4>@Html.Raw(item.PrName)</h4>
                                            <p>@item.Tag</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>


                </div>
                <div id="khachMoiText" class="col-md-4" style="padding: 0;">
                    @if (!isMobile)
                    {
                        <div style="margin-right: 25%;margin-top: 40%;margin-left: 25%;">
                            <h2 class="font-bold-play-fair" style="margin-bottom: 0px;padding-bottom: 2%;">Khách Mời</h2>
                            <img class="gach-xanh" src="/assets/img/gach-xanh.png" style="padding-bottom: 13%;">
                            <p>@Html.Raw(categoryItem.Description)</p>
                        </div>
                    }
                </div>
            }

        </div>
    </div>

    <div id="thuVien" class="home-mau-xam row" style="padding-top: 8%;padding-bottom: 8%;">
        <div class="col-12">
            <div id="thuVienText" class="text-center" style="margin-bottom: 3%;margin-top: -3%;">
                <h2 class="font-bold-play-fair" style="padding: 0;">Thư Viện</h2>
                <p style="padding-bottom: 0;">Ảnh Và Video Cuộc Hành Trình</p><img class="gach-xanh" src="/assets/img/gach-xanh.png">
            </div>
        </div>
        <div class="col-12">
            <div id="thuVienCards">
                <div class="carousel slide" data-ride="carousel" id="carousel-2">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active d-inline-flex">
                            <div class="row owl-carousel-4 box-slide" style="margin-right: 1%;margin-left: 1%;">
                                @if (ViewData["thuvien"] != null)
                                {

                                    SearchResult productList = (SearchResult)ViewData["thuvien"];
                                    foreach (var item in productList.Item)
                                    {
                                        <div class="tv-card-item item">
                                            <div class="bg-white">
                                                <a href="/@(Anpero.StringHelpper.toURLgach(item.PrName)+"-t"+item.Id)">
                                                    <img class="tv-card-img" src="@item.Images">
                                                </a>
                                                <div class="tv-card-text">
                                                    <h5 class="font-bold-play-fair" style="margin-bottom: 0;">@item.PrName</h5>
                                                    <div class="row" style="margin: 0;">
                                                        <p style="margin-bottom: 0;width: 50%;padding-bottom:10%;">@item.Tag</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                }


                            </div>
                        </div>
                    </div>
                    <div>
                        @*<a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-2" role="button"
                            data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>*@
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="chiaSe-camNhan" class="text-center" style="padding-bottom: 5%;">
        <h2 class="font-bold-play-fair" style="padding-top: 7%;margin-bottom: 7%;">Chia Sẻ &amp; Cảm Nhận</h2>
        <div id="chiaSe-camNhan-content">

            @if (ViewData["chiase"] != null)
            {

                SearchResult productList = (SearchResult)ViewData["chiase"];
                if (productList != null && productList.Item.Length > 0)
                {

                }
                <div class="row " style="padding-bottom: 5%;padding-right: 8%;padding-left: 8%;">
                    @for (int i = 0; i < productList.Item.Length; i++)
                    {
                        var showMoreClass = "";
                        if (i >= 6)
                        {
                            showMoreClass = "showMore";
                        }
                        <div class="cscn-item col-md-4 col-sm-12 @showMoreClass">
                            <img src="@productList.Item[i].Images" style="border-radius: 50%;width:40%;">
                            <h6 class="font-bold-play-fair">@productList.Item[i].PrName</h6>
                            <h6 class="text-uppercase">@Html.Raw(productList.Item[i].Tag)</h6>
                            <p class="cmt">
                                @Html.Raw(productList.Item[i].ShortDesc)
                            </p>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="justify-content-center row">
            <div class="col-2" style="padding-bottom: 3%;">
                <i class="fa fa-angle-double-down show-more-icon icon-show" id="showicon"></i>
            </div>
        </div>
        <div id="cscn-boder" style="margin-right: 5%;margin-left: 5%;"></div>
    </div>
</div>
@section footerHtml{
    <div class="text-center" id="amz-info">
        <div id="amz-info-btc" class="text-center">
            <h4 class="font-bold-play-fair" style="padding-bottom: 1%;">Ban Tổ Chức</h4>
            
                @if (ViewData["ads6"] != null)
                {
                    Ads[] adsList = (Ads[])ViewData["ads6"];
                    if (adsList.Length > 0)
                    {
                        foreach (var item in adsList)
                        {
                            <img class="col-1" src="@item.ImagesUrl">
                        }
                    }
                }
            
        </div>
        <img class="gach-xanh" src="/assets/img/gach-xanh.png" style="padding-bottom: 1%;">
        <div id="amz-info-doiTac" class="text-center" style="padding-top: 2%;">
            <h4 class="font-bold-play-fair" style="padding-bottom: 1%;">Đối Tác</h4>
            <div class="justify-content-center align-items-center row box-slide" style="padding-bottom: 1%;">
                <div class="owl-carousel-4">
                    @if (ViewData["ads4"] != null)
                    {
                        Ads[] adsList = (Ads[])ViewData["ads4"];
                        if (adsList.Length > 0)
                        {
                            foreach (var item in adsList)
                            {
                                <img class="col-12" src="@item.ImagesUrl">
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <img class="gach-xanh" src="/assets/img/gach-xanh.png" style="padding-bottom: 3%;">
        <div id="amz-info-ntt" class="text-center" style="padding-bottom: 5%;">
            <h4 class="font-bold-play-fair" style="padding-bottom: 1%;">Nhà tài trợ</h4>
            <div data-ride="carousel" class="carousel">
                <div role="listbox" class="carousel-inner">
                    <div class="justify-content-center align-items-center row box-slide" style="padding-bottom: 1%;">

                        <div class="owl-carousel-6">

                            @if (ViewData["ads5"] != null)
                            {
                                Ads[] adsList = (Ads[])ViewData["ads5"];
                                if (adsList.Length > 0)
                                {
                                    foreach (var item in adsList)
                                    {
                                        <img class="col-12 item" src="@item.ImagesUrl">
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#carousel-3" role="button" data-slide="prev" class="carousel-control-prev">
                        <span aria-hidden="true"></span><span class="sr-only">Previous</span>
                    </a>
                    <a href="#carousel-3" role="button" data-slide="next" class="carousel-control-next">
                        <span aria-hidden="true"></span><span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <style>
        .showMore {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#showicon").click(function () {
                $(".showMore").slideDown();
            });

        });

    </script>
}
