@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }   
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="REFRESH" content="1800" />
    <meta name="robots" content="index,follow,all" />
    <meta property="og:title" content="@ViewBag.Title" />
    @RenderSection("health", required: false)
    @Styles.Render("~/Content/css")
    
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/revslider.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/jquery.mobile-menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet/responsive.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">


</head>
<body>
      
 @Html.Partial("_partial/_MainHeader_1");
    @RenderBody()
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @Html.Raw(commonInfo.AnperoPlugin)
    @RenderSection("scripts", required: false)
    @Html.Raw(commonInfo.PageScript)
    
    
    
    
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/parallax.js"></script>
    <script type="text/javascript" src="/assets/js/revslider.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.mobile-menu.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
   
        });
    </script>
    <script type="text/javascript">
    function HideMe()
    {
        jQuery('.popup1').hide();
        
    }
    </script> 
</body>
</html>
