@using AnperoFrontend.WebService;
@using Anpero.Constant;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Title = commonInfo.Desc;
    }

}
@section health{
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@commonInfo.Desc" />
}
@if (ViewData[PageContent.Ads1] != null)
{
    Ads[] slide = (Ads[])ViewData[PageContent.Ads1];
    if (slide != null && slide.Length > 0)
    {
        <section class="service-area padding-top gray-bg" id="service">
            <div class="container">
                <div class="row">
                    <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="page-title">
                            @Html.Raw(slide[0].Description)
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    @if (slide.Length > 1)
                    {
                        for (int i = 1; i < slide.Length; i++)
                        {<div class="col-xs-12 col-sm-4 xs-bottom-40 wow fadeIn">
                                <div class="single-service">
                                    <div class="service-photo">
                                        <a href="@slide[i].ClickUrl" class="read-more">  <img src="@slide[i].ImagesUrl" alt="pet" style="height:100px;"></a>
                                    </div>
                                    @Html.Raw(slide[i].Description)
                                </div>
                            </div>

                        }
                    }
                    <br />
                </div>
            </div>
        </section>
    }
}
@if (ViewData[PageContent.Ads2] != null)
{
    Ads[] slide2 = (Ads[])ViewData[PageContent.Ads2];
    if (slide2 != null && slide2.Length > 0)
    {
        <section class="about-area section-padding section-relative" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-justify wow fadeIn">
                        @Html.Raw(slide2[0].Description)

                    </div>
                    <div class="col-xs-12 col-sm-6 text-right wow fadeIn">
                        <img src="@slide2[0].ImagesUrl" />
                    </div>
                </div>
            </div>
        </section>

    }
    if (ViewData[PageContent.Ads3] != null)
    {
        Ads[] Ads3 = (Ads[])ViewData[PageContent.Ads3];
        if (Ads3 != null && Ads3.Length > 0)
        {
            <section class="photography-area section-relative" id="philosophy">
                <div class="container">


                    <div class="row">
                        <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                            @Html.Raw(Ads3[0].Description)
                        </div>
                    </div>
                    @if (Ads3.Length > 1)
                    {
                        
                        <div id="photographyCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5">
                                    <div class="carousel-inner" role="listbox">
                                        @for (int i = 1; i < Ads3.Length; i++)
                                        {

                                            <div class="item @((i==1)?"active":"")">
                                                <img src="@Ads3[i].ImagesUrl">
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7">
                                    <ol class="carousel-indicators">
                                        @for (int i = 1; i < Ads3.Length; i++)
                                        {
                                            <li data-target="#photographyCarousel" data-slide-to="@(i-1)" class="@((i==1)?"active":"")">
                                                <div class="single-photography">
                                                    @Html.Raw(Ads3[i].Description)
                                                </div>
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </section>

        }
    }
}

@if (ViewData["FeatureArticle"] != null)
{
    SearchArticleResults FeatureArticle = (SearchArticleResults)ViewData["FeatureArticle"];
    <section class="blog-area section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title">
                        <h2>Cập nhật mới nhất</h2>
                        <p>Xem thêm các cập nhật về @commonInfo.Name tại đây <a href="/blog" title="Thiết kế web bán hàng tốt nhất">Xem thêm tại đây</a></p>
                    </div>
                </div>
            </div>
            <div class="row blog-slide">
                @foreach (BlogItem item in FeatureArticle.ItemList)
                {
                    <div class="col-xs-12 wow fadeIn">
                        <div class="single-blog">
                            <div class="blog-photo">
                                <a href="@Anpero.StringHelpper.GetArticleLink(item.Title, item.Id)"><img src="@item.Thumb" alt="@item.Title"></a>
                                <div class="blog-date">
                                    <h3><span>@Anpero.StringHelpper.ConvertTimeVN(item.CreateDate)</span></h3>
                                </div>
                            </div>
                            <h2>@Anpero.StringHelpper.SubString(38, item.Title)</h2>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
}

@Html.Partial("_partial/_contact")
@section scripts{


    <script type="text/javascript">
        jQuery(document).ready(function () {
            $(".blog-slide").owlCarousel({
                items: 3,
                loop: true,
                lazyLoad: true,
                autoplay: true,
                autoplayTimeout: 7000,
                smartSpeed: 1000,
                responsive: {
                    // breakpoint from 0 up
                    0: {
                        items: 1,
                    },
                    // breakpoint from 480 up
                    480: {
                        items: 2,
                    },
                    // breakpoint from 768 up
                    768: {
                        items: 3,
                    }
                }
            });
        });

        /* Sticky Navbar jQuery
        =========================*/
        function sticky_relocate() {
            var menu = $('.mainmenu-area'),
                window_top = $(window).scrollTop(),
                div_top = $('#sticky-helper').offset().top;
            if (window_top > div_top) {
                menu.addClass('sticky');
            } else {
                menu.removeClass('sticky');
            }
        }
        $(window).scroll(sticky_relocate);
        sticky_relocate();
    </script>

    <script src="~/Scripts/Bootrap.notify.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        var width = $(window).width();
        $("#ajax_loader").css("left", ((width / 2) - 100) + "px");
        var googleCatcha;
        $(window).load(function () {
            googleCatcha = grecaptcha.render('g-recaptcha', {
                'sitekey': googleCapchaSitekey,
                'theme': 'light',
                'hl': 'vi'
            });
        });

    </script>
}
