@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Title = commonInfo.Desc;
    }

}
@section health{
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@commonInfo.Desc" />    
}
<section class="service-area padding-top gray-bg" id="service">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title">
                    <h2>Sứ mệnh Ofrezh</h2>
                    <p>Trước tiên, hệ thống nông trại Ofrezh Farming System chỉ sản xuất phân bón, đất trồng, thức ăn chăn nuôi phụ phẩm nông nghiệp 100% hữu cơ từ nguồn nhiên liệu tự nhiêu sẵn có trong nước.</p>
                    <p>Song song với đó, chúng tôi cũng sử dụng chính các nguyên liệu sản phẩm từ đàu vào đó để sản xuất thực phẩm hữu cơ tự nhiên như rau hữu cơ, thịt lợn, trứng gà, trứng vịt...</p>
                    <p>Nguyên tắc bất biến của Ofrezh là hoàn toàn không sử dụng hóa chất, phân bón hóa học, thuốc bảo vệ thực vật, thuốc trừ sâu... trong quy trình sản xuất nông sản kể cả khâu đóng gói, bảo quản</p>

                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12 col-sm-4 xs-bottom-40 wow fadeIn">
                <div class="single-service">
                    <div class="service-photo">
                        <img src="https://media.anpero.com/images/29/82018/seed100x1002018082017502539.png" alt="pet" style="height:100px;">
                    </div>
                    <h2>Hạt giống</h2>
                    <p>Củ và hạt giống được nhập từ các công ty uy tín nhất thế giới. Đảm bảo tỷ lệ nảy mầm cao. </p>
                    <a href="/hat-giong-c55" class="read-more">Read more</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 xs-bottom-40 xs-bottom-40 wow fadeIn">
                <div class="single-service">
                    <div class="service-photo">
                        <img src="https://media.anpero.com/images/38/72018/12018071020100629.png" alt="pet" style="height:100px;">
                    </div>
                    <h2>Con người</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 xs-bottom-40  wow fadeIn">
                <div class="single-service">
                    <div class="service-photo">
                        <img src="https://media.anpero.com/images/38/72018/worm2018071020105847.png" alt="pet" style="height:100px;">
                    </div>
                    <h2>Phân trùn quế</h2>
                    <p>Bổ xung dưỡng chất cho đất một cách bền vững, tăng tỷ lệ nảy mầm cho hạt giống, giúp cây to khỏe.</p>
                    <a href="/phan-trun-que-c56" class="read-more">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area section-padding section-relative" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-justify wow fadeIn">
                <div class="page-title">
                    <h2>Về chúng tôi</h2>
                </div>
                <div class="about-text">
                    <h3>Những con người sáng tạo và có tầm nhìn</h3>
                    <p>
                        Ofrezh được thành lập vào năm 2018 trên di sản của Công ty Cổ phần Mạnh Khang, một công ty thương mại chuyên về hệ thống canh tác đô thị và phân bón chất lượng cao,
                        với tầm nhìn để tạo ra một thế hệ canh tác hữu cơ bền vững trên khắp Việt Nam và khu vực Đông Nam Á.
                    </p>    
                    <p>
                        Với một mạng lưới các trang trại <strong>trùn quế</strong> ngày càng phát triển và nhiều năm kinh nghiệm trong việc thiết lập hệ thống nhà kính đô thị và các hệ thống phát triển thông minh với quy mô khác nhau, 
                        Ofrezh hướng đến việc cung cấp từ trang trại đến gia đình
                    </p>
                    <div class="about-text-button">
                        <a href="/home/about" class="battn">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right wow fadeIn">
                <img src="/assets/images/about.jpg" />
            </div>
            </div>
    </div>
</section>
<section class="photography-area  section-relative" id="philosophy">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title">
                    <h2>Công nghệ sử dụng</h2>
                    <p>Anpero sử dụng các công nghệ an toàn và tân tiến nhất được cập nhật liên tục để thiết kế hệ thống web quản lý bán hàng. Khách hàng có thể yên tâm về độ ổn định cũng như bảo mật khi sử dụng hệ thống quản trị web bán hàng của chúng tôi! <a href="/about" title="dự án ngoại giao đoàn">Xem thêm</a></p>
                </div>
            </div>
        </div>
        <div id="photographyCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="/assets/images/455x480.png" alt="thiết kế web bán hàng">
                        </div>
                        <div class="item">
                            <img src="/assets/images/slide2.jpg" alt="thiết kế web quản lý bán hàng">
                        </div>
                        <div class="item">
                            <img src="/assets/images/slide3.png" alt="web bán hàng giá rẻ">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <ol class="carousel-indicators">
                        <li data-target="#photographyCarousel" data-slide-to="0" class="active">
                            <div class="single-photography">
                                <div class="photography-icon">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <h2>Công nghệ bảo quản</h2>
                                <p>Nền tảng để xây dựng Anpero là .NET Core, Sql Server đây là các công nghệ mà hầu hết các ngân hàng trên thế giới sử dụng. Thêm vào đó với sự hỗ trợ của trí thông minh nhân tạo của Microsoft’s giúp Anpero cập nhật và duy trì sự ổn định của hệ thống ở mức cao nhất</p>
                            </div>
                        </li>
                        <li data-target="#photographyCarousel" data-slide-to="1">
                            <div class="single-photography">
                                <div class="photography-icon">
                                    <i class="fa fa-database"></i>
                                </div>
                                <h2>Công nghệ nuôi trùn quế</h2>
                                <p>Cloud Server xây dựng trên nền tảng công nghệ điện toán đám mây Azure đảm bảo hệ thống chịu được tải cực lớn. Sử dụng SQL Data Warehouse của Microsoft được các kỹ sư giỏi nhất thế giới đảm bảo về độ an toàn và ổn định </p>
                            </div>
                        </li>
                        <li data-target="#photographyCarousel" data-slide-to="2">
                            <div class="single-photography">
                                <div class="photography-icon">
                                    <i class="fa fa-puzzle-piece "></i>
                                </div>
                                <h2>Công nghệ trồng rau hữu cơ</h2>
                                <p>Sử dụng nền tảng quản lý web bán hàng Anpero bạn có thể tự tùy bến web nếu biết chút ít về lập trình. Ngoài ra bạn cũng có thể tự chủ về nơi đặt frontend website (hosting) nếu dịch vụ của chúng tôi không làm bạn hài lòng.</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End-Photography-Area-->
<!-- Start-Blog-Area -->

@if (ViewData["FeatureArticle"] != null)
{
    SearchArticleResults FeatureArticle = (SearchArticleResults)ViewData["FeatureArticle"];
    <section class="blog-area section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title">
                        <h2>Cập nhật và hướng dẫn</h2>
                        <p>Xem thêm các cập nhật về hệ thống quản lý web bán hàng tại đây <a href="/blog" title="Thiết kế web bán hàng tốt nhất">Xem thêm tại đây</a></p>
                    </div>
                </div>
            </div>
            <div class="row blog-slide">
                @foreach (BlogItem item in FeatureArticle.ItemList)
                {
                    <div class="col-xs-12 wow fadeIn">
                        <div class="single-blog">
                            <div class="blog-photo">
                                <a href="@Anpero.StringHelpper.GetArticleLink(item.Title, item.Id)"><img src="@item.Thumb" alt="@item.Title"></a>
                                <div class="blog-date">
                                    <h3><span>@Anpero.StringHelpper.ConvertTimeVN(item.CreateDate)</span></h3>
                                </div>
                            </div>
                            <h2>@Anpero.StringHelpper.SubString(38, item.Title)</h2>                                                        
                            
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
}

@Html.Partial("_partial/_contact")
@section scripts{

<script src="/assets/js/owl-carousel-min.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function () {
            $(".blog-slide").owlCarousel({
                items: 3,
                loop: true,
                autoplay: true,
                autoplayTimeout: 7000,
                smartSpeed: 1000,
                responsive: {
                    // breakpoint from 0 up
                    0: {
                        items: 1,
                    },
                    // breakpoint from 480 up
                    480: {
                        items: 2,
                    },
                    // breakpoint from 768 up 
                    768: {
                        items: 3,
                    }
                }
            });
        });

        /* Sticky Navbar jQuery
        =========================*/
        function sticky_relocate() {
            var menu = $('.mainmenu-area'),
                window_top = $(window).scrollTop(),
                div_top = $('#sticky-helper').offset().top;
            if (window_top > div_top) {
                menu.addClass('sticky');
            } else {
                menu.removeClass('sticky');
            }
        }
        $(window).scroll(sticky_relocate);
        sticky_relocate();
</script>

    <script src="~/Scripts/Bootrap.notify.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        var width = $(window).width();
        $("#ajax_loader").css("left", ((width / 2) - 100) + "px");
        var googleCatcha;
        $(window).load(function () {
            googleCatcha = grecaptcha.render('g-recaptcha', {
                'sitekey': googleCapchaSitekey,
                'theme': 'light',
                'hl': 'vi'
            });

           
        });
    
    </script>
}
