@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Title = commonInfo.Desc;
    }

}
@section health{
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@commonInfo.Desc" />    
}
<section class="service-area padding-top gray-bg" id="service">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title">
                    <h2>Anpero là gì?</h2>
                    <p>Anpero là hệ thống web quản lý bán hàng tập trung trên công nghệ điện toán đám mây, với Anpero khách sẽ có hệ thống web bán hàng vô cùng chuyên nghiệp, các chức năng được cập nhật miễn phí và đều đặn so với việc bạn thuê viết một trang đơn lẻ. Hơn thế nữa khách hàng có thể tự chủ về  mã nguồn giao diện web, nơi lưu trữ web bán hàng (hosting)...</p>
                    <p>Sử dụng hệ thống anpero quý khách hàng sẽ giảm chi phí rất nhiêu nếu muốn thiết kế một trang web chuyên nghiệp, Có khả năng tương tác tuyệt vời như nhắn tin, gửi mail tự động và miễn phí cho bạn khi có khách đặt hàng, đảm bảo quý khách không bỏ lỡ bất cứ đơn hàng nào</p>
                    
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12 col-sm-4 xs-bottom-40 wow fadeIn">
                <div class="single-service">
                    <div class="service-photo">
                        <img src="https://media.anpero.com/images/38/72018/32018071020081358.jpg" alt="pet" style="height:100px;">
                    </div>
                    <h2>Giải pháp</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 xs-bottom-40 xs-bottom-40 wow fadeIn">
                <div class="single-service">
                    <div class="service-photo">
                        <img src="https://media.anpero.com/images/38/72018/12018071020100629.png" alt="pet" style="height:100px;">
                    </div>
                    <h2>Con người</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 xs-bottom-40  wow fadeIn">
                <div class="single-service">
                    <div class="service-photo">
                        <img src="https://media.anpero.com/images/38/72018/worm2018071020105847.png" alt="pet" style="height:100px;">
                    </div>
                    <h2>Công nghệ</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area section-padding section-relative" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-right wow fadeIn">
                <div class="page-title">
                    <h2>Về chúng tôi</h2>
                </div>
                <div class="about-text">
                    <h3>Những nhà quản lý và lập trình viên dày dạn kinh nghiệm</h3>
                    <p>Xuất phát từ nhu cầu sử dụng của chính doanh nghiệp mình, chúng tôi đã liên kết với nhau để tạo ra hệ thống quản lý web bán hàng chuyên nghiệp và an toàn. Anpero là tâm huyết của các kỹ sư hàng đầu trong lĩnh vực CNTT, các doanh nghiệp lớn trong ngành bán lẻ từ Mỹ và Việt Nam như Anker,TMT,Luxa ...</p>
                    <div class="about-text-button">
                        <a href="/home/about" class="battn">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right wow fadeIn">
                <img src="/assets/images/about.jpg" />
            </div>
            </div>
    </div>
</section>
<section class="photography-area  section-relative" id="philosophy">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title">
                    <h2>Công nghệ sử dụng</h2>
                    <p>Anpero sử dụng các công nghệ an toàn và tân tiến nhất được cập nhật liên tục để thiết kế hệ thống web quản lý bán hàng. Khách hàng có thể yên tâm về độ ổn định cũng như bảo mật khi sử dụng hệ thống quản trị web bán hàng của chúng tôi! <a href="/about" title="dự án ngoại giao đoàn">Xem thêm</a></p>
                </div>
            </div>
        </div>
        <div id="photographyCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="/assets/images/455x480.png" alt="thiết kế web bán hàng">
                        </div>
                        <div class="item">
                            <img src="/assets/images/slide2.jpg" alt="thiết kế web quản lý bán hàng">
                        </div>
                        <div class="item">
                            <img src="/assets/images/slide3.png" alt="web bán hàng giá rẻ">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <ol class="carousel-indicators">
                        <li data-target="#photographyCarousel" data-slide-to="0" class="active">
                            <div class="single-photography">
                                <div class="photography-icon">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <h2>Công nghệ lập trình</h2>
                                <p>Nền tảng để xây dựng Anpero là .NET Core, Sql Server đây là các công nghệ mà hầu hết các ngân hàng trên thế giới sử dụng. Thêm vào đó với sự hỗ trợ của trí thông minh nhân tạo của Microsoft’s giúp Anpero cập nhật và duy trì sự ổn định của hệ thống ở mức cao nhất</p>
                            </div>
                        </li>
                        <li data-target="#photographyCarousel" data-slide-to="1">
                            <div class="single-photography">
                                <div class="photography-icon">
                                    <i class="fa fa-database"></i>
                                </div>
                                <h2>Lưu trữ an toàn</h2>
                                <p>Cloud Server xây dựng trên nền tảng công nghệ điện toán đám mây Azure đảm bảo hệ thống chịu được tải cực lớn. Sử dụng SQL Data Warehouse của Microsoft được các kỹ sư giỏi nhất thế giới đảm bảo về độ an toàn và ổn định </p>
                            </div>
                        </li>
                        <li data-target="#photographyCarousel" data-slide-to="2">
                            <div class="single-photography">
                                <div class="photography-icon">
                                    <i class="fa fa-puzzle-piece "></i>
                                </div>
                                <h2>Khả năng tự chủ</h2>
                                <p>Sử dụng nền tảng quản lý web bán hàng Anpero bạn có thể tự tùy bến web nếu biết chút ít về lập trình. Ngoài ra bạn cũng có thể tự chủ về nơi đặt frontend website (hosting) nếu dịch vụ của chúng tôi không làm bạn hài lòng.</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End-Photography-Area-->
<!-- Start-Blog-Area -->

@if (ViewData["FeatureArticle"] != null)
{
    SearchArticleResults FeatureArticle = (SearchArticleResults)ViewData["FeatureArticle"];
    <section class="blog-area section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title">
                        <h2>Cập nhật và hướng dẫn</h2>
                        <p>Xem thêm các cập nhật về hệ thống quản lý web bán hàng tại đây <a href="/blog" title="Thiết kế web bán hàng tốt nhất">Xem thêm tại đây</a></p>
                    </div>
                </div>
            </div>
            <div class="row blog-slide">
                @foreach (BlogItem item in FeatureArticle.ItemList)
                {
                    <div class="col-xs-12 wow fadeIn">
                        <div class="single-blog">
                            <div class="blog-photo">
                                <a href="@Anpero.StringHelpper.GetArticleLink(item.Title, item.Id)"><img src="@item.Thumb" alt="@item.Title"></a>
                                <div class="blog-date">
                                    <h3><span>@Anpero.StringHelpper.ConvertTimeVN(item.CreateDate)</span></h3>
                                </div>
                            </div>
                            <h2>@Anpero.StringHelpper.SubString(38, item.Title)</h2>                                                        
                            
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
}
<section class="portfolio-area padding-top gray-bg" id="images">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title">
                    <h2>Giao diện</h2>
                    <p>Giao diện quản trị dễ dùng, quản trị tất cả các web chỉ trong một trang duy nhất. Các giao diện có sẵn của web bán hàng đều thích nghi với điện thoại di động và các trình duyệt. </p>
                    <div class="filter-menu filter-options">
                        <ul>
                            <li class="filter active" data-filter="all">All</li>
                            <li class="filter" data-filter=".admin">Admin</li>
                            <li class="filter" data-filter=".fe">Giao diện web bán hàng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-items fix">
        @if (ViewData["slide1"] != null)
        {
            Ads[] slide = (Ads[])ViewData["slide1"];
            if (slide.Length > 0)
            {
                for (int i = 0; i < slide.Length; i++)
                {
                    <div class="single-portfolio mix @slide[i].Description wow fadeIn">
                        <img src="@slide[i].ImagesUrl" alt="pet">
                        <div class="portfolio-zoom-icon">
                            <a href="@slide[i].ClickUrl" data-lightbox="roadtrip">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>
                    </div>
                }
            }
        }
    
       
    </div>
</section>

@Html.Partial("_partial/_contact")
@section scripts{

<script src="/assets/js/owl-carousel-min.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function () {
            $(".blog-slide").owlCarousel({
                items: 3,
                loop: true,
                autoplay: true,
                autoplayTimeout: 7000,
                smartSpeed: 1000,
                responsive: {
                    // breakpoint from 0 up
                    0: {
                        items: 1,
                    },
                    // breakpoint from 480 up
                    480: {
                        items: 2,
                    },
                    // breakpoint from 768 up 
                    768: {
                        items: 3,
                    }
                }
            });
        });

        /* Sticky Navbar jQuery
        =========================*/
        function sticky_relocate() {
            var menu = $('.mainmenu-area'),
                window_top = $(window).scrollTop(),
                div_top = $('#sticky-helper').offset().top;
            if (window_top > div_top) {
                menu.addClass('sticky');
            } else {
                menu.removeClass('sticky');
            }
        }
        $(window).scroll(sticky_relocate);
        sticky_relocate();
</script>

    <script src="~/Scripts/Bootrap.notify.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        var width = $(window).width();
        $("#ajax_loader").css("left", ((width / 2) - 100) + "px");
        var googleCatcha;
        $(window).load(function () {
            googleCatcha = grecaptcha.render('g-recaptcha', {
                'sitekey': googleCapchaSitekey,
                'theme': 'light',
                'hl': 'vi'
            });

           
        });
    
    </script>



}
