@{ 
    AnperoFrontend.WebService.ProductItem item = (AnperoFrontend.WebService.ProductItem)ViewData["prDetail"];
}
    
    <div class="page-top">
        <div class="container">
            <!-- breadcrumb -->
            <div class="breadcrumb clearfix">
                <a class="home" href="/" title="Return to Home">Home</a>
                <span class="navigation-pipe">&nbsp;</span>
                <a href="/">@item.ParentCatName</a>
                <span class="navigation-pipe">&nbsp;</span>
                <a href="/">@item.CatName</a>
            </div>
            <!-- ./breadcrumb -->            
            <div class="row">              
                @if (Request.Browser.IsMobileDevice)
                {
                
                    @Html.Partial("product/_productDetail")                
                    @Html.Partial("product/_MenuAndAdsPartial")
                }
                else
                {
                    @Html.Partial("product/_MenuAndAdsPartial")
                    @Html.Partial("product/_productDetail")
                }

            </div>
            


        </div>
    </div>
    @section health{
        <meta name="description" content="@Anpero.StringHelpper.removeHtmlTangs(item.ShortDesc)" />
        <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(item.KeyWord)" />
    }
    @section  scripts{
        <link rel="stylesheet" type="text/css" href="/assets/lib/fancyBox/jquery.fancybox.css">
        <script type="text/javascript" src="/assets/lib/jquery.elevatezoom.js"></script>
        <script type="text/javascript" src="/assets/lib/fancyBox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="/assets/lib/countdown/jquery.plugin.js"></script>
        <script type="text/javascript" src="/assets/lib/countdown/jquery.countdown.js"></script>
        @item.Script
        <script>
            /** COUNT DOWN **/
            $('[data-countdown]').each(function () {
                var $this = $(this), finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function (event) {
                    var fomat = '<span>%H</span><b></b><span>%M</span><b></b><span>%S</span>';
                    $this.html(event.strftime(fomat));
                });
            });
            if ($('.countdown-lastest').length > 0) {
                var labels = ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'];
                var layout = '<span class="box-count"><span class="number">{dnn}</span> <span class="text">Ngày</span></span><span class="dot">:</span><span class="box-count"><span class="number">{hnn}</span> <span class="text">Giờ</span></span><span class="dot">:</span><span class="box-count"><span class="number">{mnn}</span> <span class="text">Phút</span></span><span class="dot">:</span><span class="box-count"><span class="number">{snn}</span> <span class="text">Giây</span></span>';
                $('.countdown-lastest').each(function () {
                    var austDay = new Date($(this).data('y'), $(this).data('m') - 1, $(this).data('d'), $(this).data('h'), $(this).data('i'), $(this).data('s'));
                    $(this).countdown({
                        until: austDay,
                        labels: labels,
                        layout: layout
                    });
                });
            }
            $(document).ready(function () {
                $("#paymentTab").click(function () {
                    
                    $.ajax({
                        type: "post",
                        url: "/home/PolicyAjax",
                        data: { type: 6 },
                        success: function (rs) {
                            $("#paymentDetail").html(rs);
                        }
                    });
                });
            });
        </script>
    }
