@using AnperoFrontend.WebService;

@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Title = commonInfo.Name;
        ViewBag.Keywords = Anpero.StringHelpper.UnicodeToKoDau(commonInfo.Desc);
        ViewBag.WebsiteUrl = HttpContext.Current.Request.Url.AbsoluteUri;

    }
    string currentUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
@section health{
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta property="og:description" content="@commonInfo.Desc" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.WebsiteUrl" />
    <meta property="og:image" content="@commonInfo.Logo" />
    <link rel="canonical" href="@ViewBag.WebsiteUrl" />
}
@section Styles{
    <style>
    </style>
}
@if (ViewBag.Slide != null)
{
    <div class="box-slide-home">
        <div class="container-fluid">
            <div class="row">
                <div class="main-slide-home">
                    <div class="box-slide-1">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                @{
                                    Ads[] slide = (Ads[])ViewBag.Slide;
                                    for (var i = 0; i < slide.Length; i++)
                                    {
                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                            <img class="d-block w-100" src="@slide[i].ImagesUrl" alt="@slide[i].Description" style="width:2000px;">
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                    </div>

                    <!--bannerSlider-->
                </div>
            </div>
        </div>
    </div>
    <!--box-slide-home-->
}

@if (ViewBag.Ads2 != null)
{
    Ads[] Ads2 = (Ads[])ViewBag.Ads2;
    <div class="box-slide-ads hidden-xs">
        <div class="container">
            <div class="row">
                @for (var i = 0; i < Ads2.Length; i++)
                {

                    <div class="col-sm-6 col-xs-6 item-slide">
                        <div class="image-hover">
                            <a href="@Ads2[i].ClickUrl">
                                <img alt="@Ads2[i].Description" src="@Ads2[i].ImagesUrl">
                            </a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <!--box-slide-ads-->
}


@if (ViewData["BestsaleProduct"] != null)
{
    AnperoFrontend.WebService.SearchResult bestSaleList = (AnperoFrontend.WebService.SearchResult)ViewData["BestsaleProduct"];
    if (bestSaleList != null && bestSaleList.Item.Length > 0)
    {
        <div class="box-slide box-top-products">
            <div class="container">
                <div class="box-title">
                    <h2 class="title">CÁC DỰ ÁN CỦA CHỦ ĐẦU TƯ SUNSHINE</h2>
                    <a href="/search" class="view-all top-all hidden-xs translateY-50 transition-3">Xem thêm <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="row">
                    @for (var i = 0; i < bestSaleList.Item.Length; i++)
                    {
                        var item = bestSaleList.Item[i];
                        <div class="col-md-4 col-6">
                            <div class="item box-product" style="margin-bottom:15px;">
                                <div class="icon icon-top">@(i + 1)</div>
                                <div class="main">
                                    <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" title="@item.PrName" class="images">
                                        <img src="@item.Images" alt="@item.PrName">
                                    </a>
                                    <div class="detail text-center clearfix">
                                        <h3 class="name">
                                            <a class="" ref="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" title="@item.PrName">
                                                @item.PrName
                                            </a>
                                        </h3>
                                        <p class="des">@item.ShortDesc</p>                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        <!--box-top-products-->
    }
}

@if (ViewData["FeatureArticle"] != null)
{
    SearchArticleResults FeatureArticle = (SearchArticleResults)ViewData["FeatureArticle"];
    <div class="box-news">
        <div class="container">
            <div class="box-title-new">
                <div class="title-top">
                    <h2 class="title">Tin tức mới</h2>
                </div>
                <p class="des">Tin @commonInfo.Name, cập nhật tin tức nhanh nhất và mới nhất</p>
            </div>

            <div class="box-top-products box-slide">
                <div class="owl-carousel owl-carousel-3">
                    @foreach (var item in FeatureArticle.ItemList)
                    {
                        <div class="item item-new">
                            <div class="item-slide">
                                <div class="image-hover">
                                    <a href="#" class="">
                                        <img class="" src="@item.Thumb" alt="@item.Title">
                                    </a>
                                </div>
                                <ul class="info-new">
                                    <li class="time"><i class="fa fa-calendar" aria-hidden="true"></i> <time>@Anpero.StringHelpper.ConvertDateTime(item.CreateDate).ToString("dd/mm/yyyy")</time></li>
                                    <li class="post"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>@item.CategoryName</span></li>
                                </ul>
                            </div>
                            <div class="detail clearfix">
                                <h3 class="title"><a href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)" title="@item.Title">@item.Title</a></h3>
                                <p class="des">@item.ShotDesc</p>
                                <a href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)" class="view" title="">Xem thêm <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.Ads3 != null)
{
    Ads[] ads3 = (Ads[])ViewBag.Ads3;
    <div class="box-slide-ads hidden-xs">
        <div class="container">
            @for (var i = 0; i < ads3.Length; i += 2)
            {
                <div class="row">
                    <div class="col-sm-6 col-6 item-slide">
                        <div class="image-hover">
                            <a href="@ads3[i].ClickUrl">
                                <img alt="@ads3[i].Description" src="@ads3[i].ImagesUrl">
                            </a>
                        </div>
                    </div>
                    @if (i + 1 < ads3.Length)
                    {
                        <div class="col-sm-6 col-xs-6 item-slide">
                            <div class="image-hover">
                                <a href="@ads3[i+1].ClickUrl">
                                    <img alt="@ads3[i+1].Description" src="@ads3[i+1].ImagesUrl">
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <!--box-slide-ads-->
}
<style>
    .box-top-products .row {
        margin: 0 -10px;
    }

    .box-top-products .col-6 {
        padding-right: 10px;
        padding-left: 10px;
    }

        .box-top-products .col-6 .item {
            margin-right: 0px;
            margin-left: 0px;
        }
</style>