@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="REFRESH" content="1800" />
    <meta name="robots" content="index,follow,all" />
    <meta property="og:title" content="@ViewBag.Title" />
  
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
 
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/option5.css" />
    @RenderSection("health", required: false)
</head>
<body class="option5">
    <div id="header" class="header">

        <div class="container main-header">
            <div class="row">
                <div class="col-sm-12 col-md-4 logo">
                    <a href="/"><img alt="@commonInfo.Desc" src="@commonInfo.Logo" /></a>
                </div>
                @if (!Request.Browser.IsMobileDevice)
                { 
                    <div class="col-sm-8 col-md-3 header-search-box">
                            <form class="form-inline">
                                <div class="form-group input-serach">
                                    <input type="text" placeholder="Gõ vài từ để tìm...">
                                </div>
                                <button type="submit" class="pull-right btn-search"><i class="fa fa-search"></i></button>
                            </form>
                </div>
              
                }
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 group-button-header">
                    <a title="Compare" href="#" class="">Tiếng Việt | </a>
                    <a title="Compare" href="#" class="">English | </a>
                    <a title="Compare" href="#" class="">中国 | </a>
                    <div class="dropdown open flr">
                        <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">
                          Ngôn ngữ khác
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">English</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">French</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">
                    <div id="main-menu" class="col-sm-9 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="#">MENU</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="/"><img src="/assets/images/home.png" alt="Home"/></a></li>
                                        @if (commonInfo.MenuList != null)
                                        {
                                            for (int i = 0; i < commonInfo.MenuList.Length; i++)
                                            {
                                                if (commonInfo.MenuList[i].ChidMenu != null && commonInfo.MenuList[i].ChidMenu.Length > 0)
                                                {

                                                    <li class="dropdown">
                                                        <a href="@commonInfo.MenuList[i].Link" data-toggle="dropdown">@commonInfo.MenuList[i].Tittle</a>
                                                        <ul class="dropdown-menu container-fluid">
                                                            <li class="block-container">
                                                                <ul class="block">
                                                                    @for (int j = 0; j < commonInfo.MenuList[i].ChidMenu.Length; j++)

                                                                    {
                                                                        <li class="link_container"><a href="@commonInfo.MenuList[i].ChidMenu[j].Link">@commonInfo.MenuList[i].ChidMenu[j].Tittle</a></li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@commonInfo.MenuList[i].Link">@commonInfo.MenuList[i].Tittle</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="/assets/lib/jquery/jquery-1-11-2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Html.Raw(commonInfo.AnperoPlugin)
    @RenderSection("scripts", required: false)
    @Html.Raw(commonInfo.PageScript)
    <footer id="footer">
        <div class="container">
            @Html.Raw(commonInfo.Footer)
            <div id="introduce-box" class="row">
                <div class="col-md-4">
                    <div id="address-box">
                        <a href="/"><img src="@commonInfo.Logo" alt="logo"></a>
                        <div id="address-list">
                            <div class="tit-name">Địa chỉ:</div>
                            <div class="tit-contain">@commonInfo.Address</div>
                            <div class="tit-name">Phone:</div>
                            <div class="tit-contain">@commonInfo.HotLine</div>

                            @if (!string.IsNullOrEmpty(commonInfo.Email))
                            {
                                <div class="tit-name">Email:</div>
                                <div class="tit-contain">@commonInfo.Email</div>
                            }

                            @if (!string.IsNullOrEmpty(commonInfo.Skype))
                            {
                                <div class="tit-name">Skype:</div>
                                <div class="tit-contain"><a href="skype:@commonInfo.Skype?call"></a> @commonInfo.Skype</div>
                            }

                        </div>


                        <div class="introduce-title" style="margin-top:15px;">Chia sẻ với bạn bè</div>
                        <div class="social-link">
                            @{
                                string thisUrl = HttpContext.Current.Request.RawUrl;
                                if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                                {
                                    <a href="http://www.facebook.com/share.php?u=@commonInfo.FaceBookLink&title=@commonInfo.Desc" target="_blank"><i class="fa fa-facebook"></i></a>
                                }
                                if (!string.IsNullOrEmpty(commonInfo.Skype))
                                {
                                    <a href="skype:@commonInfo.Skype?call"><i class="fa fa-skype"></i></a>
                                }
                                <a href="https://plus.google.com/share?url=@thisUrl" target="_blank"><i class="fa fa-google-plus"></i></a>
                                <a href="http://pinterest.com/pinthis?url=@thisUrl" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                <a href="http://www.twitter.com/share?url=@thisUrl" target="_blank"><i class="fa fa-twitter"></i></a>
                            }
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="introduce-title">Danh mục chính</div>
                            @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                            {
                                <ul id="introduce-company" class="introduce-list">
                                    @foreach (var item in commonInfo.ProductCategoryList)
                                    {
                                        <li><a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)" alter="@item.Name">@item.Name</a></li>
                                    }
                                    <li><a href="/blog">Blogs</a></li>
                                    <li><a href="/home/contact">Liên hệ</a></li>
                                </ul>
                            }

                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div id="contact-box" style="text-align: right;">
                        @if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                        {
                            <div class="fb-page"
                                 data-tabs="messages"
                                 data-href="@Html.Raw(commonInfo.FaceBookLink)"
                                 data-width="500"
                                 data-height="300"
                                 data-hide-cover="false"></div>
                        }
                    </div>
                </div>
            </div>
            <div id="footer-menu-box">
                <div class="col-sm-12">
                    <ul class="footer-menu-list">
                        <li><a href="/">Giới thiệu về chúng tôi</a></li>
                    </ul>
                </div>
                <p class="text-center">Copyrights © 2017 <a href="/">@commonInfo.Name</a>. All Rights Reserved. Designed by <a href="http://anpero.com" title="thiết kế web bán hàng anpro">Anpero.com</a></p>
            </div>
        </div>
    </footer>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        $(window).load(function () {
            Cart.bindCart();
        });
    </script>
    @if (ViewData["AdsSlide"] != null)
    {
        Ads[] slide = (Ads[])ViewData["AdsSlide"];
        if (slide.Length > 0)
        {

            for (int i = 0; i < slide.Length; i++)
            {
                if (i == 0)
                {
                    <div class="asl-l">
                     
                            <a href="@slide[0].ClickUrl"><img alt="@slide[0].Description" class="img-responsive" src="@slide[0].ImagesUrl" /></a>
                      
                    </div>
                }
                if (i == 1)
                {
                    <div class="asl-r">                     
                            <a href="@slide[1].ClickUrl"><img alt="@slide[1].Description" class="img-responsive" src="@slide[1].ImagesUrl" /></a>                      
                    </div>
                }
            }

        }

    }
</body>
</html>
