@if (ViewData["prDetail"] != null)
{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string thisUrl = HttpContext.Current.Request.Url.AbsolutePath;
    AnperoFrontend.WebService.ProductItem item = (AnperoFrontend.WebService.ProductItem)ViewData["prDetail"];
    ViewBag.WebsiteUrl = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host +
        Anpero.StringHelpper.GetProductLink(item.PrName, item.Id);
    string currentUrl = Request.Url.ToString();

    @section health{
        <meta property="og:image:type" content="image/jpg">
        <meta name="description" content="@Html.Raw(Anpero.StringHelpper.removeHtmlTangs(item.ShortDesc))" />
        <meta name="keywords" content="@Html.Raw(Anpero.StringHelpper.UnicodeToKoDau(item.KeyWord))" />
        <meta property="og:description" content="@Html.Raw(item.ShortDesc)" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@ViewBag.WebsiteUrl" />
        <meta property="og:image" content="@item.Images" />
        <link rel="canonical" href="@ViewBag.WebsiteUrl" />
        <link href="//cdn.anpero.com/cdn/plugins/fancybox-3/src/css/core.css" rel="stylesheet" />
        <link href="//cdn.anpero.com/cdn/plugins/fancybox-3/src/css/fullscreen.css" rel="stylesheet" />
        @*<link rel="stylesheet" type="text/css" href="/assets/SamsungGrid/css/normalize.css" />
            <link rel="stylesheet" type="text/css" href="/assets/SamsungGrid/css/component.css" />*@

    }
    <div class="row">
        @Html.Raw(item.Detail)
    </div>

    if (item.ImagesSlide != null && item.ImagesSlide.Length > 0)
    {
        <div class="container-fluid">
            <div class="text-center gallery" id="gallery">
                <h1 class="font-bold-play-fair">Gallery</h1>
                <div class="divgachxannh" style="width: 4%;margin-left: 48%;margin-bottom:10vh"></div>
            </div>
            <section class="grid-wrap" id="tab-description">
                <div class="grid swipe-right owl-carousel-3 box-slide d-inline-flex" id="grid">
                    @foreach (var imagesSlide in item.ImagesSlide)
                    {
                        <div class="item" style="padding-right:10px;padding-left:10px;"><a href="@imagesSlide" class="fancybox" data-fancybox="gallery" rel="gallery" data-type="image"><img src="@imagesSlide" alt="@item.PrName"></a></div>
                    }
                </div>
            </section>
            @if (item.ImagesSlide2 != null && item.ImagesSlide2.Length > 0)
            {
                @*<div class="text-center gallery" style="margin-top:45px;">
                        <h1 class="font-bold-play-fair">Nhà tài trợ</h1>
                        <div class="divgachxannh" style="width: 4%;margin-left: 48%;margin-bottom:10vh"></div>
                    </div>*@
                <section class="col-md-12 grid-wrap text-center" id="tab-description">
                    @*<div class="grid owl-carousel-8 box-slide" id="grid">*@
                    <div class="grid" id="brand-item">
                        @foreach (var imagesSlide in item.ImagesSlide2)
                        {
                            <div class="item">
                                <a href="@imagesSlide.ImagesUrl" class="fancybox" data-fancybox="gallery" rel="gallery" data-type="image">
                                    <img src="@imagesSlide.ImagesUrl" alt="@item.PrName">
                                </a>
                            </div>
                        }
                    </div>
                </section>
            }
        </div>
    }
    @section scripts{
        @Html.Raw(item.Script)
        @*<script src="/assets/SamsungGrid/js/modernizr.custom.js"></script>*@
        <script src="//cdn.anpero.com/cdn/plugins/fancybox-3/dist/jquery.fancybox.min.js"></script>
        @*<script src="/assets/SamsungGrid/js/colorfinder-1.1.js"></script>
            <script src="/assets/SamsungGrid/js/masonry.pkgd.min.js"></script>
            <script src="/assets/SamsungGrid/js/imagesloaded.pkgd.min.js"></script>
            <script src="/assets/SamsungGrid/js/classie.js"></script>*@

        @*<script src="/assets/SamsungGrid/js/gridScrollFx.js"></script>*@
        <script>

            $(document).ready(function () {
                $('.owl-carousel-3').owlCarousel({
                    itemsCustom: [
                        [320, 2],
                        [600, 2],
                        [768, 2],
                        [1024, 3],
                        [1200, 3]
                    ],
                    navigation: true,
                    autoPlay: true
                });
                $('.owl-carousel-8').owlCarousel({
                    center: true,

                    itemsCustom: [
                        [768, 4],
                        [1024, 8],
                        [1200, 8]
                    ],
                    navigation: true,
                    autoPlay: true
                });

                //new GridScrollFx(document.getElementById('grid'), {
                //    viewportFactor: 0.4
                //});
                $(".fancybox").fancybox({
                    openEffect: 'none',
                    closeEffect: 'none'
                });
                resizeVideo();
                $(window).resize(function () {
                    resizeVideo();
                });
            });
            function resizeVideo() {
                var contentW = $('#tab-description').width();
                var iframe = $('#tab-description iframe');
                var iframeW = iframe.css('width', contentW - 20);
                iframe.css('width', iframeW);
                var iframeH = contentW / 16 * 9;
                iframe.css('height', iframeH);
            }
        </script>
        @{
            List<string> images = new List<string>();
            images.Add(item.Images);
            images.AddRange(item.ImagesSlide);
            images = images.Select(x => "\"" + x + "\"").ToList();
            var imagesText = string.Join(",", images);
        }
        <script type="application/ld+json">
            {
            "@@context":"http://schema.org/",
            "@@type":"Product",
            "name":"@item.PrName",
            "image":[@Html.Raw(imagesText)],
            "description":"@item.ShortDesc",
            "sku": "@item.Id"
            }
        </script>
    }
}
@section Styles {
    <style>
        .col-md-7 .lazy img, .col-md-6 .lazy img {
            width: 100%;
        }

        .col-md-7 p, .col-md-6 p {
            font-family: FontGothamLight;
        }
        .col-md-7 h3, .col-md-6 h3 {
            font-family: FontGothamBold;
        }
        .col-md-7 h6, .col-md-6 h6 {
            font-family: FontGothamBook;
        }
        #brand-item .item {
            text-align: center;
            display: inline-block;
            margin: 0 15px 0 15px;
        }

        .grid.swipe-right li.animate .curtain {
            animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
        }

        .owl-carousel .owl-stage {
            display: flex;
            align-items: center;
        }

        .owl-carousel .caption {
            text-align: center;
        }

        @@keyframes swipeRight {
            50%, 60% {
                transform: translate(0);
            }

            100% {
                transform: translate3d(100%,0,0);
            }
        }
    </style>
}