@if (ViewData["prDetail"] != null)
{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string thisUrl = HttpContext.Current.Request.Url.AbsolutePath;
    AnperoFrontend.WebService.ProductItem item = (AnperoFrontend.WebService.ProductItem)ViewData["prDetail"];
    ViewBag.WebsiteUrl = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host +
        Anpero.StringHelpper.GetProductLink(item.PrName, item.Id);
    string currentUrl = Request.Url.ToString();

    @section health{
        <meta property="og:image:type" content="image/jpg">
        <meta name="description" content="@Html.Raw(Anpero.StringHelpper.removeHtmlTangs(item.ShortDesc))" />
        <meta name="keywords" content="@Html.Raw(Anpero.StringHelpper.UnicodeToKoDau(item.KeyWord))" />
        <meta property="og:description" content="@Html.Raw(item.ShortDesc)" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@ViewBag.WebsiteUrl" />
        <meta property="og:image" content="@item.Images" />
        <link rel="canonical" href="@ViewBag.WebsiteUrl" />
        <link href="//cdn.anpero.com/cdn/plugins/fancybox-3/src/css/core.css" rel="stylesheet" />
        <link href="//cdn.anpero.com/cdn/plugins/fancybox-3/src/css/fullscreen.css" rel="stylesheet" />
        @*<link rel="stylesheet" type="text/css" href="/assets/SamsungGrid/css/normalize.css" />
            <link rel="stylesheet" type="text/css" href="/assets/SamsungGrid/css/component.css" />*@

    }
    <div class="container-fluid">

        @if (item.ImagesSlide != null && item.ImagesSlide.Length > 0)
        {
            <div class="row">
                <div class="w-100" style="">
                    <img class="w-100" src="@item.ImagesSlide[0]">
                </div>
            </div>
            <div class="text-center" style="margin-top: 10vh;">
                <h1 class="font-bold-play-fair"><strong>Hành Trình</strong></h1>
                <h4>Ảnh</h4>
            </div>
            if (item.ImagesSlide.Length > 1)
            {
                <section class="grid-wrap" id="tab-description" style="margin-top: 10vh;">
                    <div class="grid swipe-right owl-carousel-4 box-slide d-inline-flex" id="grid">
                        @for (int i = 1; i < item.ImagesSlide.Length; i++)
                        {
                            <div class="item" style="padding-right:10px;padding-left:10px;"><a href="@item.ImagesSlide[i]" class="fancybox" data-fancybox="gallery" rel="gallery" data-type="image"><img src="@item.ImagesSlide[i]" alt="@item.PrName"></a></div>
                        }
                    </div>
                </section>
            }

        }
        <div class="text-center" style="margin-top: 10vh;">
            <h4>Video</h4>
            <div id="HT-Slider" style="margin-top: 7vh;" class="container-fluid">
                <div id="HT-carousel" class="row carousel slide box-slide" data-ride="carousel" data-interval="9000">
                    @Html.Raw(item.Detail)
                </div>
            </div>
        </div>


        @if (item.ImagesSlide2 != null && item.ImagesSlide2.Length > 0)
        {

            <div class="text-center" style="margin-top: 10vh;margin-bottom: 10vh;">
                <h1 class="font-bold-play-fair"><strong>Sự kiện</strong></h1>
                <h4>Ảnh</h4>
            </div>
            <section class="grid-wrap" id="tab-description">
                <div class="grid swipe-right owl-carousel-6 box-slide d-inline-flex" id="grid">
                    @foreach (var imagesSlide in item.ImagesSlide2)
                    {
                        <div class="item" style="padding-right:10px;padding-left:10px;"><a href="@imagesSlide.ImagesUrl" class="fancybox" data-fancybox="gallery" rel="gallery" data-type="image"><img src="@imagesSlide.ImagesUrl" alt="@item.PrName"></a></div>
                    }
                </div>
            </section>
        }
    </div>


    @section scripts{
        @Html.Raw(item.Script)
        @*<script src="/assets/SamsungGrid/js/modernizr.custom.js"></script>*@
        <script src="//cdn.anpero.com/cdn/plugins/fancybox-3/dist/jquery.fancybox.min.js"></script>
        @*<script src="/assets/SamsungGrid/js/colorfinder-1.1.js"></script>
            <script src="/assets/SamsungGrid/js/masonry.pkgd.min.js"></script>
            <script src="/assets/SamsungGrid/js/imagesloaded.pkgd.min.js"></script>
            <script src="/assets/SamsungGrid/js/classie.js"></script>*@

        @*<script src="/assets/SamsungGrid/js/gridScrollFx.js"></script>*@
        <script>
            $(document).ready(function () {
                //new GridScrollFx(document.getElementById('grid'), {
                //    viewportFactor: 0.4
                //});
                $('.owl-carousel-3').owlCarousel({
                    itemsCustom: [
                        [320, 1],
                        [600, 1],
                        [768, 3],
                        [1024, 3],
                        [1200, 3]
                    ],
                    navigation: true,
                    autoPlay: true
                });
                $(".fancybox").fancybox({
                    openEffect: 'none',
                    closeEffect: 'none'
                });
                resizeVideo();
                $(window).resize(function () {
                    resizeVideo();
                });
            });
            function resizeVideo() {
                var contentW = $('#tab-description').width();
                var iframe = $('#tab-description iframe');
                var iframeW = iframe.css('width', contentW - 20);
                iframe.css('width', iframeW);
                var iframeH = contentW / 16 * 9;
                iframe.css('height', iframeH);
            }
        </script>
        @{
            List<string> images = new List<string>();
            images.Add(item.Images);
            images.AddRange(item.ImagesSlide);
            images = images.Select(x => "\"" + x + "\"").ToList();
            var imagesText = string.Join(",", images);
        }
        <script type="application/ld+json">
            {
            "@@context":"http://schema.org/",
            "@@type":"Product",
            "name":"@item.PrName",
            "image":[@Html.Raw(imagesText)],
            "description":"@item.ShortDesc",
            "sku": "@item.Id"
            }
        </script>
    }
}
@section Styles {
    <style>
        .owl-carousel-3 .panel {
            margin: 0 10px 0 10px;
        }

            .owl-carousel-3 .panel iframe {
                width: 100% !important;
                height: 315px !important;
            }

        .grid.swipe-right li.animate .curtain {
            animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
        }

        @@keyframes swipeRight {
            50%, 60% {
                transform: translate(0);
            }

            100% {
                transform: translate3d(100%,0,0);
            }
        }
    </style>
}