@using AnperoFrontend.WebService;
@{
    ViewBag.Title = "Home Page";
}

<div id="home-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="padding-right: 0px;">
                <div class="homeslider">
                    @if (ViewData["slide"] != null)
                    {
                        Ads[] slide = (Ads[])ViewData["slide"];
                        if (slide.Length > 0)
                        {
                            <ul id="contenhomeslider-customPage">
                                @foreach (var item in slide)
                                {
                                    <li><a href="@item.ClickUrl"><img alt="Funky roots" src="@item.ImagesUrl" title="@item.Description" /></a></li>
                                }
                            </ul>
                        }
                    }
                    else
                    {
                        <ul id="contenhomeslider-customPage">
                            <li><a href="#"><img alt="Funky roots" src="assets/data/option6/slide1.jpg" title="Funky roots" /></a></li>
                            <li><img alt="Funky roots" src="assets/data/option6/slide1.jpg" title="Funky roots" /></li>
                            <li><img alt="Funky roots" src="assets/data/option6/slide1.jpg" title="Funky roots" /></li>
                        </ul>
                    }

                 
                    <div class="bx-control">
                        <div class="slide-prev">
                            <span id="bx-prev"></span>
                        </div>
                        <div id="bx-pager" class="slide-pager">
                            <a data-slide-index="0" href="">1</a>
                            <a data-slide-index="1" href="">2</a>
                            <a data-slide-index="2" href="">3</a>
                        </div>
                        <div class="slide-next">
                            <span id="bx-next"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 group-banner-slider" style="padding-left: 2px; padding-right: 14px;">

                <div class="banner-opacity sm-banner">
                    <a href="#"><img src="assets/data/option6/banner13.jpg" alt="Banner"></a>
                </div>
                <div class="banner-opacity sm-banner">
                    <a href="#"><img src="http://media.anpero.com/images/62017/boracute/12017060514121483.jpg" alt="Banner"></a>
                </div>
                <div class="banner-opacity sm-banner">
                    <a href="#"><img src="http://media.anpero.com/images/62017/boracute/12017060514121483.jpg" alt="Banner"></a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="service ">
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="/assets/data/s1.png" />
            </div>
            <div class="info">
                <a href="/policy/ship"><h3>Miễn phí ship</h3></a>
                <span>Cho đơn hàng trên 3 triệu</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="/assets/data/s2.png" />
            </div>
            <div class="info">
                <a href="/policy/rollback"><h3>Đổi trả trong 30 ngày</h3></a>
                <span>Chính sách đổi trả</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="/assets/data/s3.png" />
            </div>

            <div class="info">
                <a href="/"><h3>Tư vấn 24/7</h3></a>
                <span>Đừng ngại gọi cho chúng tôi</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="/assets/data/s4.png" />
            </div>
            <div class="info">
                <a href="/policy/payment"><h3>Thanh toán an toàn</h3></a>
                <span>Qua COD hoặc ngân hàng</span>
            </div>
        </div>
    </div>
</div>
<!-- end services -->
<div class="page-top">
    <div class="container">
        <div class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 page-top-left">
                        <div class="popular-tabs">
                            <ul class="nav-tab">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Hàng mới về</a></li>
                                <li><a data-toggle="tab" href="#tab-2">Đang khuyến mãi</a></li>
                                <li><a data-toggle="tab" href="#tab-3">Bán chạy</a></li>
                            </ul>
                            <div class="tab-container">
                                <div id="tab-1" class="tab-panel active">
                                    <ul class="row product-list grid">
                                        @if (ViewData["newestProduct"] != null)
                                        {
                                            AnperoFrontend.WebService.SearchResult productSearchResult = (AnperoFrontend.WebService.SearchResult)ViewData["newestProduct"];
                                            if (productSearchResult.Item != null && productSearchResult.Item.Length > 0)
                                            {
                                                foreach (var item in productSearchResult.Item)
                                                {
                                                    <li class="col-sx-12 col-sm-4">
                                                        <div class="product-container">
                                                            <div class="left-block">
                                                                <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">
                                                                    <img class="img-responsive" alt="@item.PrName" src="@item.Images" />
                                                                    @if (item.Rank >= 1)
                                                                {
                                                                        <div class="featured-text"><span>Bán chạy</span></div>
                                                                }
                                                                </a>
                                                                <div class="quick-view">
                                                                    <a title="Chi tiết sản phẩm" class="search" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)"></a>
                                                                </div>
                                                                <div class="add-to-cart">
                                                                    <a title="Add to Cart" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">Thêm vào giỏ hàng</a>
                                                                </div>
                                                                <div class="group-price">
                                                                    <span class="product-new">Mới</span>
                                                                    @if (item.IsSale)
                                                                {
                                                                        <span class="product-sale">@Anpero.StringHelpper.ConVertToMoneyFormatInt((item.SalePrice-item.Price).ToString())</span>
                                                                }
                                                                </div>
                                                            </div>
                                                            <div class="right-block">
                                                                <h5 class="product-name"><a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">@item.PrName</a></h5>
                                                                <div class="content_price">
                                                                    @if (item.IsSale)
                                                                {
                                                                        <span class="price product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice.ToString()) đ</span>
                                                                        <span class="price old-price">@item.Price đ</span>
                                                                }
                                                                else
                                                                {
                                                                        <span class="price product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice.ToString()) đ</span>
                                                                }
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div id="tab-2" class="tab-panel">
                                    <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                        <li>
                                            <div class="left-block">
                                                <a href="#">
                                                    <img class="img-responsive" alt="product" src="assets/data/p48.jpg" />
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">$38,95</span>
                                                    <span class="price old-price">$52,00</span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left-block">
                                                <a href="#">
                                                    <img class="img-responsive" alt="product" src="assets/data/p49.jpg" />
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">$38,95</span>
                                                    <span class="price old-price">$52,00</span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left-block">
                                                <a href="#"><img class="img-responsive" alt="product" src="assets/data/p50.jpg" /></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">$38,95</span>
                                                    <span class="price old-price">$52,00</span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left-block">
                                                <a href="#"><img class="img-responsive" alt="product" src="assets/data/p51.jpg" /></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">$38,95</span>
                                                    <span class="price old-price">$52,00</span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="tab-3" class="tab-panel">
                                    <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                        <li>
                                            <div class="left-block">
                                                <a href="#"><img class="img-responsive" alt="product" src="assets/data/p60.jpg" /></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">$38,95</span>
                                                    <span class="price old-price">$52,00</span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left-block">
                                                <a href="#"><img class="img-responsive" alt="product" src="assets/data/p61.jpg" /></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">$38,95</span>
                                                    <span class="price old-price">$52,00</span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left-block">
                                                <a href="#"><img class="img-responsive" alt="product" src="assets/data/p62.jpg" /></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">$38,95</span>
                                                    <span class="price old-price">$52,00</span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left-block">
                                                <a href="#"><img class="img-responsive" alt="product" src="assets/data/p63.jpg" /></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">Maecenas consequat mauris</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">$38,95</span>
                                                    <span class="price old-price">$52,00</span>
                                                </div>
                                                <div class="product-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
