@using AnperoFrontend.WebService;

@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string currentUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
    string pageName = string.IsNullOrEmpty(ViewBag.pageName) ? "" : ViewBag.pageName;
}

@if (ViewData["productList"] != null)
{

    AnperoFrontend.WebService.SearchResult productList = (AnperoFrontend.WebService.SearchResult)ViewData["productList"];
    if (productList.Item.Length > 0)
    {
        @section health{
            <meta name="description" content="@Html.Raw(ViewBag.Description)" />
            <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(ViewBag.Keywords)" />
            <meta property="og:description" content="@ViewBag.Description" />
            <meta property="og:title" content="@ViewBag.Title" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="@ViewBag.WebsiteUrl" />
            <meta property="og:image" content="@ViewBag.ImageUrl" />
            <link rel="canonical" href="@ViewBag.WebsiteUrl" />
        }
        <div class="page_container">
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        @if (pageName.ToLower().Equals("search"))
                        {
                            <li>
                                <span>
                                    Tất cả sản phẩm
                                </span>
                            </li>
                        }
                        else if (ViewBag.isParent != null)
                        {
                            <li>
                                <span>
                                    @productList.Item[0].ParentCatName
                                </span>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Anpero.StringHelpper.GetParentCategoryLink(productList.Item[0].ParentCatName, productList.Item[0].ParentId)" title="@productList.Item[0].ParentCatName">
                                    @productList.Item[0].ParentCatName
                                </a>
                            </li>
                            <li> <span>@productList.Item[0].CatName</span> </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="main_content sidebar_on col-sm-9  col-sm-push-3">
                        <div id="shopify-section-template-collection" class="shopify-section section_template section_template__collection">
                            <h1 class="page_heading">Sản phẩm</h1>
                            @if (!pageName.ToLower().Equals("search"))
                            {
                                <div class="button_filters">
                                    <ul>
                                        @{
                                            int catId = productList.Item[0].CatID;
                                            int parentId = productList.Item[0].ParentId;
                                            bool isParent = ViewBag.isParent != null;
                                            foreach (var item in commonInfo.ProductCategoryList)
                                            {
                                                if (item.Id == productList.Item[0].ParentId)
                                                {
                                                    if (isParent)
                                                    {
                                                        <li class="active">
                                                            <a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)">@item.Name</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)">@item.Name</a>
                                                        </li>
                                                    }
                                                    foreach (var subItem in item.ChildCategory)
                                                    {
                                                        string activeClass = "";
                                                        if (!isParent && subItem.Id == productList.Item[0].CatID)
                                                        {
                                                            activeClass = "active";
                                                        }
                                                        <li class="@activeClass"><a href="@Anpero.StringHelpper.GetCategoryLink(subItem.Name, subItem.Id)" title="@subItem.Name">@subItem.Name</a></li>


                                                    }

                                                }

                                            }
                                        }
                                    </ul>
                                </div>
                            }
                            <div class="product_options">                          
                                <div class="product_options__sort">
                                    <label for="sort_by_select">Sắp xếp theo:</label>

                                    <select id="sort_by_select">
                                        <option value="nameDesc">Tên: A – Z</option>
                                        <option value="pricedesc">Giá: giảm dần</option>
                                        <option value="priceAsc">Giá: tăng dần</option>
                                        <option value="timeDesc">Mới nhất</option>
                                    </select>
                                </div>
                                @*<div class="product_options__number">
                                        <label for="products_number_select">Show:</label>
                                        <select id="products_number_select">
                                            <option value="6">6</option>
                                            <option value="9">9</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>

                                    <div class="product_count">20 items</div>*@
                                <div class="clearfix"></div>
                            </div>
                            <script>
                                theme.paginationTypeLoad = false;
                                theme.paginationCurrent = 1;
                                theme.paginatePages = 1;
                                theme.productNumber = 9;
                                theme.collectionName = 'collection-all';
                            </script>

                            <div class="row product_listing__main layout__medium_sb" id="product_listing__sorted">
                                @foreach (AnperoFrontend.WebService.ProductItem item in productList.Item)
                                {
                                    <div class="col-xs-4 item_4_1 item_2_1">
                                        <div class="product_item">
                                            <div class="product_img">
                                                <a class="img_change" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">
                                                    <img class="img__1" src="@item.Images" alt="@item.PrName">
                                                    @if (item.ImagesSlide != null && item.ImagesSlide.Count() > 0)
                                                    {
                                                        <img class="img__2" src="@item.ImagesSlide[0]" alt="@item.PrName">
                                                    }
                                                    <span class="product_badge new">mới</span>
                                                    @if (item.IsSale)
                                                    {
                                                        <span class="product_badge sale">sale</span>
                                                    }

                                                </a>
                                            </div>
                                            <div class="product_info">
                                                <p class="product_name">
                                                    <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">@item.PrName</a>
                                                </p>
                                                <p class="product_desc product_desc__short">
                                                    @item.ShortDesc
                                                </p>
                                                <p class="product_desc product_desc__long">
                                                    @item.ShortDesc
                                                </p>
                                              
                                             
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                }

                                <div class="toolbar">
                                    @if (!string.IsNullOrEmpty(ViewBag.page))
                                    {
                                        <div class="pager">
                                            <div class="pages">
                                                <label>Trang:</label>
                                                @Html.Raw(ViewBag.page)
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar_small col-sm-3  col-sm-pull-9">
                        <div id="shopify-section-sidebar" class="shopify-section page_sidebar">
                            <div class="sidebar">
                                <div class="sidebar_widget sidebar_widget__linklist">
                                    <h3 class="widget_header">Danh mục sản phẩm</h3>
                                    <div class="widget_content">
                                        <ul class="list_links">
                                            @foreach (var item in commonInfo.ProductCategoryList)
                                            {

                                                <li class="level_1__item ">
                                                    <a class="level_1__link" href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)">@item.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="shopify-section-sidebar-sort" class="shopify-section page_sidebar_sort sidebar_widget">
                            <div class="section_filter_block"></div>
                        </div>
                        <div id="shopify-section-sidebar-ensuing" class="shopify-section page_sidebar">
                            <div class="sidebar">
                               
                                <div class="sidebar_widget sidebar_widget__products">
                                    <h3 class="widget_header">Products</h3>
                                    <div class="widget_content">
                                        <ul class="list_products">
                                            @if (ViewData["saleProduct"] != null)
                                            {
                                                AnperoFrontend.WebService.ProductItem[] saleProduct = (AnperoFrontend.WebService.ProductItem[])ViewData["saleProduct"];

                                                if (saleProduct != null && saleProduct.Length > 0)
                                                {

                                                    foreach (var item in saleProduct)
                                                    {
                                                        <li class="product">
                                                            <div class="product_img">
                                                                <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">
                                                                    <img src="@item.Images" alt="@item.PrName">
                                                                </a>
                                                            </div>

                                                            <div class="product_info">
                                                                <div class="product_name">
                                                                    <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">@item.PrName</a>
                                                                </div>
                                                                <div class="product_price">
                                                                    @if (item.IsSale)
                                                                    {
                                                                        <span class="money">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) đ</span>


                                                                    }

                                                                    <span class="money compare-at-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice) đ</span>

                                                                </div>
                                                                <div class="product_links">
                                                                    <a class="btn" href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">View</a>
                                                                </div>
                                                            </div>
                                                        </li>

                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page">
            <section class="main-container col2-left-layout bounceInUp animated">
                <div class="container">
                    <div class="row">
                        <div class="col-main col-sm-9 col-sm-push-3">
                            <div class="pro-coloumn">
                                <article class="col-main" id="pr-listCt">
                                    <div class="toolbar">
                                        @if (!string.IsNullOrEmpty(ViewBag.page))
                                        {
                                            <div class="pager">
                                                <div class="pages">
                                                    <label>Trang:</label>
                                                    @Html.Raw(ViewBag.page)
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </div>
        <script>
            var categoryId = @productList.Item[0].CatID;
            var ParentCatId = @productList.Item[0].ParentId;
        </script>
    }
    else
    { <div class="page_container">

            <div class="breadcrumbs">
                <div class="container">
                    <div>Sản phẩm đang được cập nhật. Vui lòng quay lại sau.</div>
                </div>
            </div>
        </div>
        <script>
            var categoryId = "";
            var ParentCatId = "";
        </script>
    }
}
else
{

    <div class="main-container">Sản phẩm đang được cập nhật. Vui lòng quay lại sau.</div>
}
@section  scripts{
    <script>
        $(document).ready(function () {
            $("#sort_by_select").change(function () {
                Search.setOrder($(this).val());
            });
        });
    </script>
    @*<script src="/assets/js/countdown/jquery.plugin.js"></script>
        <script type="text/javascript" src="/assets/js/countdown/jquery.countdown.js"></script>
        <script>

            $('[data-countdown]').each(function () {
                var $this = $(this), finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function (event) {
                    var fomat = '<span>%H</span><b></b><span>%M</span><b></b><span>%S</span>';
                    $this.html(event.strftime(fomat));
                });
            });
            if ($('.countdown-lastest').length > 0) {
                var labels = ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'];
                var layout = '<span class="box-count"><span class="number">{dnn}</span> <span class="text">Ngày</span></span><span class="dot">:</span><span class="box-count"><span class="number">{hnn}</span> <span class="text">Giờ</span></span><span class="dot">:</span><span class="box-count"><span class="number">{mnn}</span> <span class="text">Phút</span></span><span class="dot">:</span><span class="box-count"><span class="number">{snn}</span> <span class="text">Giây</span></span>';
                $('.countdown-lastest').each(function () {
                    var austDay = new Date($(this).data('y'), $(this).data('m') - 1, $(this).data('d'), $(this).data('h'), $(this).data('i'), $(this).data('s'));
                    $(this).countdown({
                        until: austDay,
                        labels: labels,
                        layout: layout
                    });
                });
            }
        </script>*@

}
