@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }

}
<div class="column col-xs-12 col-sm-3" id="left_column">
    <div class="block left-module">
        <div class="block left-module search">
            <p class="title_block border-b tittle-b bw">Tìm kiếm</p>
            <div class="block_content border-b featureLand bw">
                <form action="/search" name="search" id="search" method="get">
                    <div class="form-group">
                        <select class="select-category" name="category">
                            <option value="0">Danh mục sản phẩm</option>
                            @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                            {
                                for (int i = 0; i < commonInfo.ProductCategoryList.Length; i++)
                                {

                                    <option value="c-@commonInfo.ProductCategoryList[i].Id">@commonInfo.ProductCategoryList[i].Name</option>
                                    if (commonInfo.ProductCategoryList[i].ChildCategory != null && commonInfo.ProductCategoryList[i].ChildCategory.Length > 0)
                                    {
                                        for (int j = 0; j < commonInfo.ProductCategoryList[i].ChildCategory.Length; j++)
                                        {
                                            <option value="@commonInfo.ProductCategoryList[i].ChildCategory[j].Id">@Anpero.StringHelpper.SubString(20, commonInfo.ProductCategoryList[i].ChildCategory[j].Name)</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="input form-control" name="scat" id="scat">
                            <option value="0">Loại nhà đất</option>
                            <option value="218" style="display:none;" class="cct cct_81">Chung cư Thanh Hà</option>
                            <option value="306" style="display:none;" class="cct cct_81">Biệt thự Thanh Hà</option>
                            <option value="307" style="display:none;" class="cct cct_81">Liền kề Thanh Hà</option>
                            <option value="308" style="display:none;" class="cct cct_81">Bất động sản Ciputra</option>
                            <option value="309" style="display:none;" class="cct cct_81">Chung cư Ngoại Giao Đoàn</option>
                            <option value="310" style="display:none;" class="cct cct_81">Tây Hồ Tây</option>
                            <option value="311" style="display:none;" class="cct cct_81">Chung cư Linh Đàm</option>
                            <option value="222" style="display:none;" class="cct cct_82">Bán căn hộ chung cư</option>
                            <option value="223" style="display:none;" class="cct cct_82">Bán nhà riêng</option>
                            <option value="224" style="display:none;" class="cct cct_82">Bán biệt thự liền kề</option>
                            <option value="225" style="display:none;" class="cct cct_82">Bán nhà mặt phố</option>
                            <option value="226" style="display:none;" class="cct cct_82">Bán đất nền dự án</option>
                            <option value="227" style="display:none;" class="cct cct_82">Bán đất</option>
                            <option value="228" style="display:none;" class="cct cct_82">Bán trang trại nghỉ dưỡng</option>
                            <option value="229" style="display:none;" class="cct cct_82">Bán kho, nhà xưởng</option>
                            <option value="230" style="display:none;" class="cct cct_82">Bán nhà đất khác</option>
                            <option value="231" style="display:none;" class="cct cct_83">Cho thuê căn hộ chung cư</option>
                            <option value="232" style="display:none;" class="cct cct_83">Cho thuê nhà riêng</option>
                            <option value="233" style="display:none;" class="cct cct_83">Cho thuê biệt thự liền kề</option>
                            <option value="234" style="display:none;" class="cct cct_83">Cho thuê nhà mặt phố</option>
                            <option value="235" style="display:none;" class="cct cct_83">Cho thuê kho nhà xưởng</option>
                            <option value="236" style="display:none;" class="cct cct_83">Cho thuê nhà trọ</option>
                            <option value="237" style="display:none;" class="cct cct_83">Cho thuê văn phòng</option>
                        </select>
                        </div>
                        <select class="input form-control" id="country" name="province"><option value="0">Tỉnh / thành phố</option><option value="1">Hồ Chí Minh</option><option value="2">Hà Nội</option><option value="4">Đà Nẵng</option><option value="5">Bình Dương</option><option value="6">Đồng Nai</option><option value="7">Khánh Hòa</option><option value="8">Hải Phòng</option><option value="9">Long An</option><option value="10">Quảng Nam</option><option value="11">Bà Rịa Vũng Tàu</option><option value="12">Đắk Lắk</option><option value="13">Cần Thơ</option><option value="14">Bình Thuận</option><option value="15">Lâm Đồng</option><option value="16">Thừa Thiên Huế</option><option value="17">Kiên Giang</option><option value="18">Bắc Ninh</option><option value="19">Quảng Ninh</option><option value="20">Thanh Hóa</option><option value="21">Nghệ An</option><option value="22">Hải Dương</option><option value="23">Gia Lai</option><option value="24">Bình Phước</option><option value="25">Hưng Yên</option><option value="26">Bình Định</option><option value="27">Tiền Giang</option><option value="28">Thái Bình</option><option value="29">Bắc Giang</option><option value="30">Hòa Bình</option><option value="31">An Giang</option><option value="32">Vĩnh Phúc</option><option value="33">Tây Ninh</option><option value="34">Thái Nguyên</option><option value="35">Lào Cai</option><option value="36">Nam Định</option><option value="37">Quảng Ngãi</option><option value="38">Bến Tre</option><option value="39">Đắk Nông</option><option value="40">Cà Mau</option><option value="41">Vĩnh Long</option><option value="42">Ninh Bình</option><option value="43">Phú Thọ</option><option value="44">Ninh Thuận</option><option value="45">Phú Yên</option><option value="46">Hà Nam</option><option value="47">Hà Tĩnh</option><option value="48">Đồng Tháp</option><option value="49">Sóc Trăng</option><option value="50">Kon Tum</option><option value="51">Quảng Bình</option><option value="52">Quảng Trị</option><option value="53">Trà Vinh</option><option value="54">Hậu Giang</option><option value="55">Sơn La</option><option value="56">Bạc Liêu</option><option value="57">Yên Bái</option><option value="58">Tuyên Quang</option><option value="59">Điện Biên</option><option value="60">Lai Châu</option><option value="61">Lạng Sơn</option><option value="62">Hà Giang</option><option value="63">Bắc Kạn</option><option value="64">Cao Bằng</option></select>
                        <select class="input form-control" id="prov" name="district">
                            <option value="0">Quận huyện</option>
                        </select>
                        <select class="input form-control" name="priceRank">
                            <option value="0">Mức giá</option>
                            <option value="0">Giá thỏa thuận</option>
                            <option value="2">5-10 triệu</option>
                            <option value="3">30-40 triệu</option>
                            <option value="6">1 đến 2 tỷ</option>
                            <option value="7">2 đến 3 tỷ</option>
                            <option value="8">3 đến 5 tỷ</option>
                            <option value="9">5 đến 7 tỷ</option>
                            <option value="10">7 đến 10 tỷ</option>
                            <option value="11">10 đến 20 tỷ</option>
                            <option value="12">20 đến 30 tỷ</option>
                        </select>
                        <div class="form-action">
                            <button class="btn btn-primary form-control btn-search" type="submit">Tìm kiếm</button>
                        </div>

</form>
            </div>
        </div>
        <p class="title_block">Danh mục sản phẩm</p>
        <div class="block_content">
            @if (ViewData["commonInfo"] != null)
            {
                AnperoFrontend.WebService.Webconfig commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
                <div class="layered layered-category">
                    <div class="layered-content">
                        <ul class="tree-menu">
                            @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                            {
                                for (int i = 0; i < commonInfo.ProductCategoryList.Length; i++)
                                {
                                    <li>
                                        <div class="txt">
                                            <span></span><a href="@Anpero.StringHelpper.GetParentCategoryLink(commonInfo.ProductCategoryList[i].Name,commonInfo.ProductCategoryList[i].Id)">@commonInfo.ProductCategoryList[i].Name</a>
                                        </div>
                                        @if (commonInfo.ProductCategoryList[i].ChildCategory != null && commonInfo.ProductCategoryList[i].ChildCategory.Length > 0)
                                        {
                                            <ul>
                                                @for (int j = 0; j < commonInfo.ProductCategoryList[i].ChildCategory.Length; j++)
                                                {
                                                    <li>
                                                        <div class="txt"><span></span><a href="@Anpero.StringHelpper.GetCategoryLink(commonInfo.ProductCategoryList[i].ChildCategory[j].Name,commonInfo.ProductCategoryList[i].ChildCategory[j].Id)">@commonInfo.ProductCategoryList[i].ChildCategory[j].Name</a></div>
                                                    </li>
                                                }
                                            </ul>

                                        }
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

            }
        </div>
    </div>
    @if (ViewData["saleProduct"] != null)
    {
        <div class="block left-module">
            <p class="title_block">Đang giảm giá</p>
            <div class="block_content product-onsale">

                @{
                    AnperoFrontend.WebService.ProductItem[] saleProduct = (AnperoFrontend.WebService.ProductItem[])ViewData["saleProduct"];
                    if (saleProduct != null && saleProduct.Length > 1)
                    {
                        <ul class="product-list owl-carousel" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-items="1" data-autoplay="true">
                            @foreach (var item in saleProduct)
                            {
                                <li>
                                    <div class="product-container">
                                        <div class="left-block">
                                            <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">
                                                <img class="img-responsive" alt="product" src="@item.Images" />
                                            </a>
                                            <div class="price-percent-reduction2">- @Anpero.StringHelpper.ConVertToMoneyFormatInt(((item.Price - item.SalePrice) / item.Price * 100).ToString()) %</div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">@item.PrName</a></h5>
                                            <div class="show-count-down">
                                                <span class="countdown-lastest" data-y="@item.SaleEndTime.Substring(0,4)" data-m="@item.SaleEndTime.Substring(4,2)" data-d="@item.SaleEndTime.Substring(6,2)" data-h="0" data-i="00" data-s="10"></span>
                                            </div>
                                            <div class="content_price">
                                                <span class="price product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice.ToString()) đ</span>
                                                <span class="price old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price.ToString()) đ</span>
                                            </div>
                                        </div>
                                        <div class="product-bottom">
                                            <a class="btn-add-cart" title="Add to Cart" href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else if (saleProduct != null && saleProduct.Length == 1)
                    {
                        <ul class="product-list">
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="@Anpero.StringHelpper.GetProductLink(saleProduct[0].PrName, saleProduct[0].Id)">
                                            <img class="img-responsive" alt="product" src="@saleProduct[0].Images" />
                                        </a>
                                        <div class="price-percent-reduction2">giảm @Anpero.StringHelpper.ConVertToMoneyFormatInt((saleProduct[0].Price - saleProduct[0].SalePrice).ToString())</div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="@Anpero.StringHelpper.GetProductLink(saleProduct[0].PrName, saleProduct[0].Id)">@saleProduct[0].PrName</a></h5>
                                        <div class="show-count-down">
                                            <span class="countdown-lastest" data-y="@saleProduct[0].SaleEndTime.Substring(0,4)" data-m="@saleProduct[0].SaleEndTime.Substring(4,2)" data-d="@saleProduct[0].SaleEndTime.Substring(6,2)" data-h="0" data-i="00" data-s="10"></span>
                                        </div>
                                        <div class="content_price">
                                            <span class="price product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(saleProduct[0].SalePrice.ToString()) đ</span>
                                            <span class="price old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(saleProduct[0].Price.ToString()) đ</span>
                                        </div>
                                    </div>
                                    <div class="product-bottom">
                                        <a class="btn-add-cart" title="Add to Cart" href="@Anpero.StringHelpper.GetProductLink(saleProduct[0].PrName, saleProduct[0].Id)">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    }

                }



            </div>
        </div>
                    }
    <div class="block left-module">
        <p class="title_block">KHÁCH HÀNG NÓI VỀ CHÚNG TÔI</p>
        <div class="block_content">
            <div>
                <ul class="owl-carousel" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplay="true" data-autoplayHoverPause="true" data-items="1">
                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/22018013117424036.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>ĐÀO THỊ NGA </h6>
                                <div class="jtp">Y TÁ </div>
                                <h5 class="cm-ct">Rate 5 star cho niềm tin thực phẩm sạch! Mình nghĩ nếu có chứng nhận nguồn gốc, địa chỉ rõ ràng nơi cung cập, có các phản hồi của người tiêu dùng,... thì mọi người sẽ thấy rõ sự uy tín trách nhiệm của cửa hàng mình! Hãy vì hàng tiêu dùng Việt Nam chất lượng cao! </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/12018013117042547.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>PHẠM THỊ HƯỜNG </h6>
                                <div class="jtp">NỘI TRỢ </div>
                                <h5 class="cm-ct">Thực phẩm ở Nhasanfood luôn đảm bảo chất lượng, phương thức phân phối tiện ích và nhanh chóng, thái độ phục vụ thanh lịch, vui vẻ. Chúc các bạn tiếp tục phát triển gặt hái thành công. </h5>
                            </div>
                        </div>

                    </li>

                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/32018013117481494.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>BÙI THANH CHƯƠNG </h6>
                                <div class="jtp">CÔNG CHỨC</div>
                                <h5 class="cm-ct">Mình thường mua sản phẩm ở đây. Sản phẩm và chất lượng rất tốt. </h5>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/12018013117554113.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>ĐÀO THÙY LINH</h6>
                                <div class="jtp">TƯ VẤN VIÊN</div>
                                <h5 class="cm-ct">Hai từ hôi: Rất tốt từ cách nói truyện với khách hàng, đóng gói, giao hàng sau bán hàng nữa! Sẽ ủng hộ Nhasanfood mãi </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/22018013117581757.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>PHẠM NGỌC HƯNG</h6>
                                <div class="jtp">KỸ SƯ TIN HỌC</div>
                                <h5 class="cm-ct">Mình đã mua thực phẩm sạch ở Nhasanfood và rất hài lòng không chỉ về chất lượng sản phẩm mà thái độ phục vụ của nhân viên cũng rất tuyệt. Chúc Nhasanfood thành công hơn nữa trong tương lai. </h5>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    @if (ViewData["BestsaleProduct"] != null)
    {
        AnperoFrontend.WebService.SearchResult bestSaleList = (AnperoFrontend.WebService.SearchResult)ViewData["BestsaleProduct"];
        if (bestSaleList != null && bestSaleList.ResultCount > 3 && bestSaleList.Item.Length > 0)
        {
            <div class="block left-module">
                <p class="title_block">Bán chạy</p>
                <div class="block_content">
                    <div class="owl-carousel owl-best-sell" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplay="true" data-autoplayHoverPause="true" data-items="1">
                        <ul class="products-block best-sell">
                            @for (int i = 0; i < 3; i++)
                            {
                                <li>
                                    <div class="products-block-left">
                                        <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">
                                            <img src="@bestSaleList.Item[i].Images" alt="@bestSaleList.Item[i].PrName">
                                        </a>
                                    </div>
                                    <div class="products-block-right">
                                        <p class="product-name">
                                            <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">@bestSaleList.Item[i].PrName</a>
                                        </p>
                                        @if (bestSaleList.Item[i].IsSale)
                                        {

                                            <p class="product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].SalePrice.ToString()) đ</p>
                                            <p class="price old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].Price.ToString()) đ</p>
                                        }
                                        else
                                        {
                                            <p class="product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].Price.ToString()) đ</p>
                                        }

                                        <p class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                        <ul class="products-block best-sell">
                            @for (int i = 3; i < bestSaleList.Item.Length; i++)
                            {
                                <li>
                                    <div class="products-block-left">
                                        <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">
                                            <img src="@bestSaleList.Item[i].Images" alt="@bestSaleList.Item[i].PrName">
                                        </a>
                                    </div>
                                    <div class="products-block-right">
                                        <p class="product-name">
                                            <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">@bestSaleList.Item[i].PrName</a>
                                        </p>

                                        <p class="product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].Price.ToString())</p>
                                        <p class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else if (bestSaleList != null && bestSaleList.ResultCount <= 3)
        {
            <div class="block left-module">
                <p class="title_block">Bán chạy</p>
                <div class="block_content">
                    <div class="owl-best-sell">
                        <ul class="products-block best-sell">
                            @for (int i = 0; i < bestSaleList.Item.Length; i++)
                            {
                                <li>
                                    <div class="products-block-left">
                                        <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">
                                            <img src="@bestSaleList.Item[i].Images" alt="@bestSaleList.Item[i].PrName">
                                        </a>
                                    </div>
                                    <div class="products-block-right">
                                        <p class="product-name ">
                                            <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">@bestSaleList.Item[i].PrName</a>
                                        </p>
                                        <p class="product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].Price.ToString())</p>
                                        <p class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }

    @if (ViewData["AdsSlide"] != null)
            {
                Ads[] slide = (Ads[])ViewData["AdsSlide"];
        <div class="group-banner-slider" style="padding-left: 2px; padding-right: 14px;">

            @if (slide.Length > 0)
            {
                foreach (var item in slide)
                {
                    <div class="banner-opacity sm-banner">
                        <a href="@item.ClickUrl"><img src="@item.ImagesUrl" alt="@item.Description"></a>
                    </div>
                }
            }
            else
            {
                <div class="banner-opacity sm-banner">
                    <a href="#"><img src="/assets/images/275px.jpg" alt="ads1"></a>
                </div>
                    <div class="banner-opacity sm-banner">
                        <a href="#"><img src="/assets/images/275px.jpg" alt="ads1"></a>
                    </div>

            }

        </div>
    }

</div>
