@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }

}
<div class="column col-xs-12 col-sm-3" id="left_column">
    <div class="block left-module">
     
        <p class="title_block">Danh mục sản phẩm</p>
        <div class="block_content">
            @if (commonInfo != null)
            {
                <div class="layered layered-category">
                    <div class="layered-content">
                        <ul class="tree-menu">
                            @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                            {
                                for (int i = 0; i < commonInfo.ProductCategoryList.Length; i++)
                                {
                                    <li>
                                        <div class="txt">
                                            <span></span><a href="@Anpero.StringHelpper.GetParentCategoryLink(commonInfo.ProductCategoryList[i].Name,commonInfo.ProductCategoryList[i].Id)">@commonInfo.ProductCategoryList[i].Name</a>
                                        </div>
                                        @if (commonInfo.ProductCategoryList[i].ChildCategory != null && commonInfo.ProductCategoryList[i].ChildCategory.Length > 0)
                                        {
                                            <ul>
                                                @for (int j = 0; j < commonInfo.ProductCategoryList[i].ChildCategory.Length; j++)
                                                {
                                                    <li>
                                                        <div class="txt"><span></span><a href="@Anpero.StringHelpper.GetCategoryLink(commonInfo.ProductCategoryList[i].ChildCategory[j].Name,commonInfo.ProductCategoryList[i].ChildCategory[j].Id)">@commonInfo.ProductCategoryList[i].ChildCategory[j].Name</a></div>
                                                    </li>
                                                }
                                            </ul>

                                        }
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

            }
        </div>
    </div>
    @if (ViewData["saleProduct"] != null)
    {
        <div class="block left-module">
            <p class="title_block">Đang giảm giá</p>
            <div class="block_content product-onsale">

                @{
                    AnperoFrontend.WebService.ProductItem[] saleProduct = (AnperoFrontend.WebService.ProductItem[])ViewData["saleProduct"];
                    if (saleProduct != null && saleProduct.Length > 1)
                    {
                        <ul class="product-list owl-carousel" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-items="1" data-autoplay="true">
                            @foreach (var item in saleProduct)
                            {
                                <li>
                                    <div class="product-container">
                                        <div class="left-block">
                                            <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">
                                                <img class="img-responsive" alt="product" src="@item.Images" />
                                            </a>
                                            <div class="price-percent-reduction2">- @Anpero.StringHelpper.ConVertToMoneyFormatInt(((item.Price - item.SalePrice) / item.Price * 100).ToString()) %</div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">@item.PrName</a></h5>
                                            <div class="show-count-down">
                                                <span class="countdown-lastest" data-y="@item.SaleEndTime.Substring(0,4)" data-m="@item.SaleEndTime.Substring(4,2)" data-d="@item.SaleEndTime.Substring(6,2)" data-h="0" data-i="00" data-s="10"></span>
                                            </div>
                                            <div class="content_price">
                                                <span class="price product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice.ToString()) đ</span>
                                                <span class="price old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price.ToString()) đ</span>
                                            </div>
                                        </div>
                                        <div class="product-bottom">
                                            <a class="btn-add-cart" title="Add to Cart" href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else if (saleProduct != null && saleProduct.Length == 1)
                    {
                        <ul class="product-list">
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="@Anpero.StringHelpper.GetProductLink(saleProduct[0].PrName, saleProduct[0].Id)">
                                            <img class="img-responsive" alt="product" src="@saleProduct[0].Images" />
                                        </a>
                                        <div class="price-percent-reduction2">giảm @Anpero.StringHelpper.ConVertToMoneyFormatInt((saleProduct[0].Price - saleProduct[0].SalePrice).ToString())</div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="@Anpero.StringHelpper.GetProductLink(saleProduct[0].PrName, saleProduct[0].Id)">@saleProduct[0].PrName</a></h5>
                                        <div class="show-count-down">
                                            <span class="countdown-lastest" data-y="@saleProduct[0].SaleEndTime.Substring(0,4)" data-m="@saleProduct[0].SaleEndTime.Substring(4,2)" data-d="@saleProduct[0].SaleEndTime.Substring(6,2)" data-h="0" data-i="00" data-s="10"></span>
                                        </div>
                                        <div class="content_price">
                                            <span class="price product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(saleProduct[0].SalePrice.ToString()) đ</span>
                                            <span class="price old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(saleProduct[0].Price.ToString()) đ</span>
                                        </div>
                                    </div>
                                    <div class="product-bottom">
                                        <a class="btn-add-cart" title="Add to Cart" href="@Anpero.StringHelpper.GetProductLink(saleProduct[0].PrName, saleProduct[0].Id)">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    }

                }



            </div>
        </div>
                    }
    <div class="block left-module">
        <p class="title_block">KHÁCH HÀNG NÓI VỀ CHÚNG TÔI</p>
        <div class="block_content">
            <div>
                <ul class="owl-carousel" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplay="true" data-autoplayHoverPause="true" data-items="1">
                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/22018013117424036.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>ĐÀO THỊ NGA </h6>
                                <div class="jtp">Y TÁ </div>
                                <h5 class="cm-ct">Rate 5 star cho niềm tin thực phẩm sạch! Mình nghĩ nếu có chứng nhận nguồn gốc, địa chỉ rõ ràng nơi cung cập, có các phản hồi của người tiêu dùng,... thì mọi người sẽ thấy rõ sự uy tín trách nhiệm của cửa hàng mình! Hãy vì hàng tiêu dùng Việt Nam chất lượng cao! </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/12018013117042547.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>PHẠM THỊ HƯỜNG </h6>
                                <div class="jtp">NỘI TRỢ </div>
                                <h5 class="cm-ct">Thực phẩm ở Nhasanfood luôn đảm bảo chất lượng, phương thức phân phối tiện ích và nhanh chóng, thái độ phục vụ thanh lịch, vui vẻ. Chúc các bạn tiếp tục phát triển gặt hái thành công. </h5>
                            </div>
                        </div>

                    </li>

                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/32018013117481494.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>BÙI THANH CHƯƠNG </h6>
                                <div class="jtp">CÔNG CHỨC</div>
                                <h5 class="cm-ct">Mình thường mua sản phẩm ở đây. Sản phẩm và chất lượng rất tốt. </h5>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/12018013117554113.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>ĐÀO THÙY LINH</h6>
                                <div class="jtp">TƯ VẤN VIÊN</div>
                                <h5 class="cm-ct">Hai từ hôi: Rất tốt từ cách nói truyện với khách hàng, đóng gói, giao hàng sau bán hàng nữa! Sẽ ủng hộ Nhasanfood mãi </h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="products-block-left">
                            <a href="/">
                                <img src="http://media.anpero.com/images/40/12018/22018013117581757.jpg" />
                            </a>
                            <div class="right-block">
                                <h6>PHẠM NGỌC HƯNG</h6>
                                <div class="jtp">KỸ SƯ TIN HỌC</div>
                                <h5 class="cm-ct">Mình đã mua thực phẩm sạch ở Nhasanfood và rất hài lòng không chỉ về chất lượng sản phẩm mà thái độ phục vụ của nhân viên cũng rất tuyệt. Chúc Nhasanfood thành công hơn nữa trong tương lai. </h5>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    @if (ViewData["BestsaleProduct"] != null)
    {
        AnperoFrontend.WebService.SearchResult bestSaleList = (AnperoFrontend.WebService.SearchResult)ViewData["BestsaleProduct"];
        if (bestSaleList != null && bestSaleList.ResultCount > 3 && bestSaleList.Item.Length > 0)
        {
            <div class="block left-module">
                <p class="title_block">Bán chạy</p>
                <div class="block_content">
                    <div class="owl-carousel owl-best-sell" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplay="true" data-autoplayHoverPause="true" data-items="1">
                        <ul class="products-block best-sell">
                            @for (int i = 0; i < 3; i++)
                            {
                                <li>
                                    <div class="products-block-left">
                                        <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">
                                            <img src="@bestSaleList.Item[i].Images" alt="@bestSaleList.Item[i].PrName">
                                        </a>
                                    </div>
                                    <div class="products-block-right">
                                        <p class="product-name">
                                            <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">@bestSaleList.Item[i].PrName</a>
                                        </p>
                                        @if (bestSaleList.Item[i].IsSale)
                                        {

                                            <p class="product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].SalePrice.ToString()) đ</p>
                                            <p class="price old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].Price.ToString()) đ</p>
                                        }
                                        else
                                        {
                                            <p class="product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].Price.ToString()) đ</p>
                                        }

                                        <p class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                        <ul class="products-block best-sell">
                            @for (int i = 3; i < bestSaleList.Item.Length; i++)
                            {
                                <li>
                                    <div class="products-block-left">
                                        <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">
                                            <img src="@bestSaleList.Item[i].Images" alt="@bestSaleList.Item[i].PrName">
                                        </a>
                                    </div>
                                    <div class="products-block-right">
                                        <p class="product-name">
                                            <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">@bestSaleList.Item[i].PrName</a>
                                        </p>

                                        <p class="product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].Price.ToString())</p>
                                        <p class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else if (bestSaleList != null && bestSaleList.ResultCount <= 3)
        {
            <div class="block left-module">
                <p class="title_block">Bán chạy</p>
                <div class="block_content">
                    <div class="owl-best-sell">
                        <ul class="products-block best-sell">
                            @for (int i = 0; i < bestSaleList.Item.Length; i++)
                            {
                                <li>
                                    <div class="products-block-left">
                                        <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">
                                            <img src="@bestSaleList.Item[i].Images" alt="@bestSaleList.Item[i].PrName">
                                        </a>
                                    </div>
                                    <div class="products-block-right">
                                        <p class="product-name ">
                                            <a href="@Anpero.StringHelpper.GetProductLink(bestSaleList.Item[i].PrName,bestSaleList.Item[i].Id)">@bestSaleList.Item[i].PrName</a>
                                        </p>
                                        <p class="product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(bestSaleList.Item[i].Price.ToString())</p>
                                        <p class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }

    @if (ViewData["AdsSlide"] != null)
            {
                Ads[] slide = (Ads[])ViewData["AdsSlide"];
        <div class="group-banner-slider" style="padding-left: 2px; padding-right: 14px;">

            @if (slide.Length > 0)
            {
                foreach (var item in slide)
                {
                    <div class="banner-opacity sm-banner">
                        <a href="@item.ClickUrl"><img src="@item.ImagesUrl" alt="@item.Description"></a>
                    </div>
                }
            }
            else
            {
                <div class="banner-opacity sm-banner">
                    <a href="#"><img src="/assets/images/275px.jpg" alt="ads1"></a>
                </div>
                <div class="banner-opacity sm-banner">
                    <a href="#"><img src="/assets/images/275px.jpg" alt="ads1"></a>
                </div>

            }

        </div>
    }

</div>
