@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }

}

    <div class="block left-module">
        <div class="block left-module search">            
            <h3 class="page-heading"><span class="page-heading-title">Tìm kiếm</span></h3>
            <div class="block_content border-b featureLand bw">
                <form action="/search" name="search2" id="search2" method="get" aria-label="Tìm kiếm">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nhập từ muốn tìm"/>
                    </div>
                        <div class="form-group">
                            <select class="form-control" name="category" id="category" aria-label="category">
                                <option value="0">Danh mục sản phẩm</option>
                                @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                                {
                                    for (int i = 0; i < commonInfo.ProductCategoryList.Length; i++)
                                    {

                                        <option value="c-@commonInfo.ProductCategoryList[i].Id">@commonInfo.ProductCategoryList[i].Name</option>
                                        if (commonInfo.ProductCategoryList[i].ChildCategory != null && commonInfo.ProductCategoryList[i].ChildCategory.Length > 0)
                                        {
                                            for (int j = 0; j < commonInfo.ProductCategoryList[i].ChildCategory.Length; j++)
                                            {
                                                <option value="@commonInfo.ProductCategoryList[i].ChildCategory[j].Id">-- @Anpero.StringHelpper.SubString(20, commonInfo.ProductCategoryList[i].ChildCategory[j].Name)</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                        @if (commonInfo.ProductGroupList != null && commonInfo.ProductGroupList.Count() > 0)
                        {
                            <div class="form-group">
                                <select class="form-control" name="GroupId">
                                    <option value="0">Chọn nhà cung cấp</option>
                                    @for (int i = 0; i < commonInfo.ProductGroupList.Count(); i++)
                                    {
                                        <option value="@commonInfo.ProductGroupList[i].Id">@commonInfo.ProductGroupList[i].Name </option>
                                    }
                                </select>
                            </div>
                        }
                        <div class="form-group">
                            <select class="form-control" name="SortBy">
                                <option value="priceAsc">Giá tăng dần</option>
                                <option value="priceDesc">Giá giảm dần</option>
                                <option value="timeDesc">Mới nhất</option>
                                <option value="nameAsc">Tên A-Z</option>

                            </select>
                        </div>
                        @*<div class="form-group">
                            <select class="form-control" name="priceRank">
                                <option value="">Tất cả các giá</option>
                                <option value="0-500000">0 - 500 nghìn</option>
                                <option value="500000-1000000">500 nghìn - 1 triệu</option>
                                <option value="1000000-90000000">Trên 1 triệu</option>
                            </select>
                        </div>*@
                        <div class="form-action">
                            <button class="btn btn-default form-control btn-search" type="submit">Tìm kiếm</button>
                        </div>

                </form>
            </div>
        </div>
    </div>

