//- Quote default
	@param {object} data - quote data
	@param {string} data.quote - quote text
	@param {string} data.author - quote author
mixin quote-default( data )
	// Quote default
	.quote.quote-default&attributes( attributes )
		svg.quote-icon( width='35' height='27' viewBox='0 0 35 27' )
			path( d='M17.9871 18.2009C17.9871 16.1116 18.4035 14.0625 19.2362 12.0536C20.1522 9.96429 21.2348 8.23662 22.4839 6.87055C23.733 5.50446 25.0238 4.29912 26.3561 3.25446C27.6885 2.12947 28.8126 1.32589 29.7287 0.843751C30.728 0.28125 31.3524 0 31.6023 0C32.6848 0 33.5177 0.723215 34.1006 2.16964C31.8521 3.45536 29.9785 4.98215 28.4796 6.75C27.0639 8.43752 26.1479 9.80359 25.7315 10.8482C25.3985 11.8125 25.2318 12.5759 25.2318 13.1384C25.2318 14.183 26.0647 15.6295 27.7301 17.4777C29.4788 19.2456 30.3533 20.692 30.3533 21.817C30.3533 23.2634 29.5206 24.509 27.855 25.5536C26.2728 26.5178 24.4407 27 22.359 27C21.443 27 20.5686 26.8795 19.7358 26.6384C18.57 25.0313 17.9871 22.2188 17.9871 18.2009ZM0 18.2009C0 16.1116 0.416367 14.0625 1.24911 12.0536C2.1651 9.96429 3.24768 8.23662 4.49679 6.87055C5.74587 5.50446 7.03662 4.29912 8.369 3.25446C9.78464 2.12947 10.9505 1.32589 11.8665 0.843751C12.8658 0.28125 13.4903 0 13.7401 0C14.7394 0 15.5305 0.723215 16.1134 2.16964C13.8651 3.45536 12.033 4.98215 10.6174 6.75C9.20174 8.43752 8.28573 9.80359 7.86936 10.8482C7.53627 11.8125 7.36971 12.5759 7.36971 13.1384C7.36971 14.183 8.20246 15.6295 9.86793 17.4777C11.6167 19.2456 12.4911 20.692 12.4911 21.817C12.4911 23.2634 11.6583 24.509 9.99283 25.5536C8.32736 26.5178 6.4537 27 4.37186 27C3.6224 27 2.78966 26.8795 1.87366 26.6384C0.624552 24.8707 0 22.0581 0 18.2009Z' )
		.quote-body
			q.quote-text.h4= data.quote
			cite.quote-cite= data.author

//- Quote default light
	@param {object} data - quote data
	@param {string} data.quote - quote text
	@param {string} data.author - quote author
mixin quote-default-light( data )
	// Quote default
	.quote.quote-default.quote-default-light&attributes( attributes )
		svg.quote-icon( width='35' height='27' viewBox='0 0 35 27' )
			path( d='M17.9871 18.2009C17.9871 16.1116 18.4035 14.0625 19.2362 12.0536C20.1522 9.96429 21.2348 8.23662 22.4839 6.87055C23.733 5.50446 25.0238 4.29912 26.3561 3.25446C27.6885 2.12947 28.8126 1.32589 29.7287 0.843751C30.728 0.28125 31.3524 0 31.6023 0C32.6848 0 33.5177 0.723215 34.1006 2.16964C31.8521 3.45536 29.9785 4.98215 28.4796 6.75C27.0639 8.43752 26.1479 9.80359 25.7315 10.8482C25.3985 11.8125 25.2318 12.5759 25.2318 13.1384C25.2318 14.183 26.0647 15.6295 27.7301 17.4777C29.4788 19.2456 30.3533 20.692 30.3533 21.817C30.3533 23.2634 29.5206 24.509 27.855 25.5536C26.2728 26.5178 24.4407 27 22.359 27C21.443 27 20.5686 26.8795 19.7358 26.6384C18.57 25.0313 17.9871 22.2188 17.9871 18.2009ZM0 18.2009C0 16.1116 0.416367 14.0625 1.24911 12.0536C2.1651 9.96429 3.24768 8.23662 4.49679 6.87055C5.74587 5.50446 7.03662 4.29912 8.369 3.25446C9.78464 2.12947 10.9505 1.32589 11.8665 0.843751C12.8658 0.28125 13.4903 0 13.7401 0C14.7394 0 15.5305 0.723215 16.1134 2.16964C13.8651 3.45536 12.033 4.98215 10.6174 6.75C9.20174 8.43752 8.28573 9.80359 7.86936 10.8482C7.53627 11.8125 7.36971 12.5759 7.36971 13.1384C7.36971 14.183 8.20246 15.6295 9.86793 17.4777C11.6167 19.2456 12.4911 20.692 12.4911 21.817C12.4911 23.2634 11.6583 24.509 9.99283 25.5536C8.32736 26.5178 6.4537 27 4.37186 27C3.6224 27 2.78966 26.8795 1.87366 26.6384C0.624552 24.8707 0 22.0581 0 18.2009Z' )
		.quote-body
			q.quote-text.h3= data.quote
			cite.quote-cite= data.author

//- Quote default light
	@param {object} data - quote data
	@param {string} data.quote - quote text
	@param {string} data.author - quote author
mixin quote-default-small( data )
	// Quote small
	.quote.quote-default.quote-default-small&attributes( attributes )
		svg.quote-icon( width='35' height='27' viewBox='0 0 35 27' )
			path( d='M17.9871 18.2009C17.9871 16.1116 18.4035 14.0625 19.2362 12.0536C20.1522 9.96429 21.2348 8.23662 22.4839 6.87055C23.733 5.50446 25.0238 4.29912 26.3561 3.25446C27.6885 2.12947 28.8126 1.32589 29.7287 0.843751C30.728 0.28125 31.3524 0 31.6023 0C32.6848 0 33.5177 0.723215 34.1006 2.16964C31.8521 3.45536 29.9785 4.98215 28.4796 6.75C27.0639 8.43752 26.1479 9.80359 25.7315 10.8482C25.3985 11.8125 25.2318 12.5759 25.2318 13.1384C25.2318 14.183 26.0647 15.6295 27.7301 17.4777C29.4788 19.2456 30.3533 20.692 30.3533 21.817C30.3533 23.2634 29.5206 24.509 27.855 25.5536C26.2728 26.5178 24.4407 27 22.359 27C21.443 27 20.5686 26.8795 19.7358 26.6384C18.57 25.0313 17.9871 22.2188 17.9871 18.2009ZM0 18.2009C0 16.1116 0.416367 14.0625 1.24911 12.0536C2.1651 9.96429 3.24768 8.23662 4.49679 6.87055C5.74587 5.50446 7.03662 4.29912 8.369 3.25446C9.78464 2.12947 10.9505 1.32589 11.8665 0.843751C12.8658 0.28125 13.4903 0 13.7401 0C14.7394 0 15.5305 0.723215 16.1134 2.16964C13.8651 3.45536 12.033 4.98215 10.6174 6.75C9.20174 8.43752 8.28573 9.80359 7.86936 10.8482C7.53627 11.8125 7.36971 12.5759 7.36971 13.1384C7.36971 14.183 8.20246 15.6295 9.86793 17.4777C11.6167 19.2456 12.4911 20.692 12.4911 21.817C12.4911 23.2634 11.6583 24.509 9.99283 25.5536C8.32736 26.5178 6.4537 27 4.37186 27C3.6224 27 2.78966 26.8795 1.87366 26.6384C0.624552 24.8707 0 22.0581 0 18.2009Z' )
		.quote-body
			if ( typeof data.quote === 'object' )
				each item in data.quote
					q.quote-text.big= item
			else
				q.quote-text.big= data.quote
			if ( data.author )
				cite.quote-cite= data.author

//- Quote large
	@param {object} data - quote data
	@param {string} data.quote - quote text
	@param {string} data.author - quote author
mixin quote-large( data )
	// Quote icon large
	.quote.quote-large&attributes( attributes )
		.quote-icon
			svg.quote-icon-face( width='266' height='217' viewBox='0 0 266 217' )
				path( d='M205.904 26.5452L205.911 26.5394L205.918 26.5334C216.3 17.5017 225.037 11.0705 232.135 7.22079L232.142 7.21738L232.148 7.21379C236.04 4.95663 239.192 3.26985 241.608 2.14887C242.816 1.58828 243.832 1.17284 244.66 0.898439C245.497 0.621039 246.106 0.5 246.512 0.5C254.562 0.5 260.874 5.95131 265.378 17.2242C247.958 27.5387 233.419 39.774 221.768 53.9323L221.766 53.9343C210.715 67.5069 203.528 78.5356 200.251 87.0072L200.247 87.0179L200.244 87.0287C197.641 94.7955 196.32 100.992 196.32 105.594C196.32 109.913 197.988 115.006 201.256 120.853C204.527 126.707 209.423 133.356 215.931 140.798L215.939 140.807L215.947 140.815C222.751 147.903 227.839 154.33 231.222 160.097C234.608 165.868 236.269 170.945 236.269 175.344C236.269 186.744 229.913 196.617 217.012 204.954C204.76 212.646 190.564 216.5 174.411 216.5C167.372 216.5 160.655 215.554 154.258 213.664C145.325 200.859 140.808 178.439 140.808 146.281C140.808 129.558 144.042 113.154 150.513 97.0664C157.642 80.3148 166.059 66.48 175.759 55.5508C185.485 44.5901 195.534 34.9222 205.904 26.5452ZM65.5962 26.5452L65.5988 26.5431C76.6324 17.5089 85.6981 11.0736 92.8025 7.22079L92.8088 7.21737L92.815 7.21378C96.7068 4.95663 99.8585 3.26985 102.275 2.14887C103.483 1.58828 104.499 1.17284 105.327 0.898442C106.164 0.621039 106.773 0.5 107.179 0.5C114.571 0.5 120.565 5.929 125.07 17.2241C107.654 27.5389 93.4375 39.776 82.4292 53.9386C71.3805 67.5092 64.1951 78.5365 60.9183 87.0072L60.9142 87.0178L60.9106 87.0286C58.3066 94.7955 56.9871 100.992 56.9871 105.594C56.9871 109.913 58.655 115.006 61.9225 120.853C65.1934 126.707 70.0892 133.356 76.598 140.798L76.6057 140.807L76.6137 140.815C83.4183 147.903 88.5056 154.33 91.8893 160.097C95.2751 165.868 96.9359 170.945 96.9359 175.344C96.9359 186.743 90.5813 196.614 77.6849 204.951C64.7785 212.647 50.2553 216.5 34.1025 216.5C28.3588 216.5 21.9671 215.556 14.9241 213.659C5.33623 199.569 0.5 177.14 0.5 146.281C0.5 129.557 3.7341 113.154 10.2056 97.0663C17.3342 80.3148 25.7516 66.48 35.451 55.5507C45.1779 44.5901 55.2265 34.9222 65.5962 26.5452Z')
			svg.quote-icon-shadow( width='266' height='217' viewBox='0 0 266 217' )
				path( d='M205.904 26.5452L205.911 26.5394L205.918 26.5334C216.3 17.5017 225.037 11.0705 232.135 7.22079L232.142 7.21738L232.148 7.21379C236.04 4.95663 239.192 3.26985 241.608 2.14887C242.816 1.58828 243.832 1.17284 244.66 0.898439C245.497 0.621039 246.106 0.5 246.512 0.5C254.562 0.5 260.874 5.95131 265.378 17.2242C247.958 27.5387 233.419 39.774 221.768 53.9323L221.766 53.9343C210.715 67.5069 203.528 78.5356 200.251 87.0072L200.247 87.0179L200.244 87.0287C197.641 94.7955 196.32 100.992 196.32 105.594C196.32 109.913 197.988 115.006 201.256 120.853C204.527 126.707 209.423 133.356 215.931 140.798L215.939 140.807L215.947 140.815C222.751 147.903 227.839 154.33 231.222 160.097C234.608 165.868 236.269 170.945 236.269 175.344C236.269 186.744 229.913 196.617 217.012 204.954C204.76 212.646 190.564 216.5 174.411 216.5C167.372 216.5 160.655 215.554 154.258 213.664C145.325 200.859 140.808 178.439 140.808 146.281C140.808 129.558 144.042 113.154 150.513 97.0664C157.642 80.3148 166.059 66.48 175.759 55.5508C185.485 44.5901 195.534 34.9222 205.904 26.5452ZM65.5962 26.5452L65.5988 26.5431C76.6324 17.5089 85.6981 11.0736 92.8025 7.22079L92.8088 7.21737L92.815 7.21378C96.7068 4.95663 99.8585 3.26985 102.275 2.14887C103.483 1.58828 104.499 1.17284 105.327 0.898442C106.164 0.621039 106.773 0.5 107.179 0.5C114.571 0.5 120.565 5.929 125.07 17.2241C107.654 27.5389 93.4375 39.776 82.4292 53.9386C71.3805 67.5092 64.1951 78.5365 60.9183 87.0072L60.9142 87.0178L60.9106 87.0286C58.3066 94.7955 56.9871 100.992 56.9871 105.594C56.9871 109.913 58.655 115.006 61.9225 120.853C65.1934 126.707 70.0892 133.356 76.598 140.798L76.6057 140.807L76.6137 140.815C83.4183 147.903 88.5056 154.33 91.8893 160.097C95.2751 165.868 96.9359 170.945 96.9359 175.344C96.9359 186.743 90.5813 196.614 77.6849 204.951C64.7785 212.647 50.2553 216.5 34.1025 216.5C28.3588 216.5 21.9671 215.556 14.9241 213.659C5.33623 199.569 0.5 177.14 0.5 146.281C0.5 129.557 3.7341 113.154 10.2056 97.0663C17.3342 80.3148 25.7516 66.48 35.451 55.5507C45.1779 44.5901 55.2265 34.9222 65.5962 26.5452Z')
		.quote-body
			q.quote-text.h2= data.quote
			.quote-person
				+img( data.authorImg ).quote-img
				cite.quote-cite.big= `by ${data.authorName}, ${data.authorPosition}`


//- Quote middle
	@param {object} data - quote data
	@param {string} data.quote - quote text
	@param {string} data.author - quote author
mixin quote-md( data )
	// Quote icon md
	.quote.quote-md&attributes( attributes )
		.quote-icon
			svg.quote-icon-face( width='99' height='81' viewBox='0 0 99 81' )
				path( d='M52.2198 54.6027C52.2198 48.3348 53.4285 42.1875 55.8461 36.1608C58.5054 29.8929 61.6483 24.7099 65.2749 20.6117C68.901 16.5134 72.6484 12.8974 76.5166 9.76338C80.3847 6.38841 83.6482 3.97768 86.3076 2.53125C89.209 0.843749 91.0218 0 91.7471 0C94.8899 0 97.3079 2.16964 99 6.50893C92.4725 10.3661 87.0329 14.9465 82.6814 20.25C78.5713 25.3126 75.9119 29.4108 74.7032 32.5447C73.7365 35.4375 73.2525 37.7277 73.2525 39.4152C73.2525 42.5491 75.6705 46.8884 80.5054 52.4331C85.5822 57.7367 88.121 62.0759 88.121 65.4511C88.121 69.7902 85.7035 73.527 80.8681 76.6609C76.2746 79.5534 70.9557 81 64.9122 81C62.2528 81 59.7143 80.6384 57.2967 79.9151C53.9121 75.0939 52.2198 66.6564 52.2198 54.6027ZM0 54.6027C0 48.3348 1.20879 42.1875 3.62637 36.1608C6.28568 29.8929 9.42858 24.7099 13.055 20.6117C16.6813 16.5134 20.4286 12.8974 24.2967 9.76338C28.4066 6.38841 31.7912 3.97768 34.4506 2.53125C37.3517 0.843749 39.1648 0 39.8901 0C42.7912 0 45.0879 2.16964 46.7802 6.50893C40.2528 10.3661 34.934 14.9465 30.8242 20.25C26.7143 25.3126 24.0549 29.4108 22.8462 32.5447C21.8791 35.4375 21.3956 37.7277 21.3956 39.4152C21.3956 42.5491 23.8132 46.8884 28.6484 52.4331C33.7253 57.7367 36.2638 62.0759 36.2638 65.4511C36.2638 69.7902 33.8461 73.527 29.011 76.6609C24.1758 79.5534 18.7362 81 12.6923 81C10.5165 81 8.09887 80.6384 5.43956 79.9151C1.81319 74.612 0 66.1744 0 54.6027Z')
		cite.quote-cite.big= `by ${data.authorName}, ${data.authorPosition}`
		q.quote-text.h4= data.quote

//- Quote line
	@param {object} data - quote data
	@param {string} data.quote - quote text
	@param {string} data.author - quote author
mixin quote-line( data )
	// Quote icon line
	.quote.quote-line&attributes( attributes )
		q.quote-text.h4= data.quote
		.quote-person
			+img( data.authorImg ).quote-img
			cite.quote-cite
				span.quote-author= `${ data.authorName }, `
				span.quote-position= data.authorPosition
