@using AnperoFrontend.WebService;

@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string view = Request.QueryString["view"]??"";
}
@section health{
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(ViewBag.Keywords)" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.WebsiteUrl" />
    <meta property="og:image" content="@ViewBag.ImageUrl" />
    <link href="/assets/stylesheet/HoverEffects-reset.css" rel="stylesheet" />
    <link href="/assets/stylesheet/HoverEffects-style_common.css" rel="stylesheet" />
    <link href="/assets/stylesheet/HoverEffects-style1.css" rel="stylesheet" />
}
@section canonical{
    <link rel="canonical" href="@ViewBag.WebsiteUrl" />
}
@if (ViewData["productList"] != null)
{

    AnperoFrontend.WebService.SearchResult productList = (AnperoFrontend.WebService.SearchResult)ViewData["productList"];
    if (productList.Item.Length > 0)
    {
        <div id="page">
            <div class="page-heading">
                <div class="breadcrumbs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li class="home"> <a href="/" title="Trang chủ">Trang chủ</a> <span>—› </span> </li>
                                    @if (ViewBag.isParent != null)
                                    {
                                    <li>
                                        <a href="@Anpero.StringHelpper.GetParentCategoryLink(productList.Item[0].ParentCatName, productList.Item[0].ParentId)" title="@productList.Item[0].ParentCatName">
                                            @productList.Item[0].ParentCatName
                                        </a>
                                    </li>
                                    }
                                    else
                                    {
                                    <li>
                                        <a href="@Anpero.StringHelpper.GetCategoryLink(productList.Item[0].ParentCatName, productList.Item[0].ParentId)" title="@productList.Item[0].ParentCatName">
                                            @productList.Item[0].ParentCatName
                                        </a>
                                        <span>—› </span>
                                    </li>
                                    <li> <strong>@productList.Item[0].CatName</strong> </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-title">
                    <h2>Sản phẩm</h2>
                </div>
            </div>
            <section class="main-container animated">
                <div class="container">
                    <div class="row">
                        <div class="col-main col-sm-12">
                            <div class="pro-coloumn">
                                <article class="col-main">
                                    
                                    <div class="toolbar">
                                        <div id="sort-by">
                                            <label class="left">Sắp xếp: </label>
                                            <ul>
                                                <li>
                                                    <a href="#">Tên<span class="right-arrow"></span></a>
                                                    <ul>
                                                        <li><a href="javascript:Search.setOrder('nameDesc');">Tên</a></li>
                                                        <li><a href="javascript:Search.setOrder('pricedesc');">Giá giảm dần</a></li>
                                                        <li><a href="javascript:Search.setOrder('pricedasc');">Giá tăng dần</a></li>
                                                        <li><a href="javascript:Search.setOrder('timeDesc');">Mới nhất</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                                        </div>
                                        @if (!string.IsNullOrEmpty(ViewBag.page))
                                        {
                                            <div class="pager">
                                                <div class="pages">
                                                    <label>Trang:</label>
                                                    @Html.Raw(ViewBag.page)
                                                </div>
                                            </div>
                                        }
                                    </div>         
                                    @if (view == "gallery")
                                    {
                                        <div class="latest-blog2 row" style="margin-left:-15px;">
                                            @foreach (AnperoFrontend.WebService.ProductItem item in productList.Item)
                                            {
                                                <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3">

                                                    <div class="view view-first">
                                                        <img src="@item.Images" alt="@item.PrName" class="lazy">
                                                        <div class="mask">
                                                            <h2>@item.PrName</h2>
                                                            <p>@item.ShortDesc</p>
                                                            <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)" title="@item.PrName" class="info">Chi tiết</a>
                                                        </div>
                                                    </div>
                                                    <div class="s-title"><a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)" title="@item.PrName" class="info">@item.PrName</a></div>
                                                </div>

                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row tableCt">
                                            <div id="best-seller" class="product-flexslider hidden-buttons">
                                                <div class="slider-items slider-width-col4 products-grid">
                                                    @foreach (AnperoFrontend.WebService.ProductItem item in productList.Item)
                                                    {
                                                        <div class="item">
                                                            <div class="item-inner">
                                                                <div class="item-img">
                                                                    <div class="item-img-info">
                                                                        <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" title="@item.PrName" class="product-image">
                                                                            <img src="@item.Images" alt="@item.PrName">
                                                                        </a>
                                                                        <div class="item-box-hover">
                                                                            <div class="box-inner">
                                                                                <div class="product-detail-bnt">
                                                                                    <a class="button detail-bnt" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" title="@item.PrName">
                                                                                        <span>Chi tiết</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="item-info">
                                                                    <div class="info-inner">
                                                                        <div class="item-title">
                                                                            <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" title="@item.PrName">
                                                                                @item.PrName
                                                                            </a>
                                                                        </div>
                                                                        <div class="item-content">
                                                                            <div class="item-price">
                                                                                <div class="price-box"><span class="regular-price"><span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) đ</span> </span> </div>
                                                                            </div>
                                                                            <div class="add_cart">
                                                                                <button class="button btn-cart" type="button" onclick="Cart.addProduct(@item.Id,@item.Price,'@item.Images','@item.PrName');"><span>Mua ngay</span></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                             
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-main col-sm-12">
                            <div class="toolbar">
                                <div id="sort-by">
                                    <label class="left">Sắp xếp: </label>
                                    <ul>
                                        <li>
                                            <a href="#">Tên<span class="right-arrow"></span></a>
                                            <ul>
                                                <li><a href="#">Tên</a></li>
                                                <li><a href="#">Giá</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.page))
                                {
                                    <div class="pager">
                                        <div class="pages">
                                            <label>Trang:</label>
                                            @Html.Raw(ViewBag.page)
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </div>
        <script>
            var categoryId = @productList.Item[0].CatID;
            var ParentCatId = @productList.Item[0].ParentId;
        </script>
    }
    else
    {
        <script>
            var categoryId = "";
            var ParentCatId = "";
        </script>
    }
}

@section  scripts{
    <script src="/assets/js/countdown/jquery.plugin.js"></script>
    <script type="text/javascript" src="/assets/js/countdown/jquery.countdown.js"></script>

    <script>
        $(".latest-blog2 .col-md-3  .view-first").height($(".latest-blog2 .col-md-3").width());
            $('[data-countdown]').each(function () {
                var $this = $(this), finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function (event) {
                    var fomat = '<span>%H</span><b></b><span>%M</span><b></b><span>%S</span>';
                    $this.html(event.strftime(fomat));
                });
            });
            if ($('.countdown-lastest').length > 0) {
                var labels = ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'];
                var layout = '<span class="box-count"><span class="number">{dnn}</span> <span class="text">Ngày</span></span><span class="dot">:</span><span class="box-count"><span class="number">{hnn}</span> <span class="text">Giờ</span></span><span class="dot">:</span><span class="box-count"><span class="number">{mnn}</span> <span class="text">Phút</span></span><span class="dot">:</span><span class="box-count"><span class="number">{snn}</span> <span class="text">Giây</span></span>';
                $('.countdown-lastest').each(function () {
                    var austDay = new Date($(this).data('y'), $(this).data('m') - 1, $(this).data('d'), $(this).data('h'), $(this).data('i'), $(this).data('s'));
                    $(this).countdown({
                        until: austDay,
                        labels: labels,
                        layout: layout
                    });
                });
            }
    </script>

}