@using AnperoFrontend.WebService;

@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Title = commonInfo.Name;
        ViewBag.Keywords = Anpero.StringHelpper.UnicodeToKoDau(commonInfo.Desc);
        ViewBag.WebsiteUrl = HttpContext.Current.Request.Url.AbsoluteUri;

    }
    string currentUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
@section health{
    <meta name="description" content="@commonInfo.Desc" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta property="og:description" content="@commonInfo.Desc" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.WebsiteUrl" />
    <meta property="og:image" content="@commonInfo.Logo" />
    <link rel="canonical" href="@ViewBag.WebsiteUrl" />
}
<div class="page_container">
    <div class="main_content ">
        <div id="shopify-section-1547051873685" class="shopify-section index-section">
            <div class="section section_homepage section_slideshow_full_width section_slideshow__large swiper-container" id="slideshow_1547051873685" data-autoplay="false" data-speed="5000">
                <div class="swiper-wrapper">
                    @if (ViewData["Slide"] != null)
                    {
                        Ads[] slide = (Ads[])ViewData["Slide"];
                        foreach (var item in slide)
                        {
                            <div class="swiper-slide image_slide">
                                <div class="img_placeholder__wrap img_placeholder__large" style="background-image: url(@item.ImagesUrl);"></div>
                                <div class="slide_caption container">
                                    <div class="slide_caption_text"></div>
                                </div>
                            </div>
                        }
                        <div class="navigations">
                            <div id="slider_prev_1547051873685" class="swiper_btn swiper_btn__prev"></div>
                            <div id="pagination_1547051873685" class="swiper_pagination"></div>
                            <div id="slider_next_1547051873685" class="swiper_btn swiper_btn__next"></div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div id="shopify-section-1546967416042" class="shopify-section section section_homepage section_custom-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col_item item_2_1">
                        <div class="custom_content__item item_text button_position__">
                            <div class="item_text item_text__center">
                                <h4 class="item_text__title">WELCOME @commonInfo.Name</h4>
                                <div class="item_text__content"><p>@commonInfo.Desc</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col_item ">
                        <div class="custom_content__item item_button button_position__center">
                            <a class="btn custom_button button_position__center" href="/search">All Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="shopify-section-1546967523308" class="shopify-section section section_homepage section_featured-products">
            <div class="container">
                <h2 class="section_heading">Best sale</h2>
                <div class="row product_listing__main">
                    @if (ViewData["BestsaleProduct"] != null)
                    {
                        AnperoFrontend.WebService.SearchResult bestSaleList = (AnperoFrontend.WebService.SearchResult)ViewData["BestsaleProduct"];
                        if (bestSaleList != null && bestSaleList.Item.Length > 0)
                        {
                            foreach (ProductItem item in bestSaleList.Item)
                            {
                                <div class="col-xs-4 item_4_1 item_2_1">
                                    <div class="product_item">
                                        <div class="product_img">
                                            <a class="img_change" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">
                                                <img class="img__1" src="@item.Images" alt="@item.PrName">
                                                @if (item.ImagesSlide != null && item.ImagesSlide.Count() > 0)
                                                {
                                                    <img class="img__2" src="@item.ImagesSlide[0]" alt="@item.PrName">
                                                }
                                                <span class="product_badge new">mới</span>
                                                @if (item.IsSale)
                                                {
                                                    <span class="product_badge sale">sale</span>
                                                }

                                            </a>
                                        </div>
                                        <div class="product_info">
                                            <p class="product_name">
                                                <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">@item.PrName</a>
                                            </p>
                                            <p class="product_desc product_desc__short">
                                                @item.ShortDesc
                                            </p>
                                            <p class="product_desc product_desc__long">
                                                @item.ShortDesc
                                            </p>
                                            <div class="product_prop">
                                                <p class="product_price">
                                                    @if (item.IsSale)
                                                    {
                                                    <span class="money money_sale" data-currency-usd="$33.00">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) $</span>
                                                    }
                                                    <span class="money">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice) $</span>
                                                </p>
                                                <p class="product_color"></p>
                                            </div>
                                            <div class="product_links">
                                                <div class="add_to_cart_form">
                                                    @if (item.IsInstock)
                                                    {
                                                        <button onclick="Cart.addProduct(@item.Id,@Convert.ToInt32(item.IsSale?item.SalePrice:item.Price),'@item.Images','@item.PrName')" class="btn-cart">Mua hàng</button>
                                                    }
                                                    else
                                                    {
                                                        <button disabled onclick="Cart.addProduct(@item.Id,@Convert.ToInt32(item.IsSale?item.SalePrice:item.Price),'@item.Images','@item.PrName')" class="btn-cart">Mua hàng</button>
                                                    }
                                                </div>
                                                <a class="wishlist_btn" href="https://www.facebook.com/sharer/sharer.php?u=@currentUrl" target="_blank" title="Chia sẻ với bạn bè"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                                <a class="quick_view_btn_1" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" title="Quick view"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

        </div><div id="shopify-section-1547136044015" class="shopify-section section section_divider">
            <div class="divider_item container" style="padding-top: 50px;"></div>
            <div class="divider_item tablet_show container" style="padding-top: 50px;"></div>
        </div>
        <div id="shopify-section-1547295055745" class="shopify-section section section_homepage section_two_banners">
            <div class="row">
                @if (ViewData["ads1"] != null)
                {
                    Ads[] ads1 = (Ads[])ViewData["ads1"];
                    if (ads1.Count() > 0)
                    {
                        <div class="col-sm-6 banner_left">
                            <div class="banner_left__item">
                                <div class="img_placeholder__wrap img_placeholder__left" style="background-image: url( @ads1[0].ImagesUrl);"></div>
                                <div class="banner_left__caption position_left">
                                    <div class="caption_text">
                                        @Html.Raw(ads1[0].Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                        if (ads1.Count() > 1)
                        {
                            <div class="col-sm-6 banner_right">
                                <div class="banner_right__item">
                                    <div class="img_placeholder__wrap img_placeholder__right" style="background-image: url(@ads1[1].ImagesUrl);"></div>
                                    <div class="banner_right__caption position_left">
                                        <div class="caption_text">
                                            @ads1[1].Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
  
        <div id="shopify-section-1547200797889" class="shopify-section  section section_divider">
            <div class="divider_item container" style="padding-top: 22px;"></div>
            <div class="divider_item tablet_show container" style="padding-top: 22px;"></div>
        </div>
        <div id="shopify-section-1547217564453" class="shopify-section section section_homepage section_banners_countdown_custom">
            <div class="row">
                @if (ViewData["ads2"] != null)
                {
                    Ads[] ads2 = (Ads[])ViewData["ads2"];
                    if (ads2.Count() > 0)
                    {
                        <div class="col-xs-12 timer_item">
                            <div class="banner_wrap">
                                <div class="timer_img img_placeholder__wrap" style="background-image: url(@ads2[0].ImagesUrl);">
                                </div>``
                                <div class="banner_caption align_center text_align_center ">
                                    <div class="banner_text">
                                        @Html.Raw(ads2[0].Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                        if (ads2.Count() > 1)
                        {
                            <div class="col-xs-12 banner_item">
                                <div class="banner_wrap">
                                    <div class="banner_img img_placeholder__wrap" style="background-image: url(@ads2[1].ImagesUrl);"></div>
                                    <div class="banner_caption align_center text_align_center  ">
                                        <div class="banner_text">
                                    @Html.Raw(ads2[1].Description)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div id="shopify-section-1546967621042" class="shopify-section section section_homepage section_logo-list">
            <div class="container">
                <div class="row">
                    @if (ViewData["ads3"] != null)
                    {
                        Ads[] ads3 = (Ads[])ViewData["ads3"];
                        foreach (var item in ads3)
                        {
                            <div class="col-xs-4 col-sm-2">
                                <div class="logo_item item_image">
                                    <a href="@item.ClickUrl" class="logo-bar__link">
                                        <img src="@item.ImagesUrl" alt="">
                                    </a>
                                </div>
                            </div>
                        }

                    }


                </div>
            </div>
        </div><!-- END content_for_index -->
    </div>
</div>