@using AnperoFrontend.WebService;
@{
    List<BlogCategory>
    categoryList = new List<BlogCategory>();
    SearchArticleResults TopArticle = new SearchArticleResults();
    if (ViewData["categoryMenuList"] != null)
    {
        categoryList = (List<BlogCategory>)ViewData["categoryMenuList"];
    }
    if (ViewData["FeatureArticle"] != null)
    {
        TopArticle = (SearchArticleResults)ViewData["FeatureArticle"];
    }
}
<div class="sidebar col-lg-3 col-md-4">
    <div id="widget-area" class="widget-area blog-sidebar">
        <div class="sidebar-head">
            <span class="text">Sidebar</span>
            <a href="#" class="close-block-sidebar"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="widget widget_categories">
            <h2 class="widgettitle">Browse Categories<span class="arrow"></span></h2>
            <ul>
                @foreach (var item in categoryList)
                {
                    <li class="cat-item">
                        <a href="@Anpero.StringHelpper.GetBlogCategoryLink(item.Name,item.Id)">@item.Name</a>
                    </li>
                }

            </ul>
        </div>
        @if (TopArticle != null && TopArticle.ItemList != null && TopArticle.ItemList.Length > 0)
        {
            <div id="widget_ovic_post-4" class="widget widget-recent-post">
                <h2 class="widgettitle">Bài nổi bật<span class="arrow"></span></h2>
                <div class="ovic-blog">
                    @foreach (var item in TopArticle.ItemList)
                    {
                        <article class="blog-item post-3450 post type-post status-publish format-standard has-post-thumbnail hentry category-digital tag-google tag-phone">
                            <div class="post-thumb">
                                <a href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)">
                                    <img  src="@item.Thumb" class="wp-post-image attachment-100x73 size-100x73 lazy" alt="@item.Title">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="post-title">
                                    <a href="@Anpero.StringHelpper.GetArticleLink(item.Title,item.Id)">@item.Title</a>
                                </h4>
                            </div>
                        </article>
                    }
                </div>
            </div>
        }


    </div><!-- .widget-area -->

</div>
