@using AnperoFrontend.WebService;
@{
    BlogItem item = new BlogItem();
    if (ViewData["blogdeltail"] != null)
    {
        item = (BlogItem)ViewData["blogdeltail"];
    }
    string currentUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
@section health{
    <meta name="description" content="@item.ShotDesc" />
    <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(item.Tag)" />
    <meta property="og:description" content="@item.ShotDesc" />
    <meta property="og:title" content="@item.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@currentUrl" />
    <meta property="og:image" content="@item.Thumb" />
    <link rel="canonical" href="@currentUrl" />
}
<div class="box-breadcrumb">
    <div class="container">
        <ul class="woocommerce-breadcrumb breadcrumb">
            <li><a href="/" target="_self" title="Trang chủ">Trang chủ</a></li>
            <li><a href="/blog">blogs</a></li>
            <li><span>@item.Title</span></li>
        </ul>

    </div>
</div>

<div class="main-container left-sidebar">
    <div class="container">
      
   
        <div class="row">
            <div class="main-content col-lg-9 col-md-8">
                <h2 class="post-title"><a href="index.html">@item.Title</a></h2>
                <div id="shopify-section-template-article" class="shopify-section section_template section_template__article">
                    <div>
                        <article class="article_item">
                            <p class="article_info">
                                <span>
                                    <time class="article_time" datetime="@Anpero.StringHelpper.ConvertDateTime(item.CreateDate).ToString()">@Anpero.StringHelpper.ConvertTimeVN(item.CreateDate)</time>
                                </span>
                                <span class="article_author"><span id="fb-root"></span></span>
                            </p>
                            <div class="rte article_content">
                                @Html.Raw(item.Content)
                            </div>
                            <p class="article_tags">
                                @item.Tag
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            @Html.Partial("article/_MenuAndAdsPartial")
        </div>
    </div>
</div>
    @if (ViewData["ArticleList"] != null)
    {
        SearchArticleResults articleList = (SearchArticleResults)ViewData["ArticleList"];
        if (articleList.ResultsCount > 0)
        {
            <div class="related-pro container">
                <div class="slider-items-products">
                    <div class="new_title center">
                        <h2>Bài liên quan</h2>
                    </div>
                    <div id="related-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4 products-grid">
                            @foreach (var articleItem in articleList.ItemList)
                            {
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="@Anpero.StringHelpper.GetArticleLink(articleItem.Title, articleItem.Id)" class="product-image">
                                                    <img src="@articleItem.Thumb" alt="@articleItem.Title">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a href="@Anpero.StringHelpper.GetArticleLink(articleItem.Title, articleItem.Id)">
                                                        @HttpUtility.HtmlDecode(articleItem.Title)
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your like button code -->
    <div class="fb-like"
         data-href="https://www.your-domain.com/your-page.html"
         data-layout="standard"
         data-action="like"
         data-show-faces="true">
    </div>
    <style>
        .breadcrumbs {
            padding: 0 0 26px 0;
        }

            .breadcrumbs ul {
                font-size: 0;
                line-height: 0;
            }

            .breadcrumbs li {
                display: inline-block;
                padding: 27px 10px 0 0;
            }

            .breadcrumbs a, .breadcrumbs span {
                font-size: 14px;
                line-height: 1em;
            }

            .breadcrumbs li ~ li:before {
                content: '\f105';
                margin: 0 10px 0 0;
                font: 14px/1em "FontAwesome";
            }
    </style>
