@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//VI" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("health", required: false)
    @Styles.Render("~/Content/css")
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Refresh" content="3600" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="robots" content="*">
    <!-- Apple iOS and Android stuff -->
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
   
    <!-- Apple iOS and Android stuff - don't remove! -->
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="@commonInfo.Logo" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/Scripts/jquery-1-10.js"></script>
    @RenderSection("canonical", required: false)  
</head>
<body>
    
    @Html.Partial("_partial/_MainHeader_1")

    @RenderBody()
   
    @Scripts.Render("~/bundles/scripts")
    <script src="/Scripts/ShoppingCart.js"></script>
    @Html.Raw(commonInfo.AnperoPlugin)

    @Html.Raw(commonInfo.PageScript)

    @Html.Partial("_partial/_MainFooter_1")
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        jQuery(window).load(function () {
            Cart.bindCart();
        });
    </script>
</body>
</html>