@using AnperoFrontend.WebService;
@using AnperoFrontend;
@model AnperoFrontend.WebService.WarrantyCard
@{
    AnperoService sv = new AnperoService();    
    AnperoFrontend.WebService.ProductItem item = (AnperoFrontend.WebService.ProductItem)ViewBag.ProductItem;
}

<div class="single-thumb-vertical main-container shop-page no-sidebar">
    <div class="container">
        @if (Model != null && item!=null)
        {
            <div class="row">
            <ul class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li><a href="/warrantycheck" title="Trang chủ">Kiểm tra bảo hành</a></li>
                <li><span>Thông tin bảo hành</span></li>
            </ul>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Tên sản phẩm:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@item.PrName</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Thời gian bảo hảnh:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.Warranty tháng từ ngày   @Model.BeginDate.ToString("dd/MM/yyyy") đến ngày  @Model.EndDate.ToString("dd/MM/yyyy") </span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Mã số phiếu bảo hành:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.Id</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Seria:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.Seria</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Họ và tên:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.contact.Name</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Thành phố:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.contact.District</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Quận Huyện:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.contact.Province</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Địa chỉ:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.contact.Address</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">CMTND / Hộ chiếu:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.contact.IdCard</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Số điện thoại:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.contact.Phone</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Thư điện tử:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.contact.Mail</span></div>
            </div>
            <div class="row">                
                <div class="col-md-9 "><span class="pull-left"><a href="/warrantyCheck">Kiểm tra mã bảo hành khác</a></span></div>
            </div>
        </div>

        }
        else
        {
            <div class="row">
                <p class="col-md-12">
                    Không tìm thấy thông tin bảo hành. Vui lòng nhập lại thông tin <a href="/warrantyCheck">tại đây </a>
                </p>
            </div>
        }


    </div>
</div>