@using AnperoFrontend.WebService;
@using AnperoFrontend;
@model AnperoFrontend.WebService.WarrantyCard
@{
    AnperoService sv = new AnperoService();
    
    AnperoFrontend.WebService.ProductItem item = (AnperoFrontend.WebService.ProductItem)ViewBag.ProductItem;
}




<div class="single-thumb-vertical main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li><span>Thông tin bảo hành</span></li>
            </ul>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Tên sản phẩm:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@item.PrName</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Thời gian bảo hảnh:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.Warranty tháng từ ngày   @Model.BeginDate.ToString("dd/MM/yyyy") đến ngày  @Model.EndDate.ToString("dd/MM/yyyy") </span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Mã số phiếu bảo hành:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.Id</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Seria:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.Seria</span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong class="pull-right">Họ và tên:</strong></div>
                <div class="col-md-9 "><span class="pull-left">@Model.contact.Name</span></div>
            </div>
            <dl class="dl-horizontal">
                <dt>
                    Thành phố
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.contact.Address)
                </dd>
                <dt>
                    Quận huyện
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.contact.Address)
                </dd>
                <dt>
                    Địa chỉ
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.contact.Address)
                </dd>
                <dt>
                    CMTND / Hộ chiếu
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.contact.IdCard)
                </dd>
                <dt>
                    Số điện thoại
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.contact.Phone)
                </dd>
                <dt>
                    Thư điện tử
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.contact.Mail)
                </dd>
            </dl>
        </div>
    </div>
</div>

