@using AnperoFrontend.WebService;
@if (ViewData["slide"] != null)
{
    Ads[] slide = (Ads[])ViewData["slide"];
    if (slide.Length > 0)
    {
        <div id="thm-mart-slideshow" class="thm-mart-slideshow">
            <div id='thm_slider_wrapper' class='thm_slider_wrapper fullwidthbanner-container'>
                <div id='thm-rev-slider' class='rev_slider fullwidthabanner'>
                    <ul>
                        @foreach (var item in slide)
                        {
                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@item.ImagesUrl'>
                            <img src="@item.ImagesUrl"/>
                            <div class="info">
                                @Html.Raw(item.Description)
                            </div>
                        </li>                        
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}
<style>
    .tp-caption.LargeTitle span {
        color: #0090ad !important;
    }
    .slider-shortDesc {
        color: #16191f !important;
        font-weight: bold;
        font-style: italic;
        font-weight: 700 !important;
    }
</style>

@*<div id="thm-mart-slideshow" class="thm-mart-slideshow">
        <div id='thm_slider_wrapper' class='thm_slider_wrapper fullwidthbanner-container'>
            <div id='thm-rev-slider' class='rev_slider fullwidthabanner'>
                <ul>
                    @if (ViewData["slide"] != null)
                    {
                        Ads[] slide = (Ads[])ViewData["slide"];
                        if (slide.Length > 0)
                        {
                            foreach (var item in slide)
                            {

                                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@item.ImagesUrl'>
                                    <img src="@item.ImagesUrl" />
                                    <div class="info">
                                        @Html.Raw(item.Description)
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='//media.anpero.com/images/38/82018/homeslide2018082820043978.png'>
                                  <img src="//media.anpero.com/images/38/82018/homeslide2018082820043978.png" />

                                <div class="info">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top">
                                        <h1 class="pogoSlider-slide-element" data-in="slideUp" data-out="expand" data-duration="800">WELCOME <span>TO HAPPY</span> PAWS</h1>
                                        <p class="pogoSlider-slide-element" data-in="slideUp" data-out="expand" data-duration="800">We offer all the best quality products and services for your adorable pets.of a page when looking at its layout. The point of using Lorem Ipsum i like readable English.</p>
                                        <p class="header-text-button pogoSlider-slide-element hidden-xs" data-in="expand" data-out="expand" data-duration="1200"><a href="#" class="battn">Hot Deals</a> <a href="//media.anpero.com/images/36/92017/hoa-qua-sach2017092420410721.jpg" class="battn">Xem thêm </a></p>
                                    </div>
                                </div>
                            </li>
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='//media.anpero.com/images/38/82018/homeslide2018082820043978.png'>
                                <img src="//media.anpero.com/images/38/82018/homeslide2018082820043978.png" />
                                <div class="info">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top">
                                        <h1 class="pogoSlider-slide-element" data-in="slideUp" data-out="expand" data-duration="800">WELCOME <span>TO HAPPY</span> PAWS</h1>
                                        <p class="pogoSlider-slide-element" data-in="slideUp" data-out="expand" data-duration="800">We offer all the best quality products and services for your adorable pets.of a page when looking at its layout. The point of using Lorem Ipsum i like readable English.</p>
                                        <p class="header-text-button pogoSlider-slide-element hidden-xs" data-in="expand" data-out="expand" data-duration="1200"><a href="#" class="battn">Hot Deals</a> <a href="//media.anpero.com/images/36/92017/hoa-qua-sach2017092420410721.jpg" class="battn">Xem thêm </a></p>
                                    </div>
                                </div>
                            </li>
                            <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='//media.anpero.com/images/38/82018/homeslide2018082820043978.png'>
                                <img src="//media.anpero.com/images/38/82018/homeslide2018082820043978.png" />
                                <div class="info">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top">
                                        <h1 class="pogoSlider-slide-element" data-in="slideUp" data-out="expand" data-duration="800">WELCOME <span>TO HAPPY</span> PAWS</h1>
                                        <p class="pogoSlider-slide-element" data-in="slideUp" data-out="expand" data-duration="800">We offer all the best quality products and services for your adorable pets.of a page when looking at its layout. The point of using Lorem Ipsum i like readable English.</p>
                                        <p class="header-text-button pogoSlider-slide-element hidden-xs" data-in="expand" data-out="expand" data-duration="1200"><a href="#" class="battn">Hot Deals</a> <a href="//media.anpero.com/images/36/92017/hoa-qua-sach2017092420410721.jpg" class="battn">Xem thêm </a></p>
                                    </div>
                                </div>
                            </li>

                        }
                    }

                </ul>
            </div>
        </div>
    </div>*@
