@using AnperoFrontend.WebService;
<div id="thm-mart-slideshow" class="thm-mart-slideshow">
    <div class="container">
        <div id='thm_slider_wrapper' class='thm_slider_wrapper fullwidthbanner-container'>
            <div id='thm-rev-slider' class='rev_slider fullwidthabanner'>
                <ul>
                    @if (ViewData["slide"] != null)
                    {
                        Ads[] slide = (Ads[])ViewData["slide"];
                        if (slide.Length > 0)
                        {
                            foreach (var item in slide)
                            {
                            
                                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@item.ImagesUrl'>
                                        <amp-img media="(min-width: 650px)" width="1087" height="414" src="@item.ImagesUrl" layout="responsive" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="@item.Description">
                                            <noscript>
                                                <img src="@item.ImagesUrl" />
                                            </noscript>
                                        </amp-img>
                                        <div class="info">
                                            @Html.Raw(item.Description)
                                        </div>
                                    </li>
                            }
                        }
                    }
           
                </ul>
            </div>
        </div>
    </div>
</div>
