@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}
<div id="page">
    @*<div class="latest-blog our-features-box wow bounceInUp animated">
        <div class="new_title">
            <h2>Tư vấn thiết kế</h2>
        </div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wrapper left">
                        <div class="item-image">
                            <div class="overlay"><div class="text"><span><a href="/tu-van-thiet-ke-phong-khach-b120">Tư vấn thiết kế phòng khách</a></span></div></div>
                            <img src="http://media.anpero.com/images/45/122017/12017121621384153.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wrapper left">
                        <div class="item-image">
                            <div class="overlay"><div class="text"><span><a href="/tu-van-thiet-ke-phong-ngu-b122">Tư vấn thiết kế phòng ngủ</a></span></div></div>
                            <img src="http://media.anpero.com/images/45/122017/22017121621540763.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wrapper left">
                        <div class="item-image">
                            <div class="overlay"><div class="text"><span><a href="/tu-van-thiet-ke-phong-an-b121">Tư vấn thiết kế phòng ăn</a></span></div></div>
                            <img src="http://media.anpero.com/images/45/122017/12017121622122886.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wrapper left">
                        <div class="item-image">
                            <div class="overlay"><div class="text"><span><a href="/tu-van-thiet-ke-bep-dep-b123">Tư vấn thiết kế bếp đẹp</a></span></div></div>
                            <img src="http://media.anpero.com/images/45/122017/22017121622132794.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <footer>
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12 col-lg-4">
                        <div class="co-info">
                            <div>
                                <a href="/">
                                    <amp-img src="@commonInfo.Logo" alt="@commonInfo.Name" height="200" width="200"></amp-img>
                                </a>
                            </div>
                            <address>
                                <div><em class="icon-location-arrow"></em>@commonInfo.Address</div>
                                <div> <em class="icon-mobile-phone"></em><span> @Anpero.StringHelpper.ToPhoneNumberFormat(commonInfo.HotLine)</span></div>
                                <div> <em class="icon-envelope"></em><span>@commonInfo.Email</span></div>
                            </address>
                            <div class="social">
                                <ul class="link">
                                    @if (!string.IsNullOrEmpty(commonInfo.Skype) || !string.IsNullOrEmpty(commonInfo.FaceBookLink))
                                    {
                                        string thisUrl = HttpContext.Current.Request.Url.AbsoluteUri;

                                        if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                                        {
                                            <li class="fb pull-left"><a target="_blank" rel="nofollow" href="http://www.facebook.com/share.php?u=@thisUrl" title="Facebook"></a></li>

                                        }
                                        if (!string.IsNullOrEmpty(commonInfo.Skype))
                                        {
                                            <li class="skype pull-left"><a target="_blank" rel="nofollow" href="skype:@commonInfo.Skype?call" title="skype"></a></li>

                                        }
                                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="http://www.twitter.com/share?url=@thisUrl" title="Twitter"></a></li>
                                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="https://plus.google.com/share?url=@thisUrl" title="GooglePlus"></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8 col-xs-12 col-lg-8">
                        <div class="footer-column">
                            <h4>Sản phẩm</h4>
                            <ul class="links">
                                @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                                {
                                    foreach (var item in commonInfo.ProductCategoryList)
                                    {

                                        <li><a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)">@item.Name</a></li>
                                    }
                                }

                            </ul>
                        </div>
                        <div class="footer-column">
                            <h4>Thông tin</h4>
                            <ul class="links">
                                <li><a title="contact" href="/home/contact">Liên hệ</a></li>
                                <li><a title="about" href="/about">Về chúng tôi</a></li>
                                <li><a title="blog" href="/blog">Blogs</a></li>
                                <li><a title="Chính sách vận chuyển" href="/shippolicy">Chính sách vận chuyển</a></li>
                                <li><a title="Chính sách bảo hành" href="/WarrantyPolicy">Chính sách bảo hành</a></li>
                                <li><a title="Chính sách đổi trả" href="/ProductReturnPolicy">Chính sách đổi trả</a></li>
                                <li><a title="Chính sách bảo mật" href="/PrivacyPolicy">Chính sách bảo mật</a></li>
                                <li><a title="Hướng dẫn thanh toán" href="/PaymentInfo">Hướng dẫn thanh toán</a></li>
                            </ul>
                        </div>
                        <div class="footer-column">
                            @if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                            {

                                <div class="fb-page"
                                     data-tabs="messages"
                                     data-href="@Html.Raw(commonInfo.FaceBookLink)"
                                     data-height="300"
                                     data-hide-cover="false">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="row"> </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 coppyright">© 2016 @commonInfo.Name. All Rights Reserved. Power by <a href="http://anpero.com" title="thiết kế web quản lý bán hàng, thiết kế web chuyên nghiệp">Anpero</a></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<div id="mobile-menu">
    <ul>
        <li>
            <div class="home"><a href="/"><i class="icon-home"></i>Trang chủ</a> </div>
        </li>
        <li>
            <a href="/about">Giới thiệu</a>
        </li>
        <li>
            <a href="#">Sản phẩm</a>
            <ul>
                @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                {
                    foreach (var item in commonInfo.ProductCategoryList)
                    {
                        if (item.ChildCategory != null && item.ChildCategory.Length == 0)
                        {
                            <li>
                                <a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)"><span>@item.Name‎</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name, item.Id)"><span>@item.Name</span> </a>
                                <ul>
                                    @foreach (var chidItem in item.ChildCategory)
                                    {
                                        <li><a href="@Anpero.StringHelpper.GetCategoryLink(chidItem.Name, chidItem.Id)"><span>@chidItem.Name</span></a></li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                }
            </ul>
        </li>
        @if (commonInfo.ProductGroupList != null && commonInfo.ProductGroupList.Length > 0)
        {
            <li>
                <a href="/search?category=0&keyword=">Sản phẩm theo nhóm</a>
                <ul>
                    @foreach (var item in commonInfo.ProductGroupList)
                    {
                        <li><a href="@Anpero.StringHelpper.GetProductGroupLink(item.Name, item.Id)"><span>@item.Name</span></a></li>
                    }
                </ul>

            </li>
        }
        @if (ViewData["saleProduct"] != null)
        {
            AnperoFrontend.WebService.ProductItem[] saleProduct = (AnperoFrontend.WebService.ProductItem[])ViewData["saleProduct"];
            <li>
                <a href="#">Sản phẩm khuyến mại</a>
                @if (saleProduct != null && saleProduct.Length > 0)
                {
                    <ul>
                        @for (int i = 0; i < saleProduct.Length; i++)
                        {
                            if (i < 4)
                            {
                                <li><a href="@Anpero.StringHelpper.GetProductLink(saleProduct[i].PrName, saleProduct[i].Id)">@saleProduct[i].PrName</a></li>
                            }
                        }
                    </ul>
                }
            </li>
        }
        <li>
            <a href="/blog">Tin tức</a>
            <ul>
                <li><a href="/blog">Blogs</a></li>
                <li><a href="/chinh-sach-van-chuyen-a86">Vận chuyển</a></li>
                <li><a href="/ProductReturnPolicy">Chính sách đổi trả</a></li>
                <li><a href="/PaymentInfo">Hướng dẫn thanh toán</a></li>
            </ul>
        </li>
        <li><a href="/home/contact">Liên hệ</a></li>
    </ul>
</div>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
