@using AnperoFrontend.WebService;
@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}
<div id="page">
    @*<div class="latest-blog our-features-box wow bounceInUp animated">
        <div class="new_title">
            <h2>Tư vấn thiết kế</h2>
        </div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wrapper left">
                        <div class="item-image">
                            <div class="overlay"><div class="text"><span><a href="/tu-van-thiet-ke-phong-khach-b120">Tư vấn thiết kế phòng khách</a></span></div></div>
                            <img src="http://media.anpero.com/images/45/122017/12017121621384153.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wrapper left">
                        <div class="item-image">
                            <div class="overlay"><div class="text"><span><a href="/tu-van-thiet-ke-phong-ngu-b122">Tư vấn thiết kế phòng ngủ</a></span></div></div>
                            <img src="http://media.anpero.com/images/45/122017/22017121621540763.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wrapper left">
                        <div class="item-image">
                            <div class="overlay"><div class="text"><span><a href="/tu-van-thiet-ke-phong-an-b121">Tư vấn thiết kế phòng ăn</a></span></div></div>
                            <img src="http://media.anpero.com/images/45/122017/12017121622122886.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wrapper left">
                        <div class="item-image">
                            <div class="overlay"><div class="text"><span><a href="/tu-van-thiet-ke-bep-dep-b123">Tư vấn thiết kế bếp đẹp</a></span></div></div>
                            <img src="http://media.anpero.com/images/45/122017/22017121622132794.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <footer>
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12 col-lg-4">
                        <div class="co-info">
                            <div>
                                <a href="/">
                                    <img src="@commonInfo.Logo" alt="@commonInfo.Name">
                                </a>
                            </div>
                            <address>
                                <div><em class="icon-location-arrow"></em>@commonInfo.Address</div>
                                <div> <em class="icon-mobile-phone"></em><span> @Anpero.StringHelpper.ToPhoneNumberFormat(commonInfo.HotLine)</span></div>
                                @if (!string.IsNullOrEmpty(commonInfo.Skype))
                                {
                                    <div> <em class="icon-skype" style="color:#666;"></em><span><a href="skype:@commonInfo.Skype?call" style="color:white;"> @commonInfo.Skype</a> </span></div>
                                }

                                <div> <em class="icon-envelope"></em><span>@commonInfo.Email</span></div>
                            </address>
                            <div class="social">
                                <ul class="link">
                                    @if (!string.IsNullOrEmpty(commonInfo.Skype) || !string.IsNullOrEmpty(commonInfo.FaceBookLink))
                                    {
                                        string thisUrl = HttpContext.Current.Request.Url.AbsoluteUri;

                                        if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                                        {
                                            <li class="fb pull-left"><a target="_blank" rel="nofollow" href="https://www.facebook.com/share.php?u=@thisUrl" title="Facebook"></a></li>

                                        }
                                        if (!string.IsNullOrEmpty(commonInfo.Skype))
                                        {
                                            <li class="skype pull-left"><a target="_blank" rel="nofollow" href="skype:@commonInfo.Skype?call" title="skype"></a></li>

                                        }
                                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="https://www.twitter.com/share?url=@thisUrl" title="Twitter"></a></li>
                                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="https://plus.google.com/share?url=@thisUrl" title="GooglePlus"></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8 col-xs-12 col-lg-8">
                        <div class="footer-column">
                            <h4>Sản phẩm</h4>
                            <ul class="links">
                                @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                                {
                                    foreach (var item in commonInfo.ProductCategoryList)
                                    {

                                        <li><a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)">@item.Name</a></li>
                                    }
                                }

                            </ul>
                        </div>
                        <div class="footer-column">
                            <h4>Thông tin</h4>
                            <ul class="links">
                                <li><a title="contact" href="/home/contact">Liên hệ</a></li>
                                <li><a title="about" href="/about">Về chúng tôi</a></li>
                                <li><a title="blog" href="/blog">Blogs</a></li>
                                <li><a title="Chính sách vận chuyển" href="/shippolicy">Chính sách vận chuyển</a></li>
                                @*<li><a title="Chính sách bảo hành" href="/WarrantyPolicy">Chính sách bảo hành</a></li>
                                <li><a title="Chính sách đổi trả" href="/ProductReturnPolicy">Chính sách đổi trả</a></li>*@
                                <li><a title="Chính sách bảo mật" href="/PrivacyPolicy">Chính sách bảo mật</a></li>
                                <li><a title="Hướng dẫn thanh toán" href="/PaymentInfo">Hướng dẫn thanh toán</a></li>
                            </ul>
                        </div>
                        <div class="footer-column">
                            @if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                            {

                                <div class="fb-page"
                                     data-tabs="messages"
                                     data-href="@Html.Raw(commonInfo.FaceBookLink)"
                                     data-height="300"
                                     data-hide-cover="false">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="row"> </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 coppyright">© 2016 @commonInfo.Name. All Rights Reserved. Power by <a href="https://anpero.com" title="thiết kế web quản lý bán hàng, thiết kế web chuyên nghiệp">Anpero</a></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<div id="mobile-menu">
    <ul>
        @if (commonInfo.MenuList != null && commonInfo.MenuList.Count() > 0)
        {
            foreach (var item in commonInfo.MenuList)
            {
                <li>
                    <a class="level-top" href="@item.Link"><span>@item.Tittle</span></a>
                    @if (item.ChidMenu.Count() > 0)
                    {
                        <ul class="level2">
                            @foreach (var chidItem in item.ChidMenu)
                            {
                                <li class="level2"><a href="@chidItem.Link"><span>@chidItem.Tittle</span></a></li>
                            }
                        </ul>
                    }
                </li>
            }
        }
     

     
    </ul>
</div>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
