@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string themeOptionText = "option6";
    int themeOption = commonInfo.ThemeOption;
    switch (themeOption)
    {
        case 1:
            themeOptionText = "option6";
            break;
        case 2:
            themeOptionText = "option5";
            break;
        case 3:
            themeOptionText = "home option2";
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="REFRESH" content="1800" />
    <meta name="robots" content="index,follow,all" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    @RenderSection("health", required: false)
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />

    @if (themeOption == 2)
    {
        <link href="/assets/lib/jquery-bxslider/jquery-bxslider.css" rel="stylesheet" />
    }
    <link rel="stylesheet" type="text/css" href="/assets/css/@(themeOptionText+".css")" />
    <link rel="dns-prefetch" href="https://v2.zopim.com/">
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://www.facebook.com/">


</head>
<body class="@themeOptionText">
    <div id="header" class="header">


        @switch (commonInfo.ThemeOption)
        {
            case 2:
                Html.RenderPartial("_partial/_MainHeader_2");
                break;
            default:
                Html.RenderPartial("_partial/_MainHeader_1");
                break;
        }
        <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">
                    <div id="main-menu" class="col-sm-9 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="#">MENU</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        
                                        @if (commonInfo.MenuList != null)
                                        {
                                            for (int i = 0; i < commonInfo.MenuList.Length; i++)
                                            {
                                                if (commonInfo.MenuList[i].ChidMenu != null && commonInfo.MenuList[i].ChidMenu.Length > 0)
                                                {

                                                    <li class="dropdown">
                                                        <a href="@commonInfo.MenuList[i].Link" data-toggle="dropdown">@commonInfo.MenuList[i].Tittle</a>
                                                        <ul class="dropdown-menu container-fluid">
                                                            <li class="block-container">
                                                                <ul class="block">
                                                                    @for (int j = 0; j < commonInfo.MenuList[i].ChidMenu.Length; j++)

                                                                    {
                                                                        <li class="link_container"><a href="@commonInfo.MenuList[i].ChidMenu[j].Link">@commonInfo.MenuList[i].ChidMenu[j].Tittle</a></li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@commonInfo.MenuList[i].Link">@commonInfo.MenuList[i].Tittle</a>
                                                    </li>
                                                }
                                            }
                                        }

                                    </ul>
                                   
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div id="form-search-opntop"></div>
                <!-- userinfo on top-->
                <div id="user-info-opntop"></div>
                <!-- CART ICON ON MMENU -->
                <div id="shopping-cart-box-ontop">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="shopping-cart-box-ontop-content"></div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="/Scripts/ShoppingCart.js"></script>
    @Html.Raw(commonInfo.AnperoPlugin)
    @RenderSection("scripts", required: false)
    @Html.Raw(commonInfo.PageScript)
    <div class="container">
        <div class="services2">
            <ul>
                <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-6 image">
                                <div class="icon">
                                    <img src="/assets/data/icon-s1.png" alt="service">
                                </div>
                                <h3 class="title"><a href="#">Giá rẻ nhất</a></h3>
                            </div>
                            <div class="col-sm-6 text">
                                Sản phẩm trực tiếp từ nhà cung ứng. đảm bảo chất lượng và giá tốt nhất
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-6 image">
                                <div class="icon">
                                    <img src="/assets/data/icon-s2.png" alt="service">
                                </div>
                                <h3 class="title"><a href="#">Ship toàn quốc</a></h3>
                            </div>
                            <div class="col-sm-6 text">
                                Đơn hàng được xử lý nhanh chóng. Sản phẩm được vận chuyển sau 30 phút bạn đặt hàng online
                            </div>
                        </div>
                    </div>
                </li>
             
                <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-6 image">
                                <div class="icon">
                                    <img src="/assets/data/icon-s4.png" alt="service">
                                </div>
                                <h3 class="title"><a href="#">Hỗ trợ onlne</a></h3>
                            </div>
                            <div class="col-sm-6 text">
                                Vui lòng gọi @commonInfo.HotLine chúng tôi rất hân hạnh được hỗ trợ quý khách
                            </div>
                        </div>
                    </div>
                </li>
          
            

            </ul>
        </div>
        <div id="trademark-box" class="row">
            <div class="col-sm-12">
                <ul id="trademark-list">
                    <li id="payment-methods">Hỗ trợ thanh toán</li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/nganluong.png" alt="Ngân lượng"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/Techcombank_logo.jpg" alt="Techcombank"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-wu.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-cn.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-visa.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-mc.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-ems.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-dhl.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-fe.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-wm.jpg" alt="ups"></a></li>
                </ul>
            </div>
        </div>
    </div>
  
    <footer id="footer">
        <div class="container">
           

            <div id="introduce-box" class="row">
                <div class="col-md-4">
                    <div class="introduce-title">Các đại lý</div>
                    <div class="address-box">

                        @*<a href="/"><img src="@commonInfo.Logo" alt="logo"></a>*@
                        @*<div class="adrct">
                            <div class="tit-contain"><i class="fa fa-home"></i> @commonInfo.Address Công ty cổ phần Citygo số 434 trần khát Trân, Hai Bà </div>
                            <div class="tit-contain"><i class="fa fa-phone"></i> @commonInfo.HotLine</div>

                            @if (!string.IsNullOrEmpty(commonInfo.Email))
                            {
                                <div class="tit-contain"><i class="fa fa-envelope"></i> @commonInfo.Email</div>
                            }

                            @if (!string.IsNullOrEmpty(commonInfo.Skype))
                            {
                                <div class="tit-name">Skype:</div>
                                <div class="tit-contain"><a href="skype:@commonInfo.Skype?call"></a> @commonInfo.Skype</div>
                            }

                        </div>*@

                        <div class="adrct">
                            <div class="tit-contain"><i class=""></i> Thái Nguyên</div>
                            <div class="tit-contain"><i class="fa fa-home"></i> CSSX chè Hùng Nhung</div>
                            <div class="tit-contain"><i class="fa fa-location-arrow"></i> xóm Nam Đồng, xã Tân Cương, TP Thái Nguyên</div>
                          
                        </div>

                        <div class="adrct">
                            <div class="tit-contain"><i class=""></i> Hà Nội</div>
                            <div class="tit-contain"><i class="fa fa-home"></i> Đại lý Phượng Chili</div>
                            <div class="tit-contain"><i class="fa fa-location-arrow"></i> ngõ 35 Thái Thịnh, Hà Nội</div>
                         
                        </div>
                         @{
                             
                             string thisUrl = System.Web.HttpContext.Current.Request.Url.ToString();
                            <div class="introduce-title" style="margin-top:10px;">Chia sẻ với bạn bè</div>
                            <div class="social-link">
                                @if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                                {
                                    <a href="http://www.facebook.com/share.php?u=@commonInfo.FaceBookLink&title=@commonInfo.Desc" target="_blank"><i class="fa fa-facebook"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(commonInfo.Skype))
                                {
                                    <a href="skype:@commonInfo.Skype?call"><i class="fa fa-skype"></i></a>
                                }
                                <a href="https://plus.google.com/share?url=@thisUrl" target="_blank"><i class="fa fa-google-plus"></i></a>
                                <a href="http://pinterest.com/pinthis?url=@thisUrl" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                <a href="http://www.twitter.com/share?url=@thisUrl" target="_blank"><i class="fa fa-twitter"></i></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">                        
                        <div class="col-sm-12">
                            <div class="address-box" style="margin-top: 31px;">

                                @*<a href="/"><img src="@commonInfo.Logo" alt="logo"></a>*@
                                <div class="adrct">
                                    <div class="tit-contain"><i class=""></i> Bắc Kạn</div>
                                    <div class="tit-contain"><i class="fa fa-home"></i> Tạp hóa Tuyết Huân</div>
                                    <div class="tit-contain"><i class="fa fa-location-arrow"></i> số 33, tổ 11A, P Sông Cầu, Bắc Kạn</div>
                                   
                                </div>

                                <div class="adrct">
                                    <div class="tit-contain"><i class=""></i> Ecopark</div>
                                    <div class="tit-contain"><i class="fa fa-home"></i> Đại lý Thu Dung</div>
                                    <div class="tit-contain"><i class="fa fa-location-arrow"></i> WBB 2617, West Bay, Ecopark</div>
                                  
                                </div>
                             
                                
                            </div>
                            @*<div class="introduce-list">
                                @Html.Raw(commonInfo.Footer)

                            </div>*@
                            @*@if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                            {
                                <ul id="introduce-company" class="introduce-list">
                                    @foreach (var item in commonInfo.ProductCategoryList)
                                    {
                                        <li><a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)" alter="@item.Name">@item.Name</a></li>
                                    }
                                    
                                </ul>
                            }*@
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div id="contact-box" style="text-align: right;">
                        @if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                        {
                            <div class="fb-page" data-tabs="messages" data-href="@Html.Raw(commonInfo.FaceBookLink)" data-width="500" data-height="300" data-hide-cover="false"></div>
                        }
                    </div>

                </div>
            </div>

            <div id="footer-menu-box">                
                <div class="col-sm-12">
                    <ul class="footer-menu-list">
                        <li><a title="about" href="/about">Về chúng tôi</a></li>
                        <li><a href="/home/contact">Liên hệ</a></li>
                        
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="footer-menu-list">                            
                            <li><a title="Chính sách vận chuyển" href="/shippolicy">Chính sách vận chuyển</a></li>
                            <li><a title="Chính sách bảo hành" href="/WarrantyPolicy">Chính sách bảo hành</a></li>
                            <li><a title="Chính sách đổi trả" href="/ProductReturnPolicy">Chính sách đổi trả</a></li>
                            <li><a title="Chính sách bảo mật" href="/PrivacyPolicy">Chính sách bảo mật</a></li>
                            <li><a title="Hướng dẫn thanh toán" href="/PaymentInfo">Hướng dẫn thanh toán</a></li>                        
                        <li><a href="/blog">Tin tức</a></li>
                    </ul>
                </div>

                <p class="text-center">Copyrights © 2017 @commonInfo.Name. All Rights Reserved. Designed by <a href="http://anpero.com" title="thiết kế web bán hàng anpero">Anpero.com</a></p>
            </div>
        </div>
    </footer>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        $(window).load(function () {
            Cart.bindCart();
        });
    </script>
</body>
</html>
