@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
    string themeOptionText = "option6";
    int themeOption = commonInfo.ThemeOption;
    switch (themeOption)
    {
        case 1:
            themeOptionText = "option6";
            break;
        case 2:
            themeOptionText = "option5";
            break;
        case 3:
            themeOptionText = "home option2";
            break;
    }
}
@using AnperoFrontend.WebService;
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="REFRESH" content="1800" />
    <meta name="robots" content="index,follow,all" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    @RenderSection("health", required: false)
    <link href="//media.anpero.com/cdn/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
    @if (themeOption == 2)
    {
        <link href="/assets/lib/jquery-bxslider/jquery-bxslider.css" rel="stylesheet" />
    }
    <link rel="shortcut icon" href="@commonInfo.Logo" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/@(themeOptionText+".css")" />
    <link rel="dns-prefetch" href="//v2.zopim.com/">
    <link rel="dns-prefetch" href="//www.google-analytics.com/">
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="dns-prefetch" href="//www.facebook.com/">
    <link href='/static/css' rel='stylesheet' type='text/css'>
    @*<link href="/assets/css/blue-style.css" rel="stylesheet" />*@
    @*<link href="/assets/css/Green-style.css" rel="stylesheet" />*@

</head>
<body class="@themeOptionText">
    <div id="header" class="header">

        @switch (commonInfo.ThemeOption)
        {
            case 2:
                Html.RenderPartial("_partial/_MainHeader_2");
                break;
            default:
                Html.RenderPartial("_partial/_MainHeader_1");

                break;
        }
        <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">
                    <div id="main-menu" class="col-sm-9 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="#">MENU</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">

                                        @if (commonInfo.MenuList != null)
                                        {
                                            for (int i = 0; i < commonInfo.MenuList.Length; i++)
                                            {
                                                if (commonInfo.MenuList[i].ChidMenu != null && commonInfo.MenuList[i].ChidMenu.Length > 0)
                                                {

                                                    <li class="dropdown">
                                                        <a href="@commonInfo.MenuList[i].Link" data-toggle="dropdown">@commonInfo.MenuList[i].Tittle</a>
                                                        <ul class="dropdown-menu container-fluid">
                                                            <li class="block-container">
                                                                <ul class="block">
                                                                    @for (int j = 0; j < commonInfo.MenuList[i].ChidMenu.Length; j++)

                                                                    {
                                                                        <li class="link_container"><a href="@commonInfo.MenuList[i].ChidMenu[j].Link">@commonInfo.MenuList[i].ChidMenu[j].Tittle</a></li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@commonInfo.MenuList[i].Link">@commonInfo.MenuList[i].Tittle</a>
                                                    </li>
                                                }
                                            }
                                        }

                                    </ul>

                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div id="user-info-opntop"></div>
                <div id="form-search-opntop"></div>
                <!-- userinfo on top-->
                <!-- CART ICON ON MMENU -->
                <div id="shopping-cart-box-ontop">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="shopping-cart-box-ontop-content"></div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <script src="//media.anpero.com/cdn/plugins/jquery-1.10.2.min.js"></script>
    <script src="//media.anpero.com/cdn/assets/plugins/bootstrap/js/bootstrap.min.js"></script>



    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/ShoppingCart.js"></script>
    @Html.Raw(commonInfo.AnperoPlugin)
    @RenderSection("scripts", required: false)
    @Html.Raw(commonInfo.PageScript)
    <div class="container">
        <div class="services2">
            <ul>
                <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-6 image">
                                <div class="icon">
                                    <img src="/assets/data/icon-s1.png" alt="service">
                                </div>
                                <h3 class="title"><a href="#">Giá rẻ nhất</a></h3>
                            </div>
                            <div class="col-sm-6 text">
                                Sản phẩm trực tiếp từ nhà cung ứng. đảm bảo chất lượng và giá tốt nhất
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-6 image">
                                <div class="icon">
                                    <img src="/assets/data/icon-s2.png" alt="service">
                                </div>
                                <h3 class="title"><a href="#">Ship toàn quốc</a></h3>
                            </div>
                            <div class="col-sm-6 text">
                                Đơn hàng được xử lý nhanh chóng. Sản phẩm được vận chuyển sau 30 phút bạn đặt hàng online
                            </div>
                        </div>
                    </div>
                </li>

                <li class="col-xs-12 col-sm-6 col-md-4 services2-item">
                    <div class="service-wapper">
                        <div class="row">
                            <div class="col-sm-6 image">
                                <div class="icon">
                                    <img src="/assets/data/icon-s4.png" alt="service">
                                </div>
                                <h3 class="title"><a href="#">Hỗ trợ onlne</a></h3>
                            </div>
                            <div class="col-sm-6 text">
                                Vui lòng gọi @commonInfo.HotLine chúng tôi rất hân hạnh được hỗ trợ quý khách
                            </div>
                        </div>
                    </div>
                </li>



            </ul>
        </div>
        <div id="trademark-box" class="row">
            <div class="col-sm-12">
                <ul id="trademark-list">
                    <li id="payment-methods">Hỗ trợ thanh toán</li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/nganluong.png" alt="Ngân lượng"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/Techcombank_logo.jpg" alt="Techcombank"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-wu.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="~/assets/data/vib.jpg" alt="vib bank"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-visa.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-mc.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-ems.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-dhl.jpg" alt="ups"></a></li>
                    <li><a href="javascript:void(0);"><img src="/assets/data/trademark-fe.jpg" alt="ups"></a></li>

                </ul>
            </div>
        </div>
    </div>


    <footer id="footer">
        <div class="container">


            <div id="introduce-box" class="row">
                @if (!string.IsNullOrEmpty(commonInfo.Footer))
                {
                    <text>@Html.Raw(commonInfo.Footer)</text>
                }
                else
                {
                <div class="col-md-4">

                    <div class="address-box">

                        <a href="/"><img src="@commonInfo.Logo" alt="logo"></a>
                        <div class="adrct">
                            <div class="tit-contain"><i class="fa fa-home"></i> @commonInfo.Address</div>
                            <div class="tit-contain"><i class="fa fa-phone"></i> @commonInfo.HotLine</div>

                            @if (!string.IsNullOrEmpty(commonInfo.Email))
                            {
                                <div class="tit-contain"><i class="fa fa-envelope"></i> @commonInfo.Email</div>
                            }

                            @if (!string.IsNullOrEmpty(commonInfo.Skype))
                            {
                                <div class="tit-name">Skype:</div>
                                <div class="tit-contain"><a href="skype:@commonInfo.Skype?call"></a> @commonInfo.Skype</div>
                            }

                        </div>
                        @{

                            string thisUrl = Request.Url.AbsoluteUri;
                            <div class="introduce-title" style="margin-top:10px;">Chia sẻ với bạn bè</div>
                            <div class="social-link">
                                @if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                                {
                                    <a href="http://www.facebook.com/share.php?u=@commonInfo.FaceBookLink&title=@commonInfo.Desc" target="_blank"><i class="fa fa-facebook"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(commonInfo.Skype))
                                {
                                    <a href="skype:@commonInfo.Skype?call"><i class="fa fa-skype"></i></a>
                                }
                                <a href="//plus.google.com/share?url=@thisUrl" target="_blank"><i class="fa fa-google-plus"></i></a>
                                <a href="//pinterest.com/pinthis?url=@thisUrl" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                <a href="//www.twitter.com/share?url=@thisUrl" target="_blank"><i class="fa fa-twitter"></i></a>
                            </div>
                        }
                    </div>
                    <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
                    <!-- Histats.com  START  (aync)-->
                    <script type="text/javascript">
                        var _Hasync = _Hasync || [];
                        _Hasync.push(['Histats.start', '1,4138849,4,428,112,75,00001111']);
                        _Hasync.push(['Histats.fasi', '1']);
                        _Hasync.push(['Histats.track_hits', '']);
                        (function () {
                            var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
                            hs.src = ('//s10.histats.com/js15_as.js');
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
                        })();</script>
                    <noscript><a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?4138849&101" alt="" border="0"></a></noscript>
                    <!-- Histats.com  END  -->
                </div>
                    <div class="col-md-4  col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                                {
                                    <ul class="introduce-list">
                                        @foreach (var item in commonInfo.ProductCategoryList)
                                        {
                                            <li><a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name,item.Id)" alter="@item.Name">@item.Name</a></li>
                                        }

                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-4">
                    <div id="contact-box" style="text-align: right;">
                        @if (!string.IsNullOrEmpty(commonInfo.FaceBookLink))
                        {
                            <div class="fb-page" data-tabs="messages" data-href="@Html.Raw(commonInfo.FaceBookLink)" data-width="500" data-height="300" data-hide-cover="false"></div>
                        }
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <div id="footer-menu-box">
        <div class="col-sm-12">
            <ul class="footer-menu-list">
                <li><a title="about" href="/about">Về chúng tôi</a></li>
                <li><a href="/home/contact">Liên hệ</a></li>

            </ul>
        </div>
        <div class="col-sm-12">
            <ul class="footer-menu-list">
                <li><a title="Chính sách vận chuyển" href="/shippolicy">Chính sách vận chuyển</a></li>
                <li><a title="Chính sách bảo hành" href="/WarrantyPolicy">Chính sách bảo hành</a></li>
                <li><a title="Chính sách đổi trả" href="/ProductReturnPolicy">Chính sách đổi trả</a></li>
                <li><a title="Chính sách bảo mật" href="/PrivacyPolicy">Chính sách bảo mật</a></li>
                <li><a title="Hướng dẫn thanh toán" href="/PaymentInfo">Hướng dẫn thanh toán</a></li>
                <li><a href="/blog">Tin tức</a></li>
                <li><a href="/home/contact">Liên hệ</a></li>

            </ul>
        </div>
        <p class="text-center">Copyrights © 2017 @commonInfo.Name. All Rights Reserved. Designed by <a href="http://anpero.com" title="thiết kế web bán hàng anpero"> Anpero.com</a></p>
    </div>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        $(window).load(function () {
            Cart.bindCart();
            //jQuery(".subDropdown")[0] && jQuery(".subDropdown").on("click", function () {
            //    jQuery(this).toggleClass("plus"), jQuery(this).toggleClass("minus"), jQuery(this).parent().find("ul").slideToggle()
            //})
        });
        $(".tree-menu li span").mouseenter(function () {
            $(this).closest('li').children('ul').show();
        });
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b7a515bc8da872d"></script>
    @Html.Partial("GoogleTranslate")
</body>
</html>
