@using AnperoFrontend.WebService;
@{

    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.Title = commonInfo.Name;
        ViewBag.Keywords = Anpero.StringHelpper.UnicodeToKoDau(commonInfo.Desc);
        ViewBag.WebsiteUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    }
}
@section health{

    <link href="/assets/style-revolution-slider.css" rel="stylesheet">
    <link href="/assets/plugin/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
    <meta property="og:image:type" content="image/jpg">
    <meta content="@commonInfo.Name" name="author" />
    <meta property="og:image" content="@commonInfo.Logo">
}
@if (ViewData["slide"] == null)
{
    <!-- BEGIN SLIDER -->
    <div class="page-slider">
        <div class="fullwidthbanner-container revolution-slider">
            <div class="fullwidthabnner">
                <ul id="revolutionul">
                    <!-- THE NEW SLIDE -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400">
                        <img src="http://jaki.anpero.com/theme/wp-content/uploads/2019/01/s8-01.jpg" alt="Củ hoa tulip kép">
                        <div class="caption lfl slide_title slide_item_left"
                             data-x="300"
                             data-y="125"
                             data-speed="400"
                             data-start="3500"
                             data-easing="easeOutExpo" style="color:white;">
                            HẠT GIỐNG HOA QUẢ
                        </div>
                        <div class="caption lfl slide_subtitle slide_item_left"
                             data-x="300"
                             data-y="200"
                             data-speed="400"
                             data-start="4000"
                             data-easing="easeOutExpo">
                            Thu tiền tận nhà toàn quốc
                        </div>
                        <div class="caption lfl slide_desc slide_item_left"
                             data-x="300"
                             data-y="245"
                             data-speed="400"
                             data-start="4500"
                             data-easing="easeOutExpo" style="color:white;">
                            Thu tiền tại nhà (COD). <br />Hỗ trợ phí ship cho tất cả các đơn hàng
                        </div>
                        @*<div class="caption lfr slide_item_right"
                                 data-x="635"
                                 data-y="90"
                                 data-speed="1200"
                                 data-start="1500"
                                 data-easing="easeOutBack">
                                <img src="http://hatgiong247.com/images/home/ship.png" alt="Hạt giống nga, hạt giống mỹ">
                            </div>*@

                    </li>
                    <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="http://hatgiong247.com/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                        <img src="http://hatgiong247.com/assets/frontend/pages/img/revolutionslider/bg9.jpg" alt="">
                        <div class="caption lft slide_title_white slide_item_right"
                             data-x="300"
                             data-y="90"
                             data-speed="400"
                             data-start="1500"
                             data-easing="easeOutExpo">
                            CHỌN TỪ CÁC TRANG TRẠI UY TÍN<br><span class="slide_title_white_bold"> TRÊN THẾ GIỚI</span>
                        </div>
                        <div class="caption lft slide_subtitle_white slide_item_left"
                             data-x="287"
                             data-y="245"
                             data-speed="400"
                             data-start="2000"
                             data-easing="easeOutExpo">
                            ĐƯỢC ĐÁNH GIÁ BỞI NGƯỜI DÙNG AMAZON VÀ EBAY TẠI MỸ
                        </div>
                        <a class="caption lft btn dark slide_btn slide_item_left" href="/hat-giong-hoa"
                           data-x="387"
                           data-y="315"
                           data-speed="400"
                           data-start="3000"
                           data-easing="easeOutExpo">
                            DANH SÁCH HẠT GIỐNG
                        </a>
                        <div class="caption lfb"
                             data-x="640"
                             data-y="150"
                             data-speed="700"
                             data-start="1000"
                             data-easing="easeOutExpo">
                            <img src="http://hatgiong247.com/images/home/lavender.png" alt="hạt giống lavender">
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="http://hatgiong247.com/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                        <img src="http://hatgiong247.com/assets/frontend/pages/img/revolutionslider/bg4.jpg" alt="">
                        <div class="caption lft slide_title"
                             data-x="30"
                             data-y="105"
                             data-speed="400"
                             data-start="1500"
                             data-easing="easeOutExpo">
                            CHĂM SÓC CÂY ?
                        </div>
                        <div class="caption lft slide_subtitle"
                             data-x="30"
                             data-y="180"
                             data-speed="400"
                             data-start="2000"
                             data-easing="easeOutExpo">
                            Chúng tôi có đầy đủ dụng cụ tốt nhất về làm vườn
                        </div>
                        <div class="caption lft slide_desc"
                             data-x="30"
                             data-y="225"
                             data-speed="400"
                             data-start="2500"
                             data-easing="easeOutExpo">
                            Đảm bảo cây phát triển tốt nhất
                        </div>
                        <a class="caption lft slide_btn btn red slide_item_left" href="/dung-cu-lam-vuon" target="_blank"
                           data-x="30"
                           data-y="300"
                           data-speed="400"
                           data-start="3000"
                           data-easing="easeOutExpo">
                            Xem sản phẩm !
                        </a>

                        <div class="caption lft start"
                             data-x="850"
                             data-y="135"
                             data-speed="400"
                             data-start="2400"
                             data-easing="easeOutBack">
                            <img src="http://hatgiong247.com/images/home/tool.png" alt="dụng cụ làm vườn">
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </div>
    <!-- END SLIDER -->
}

<div class="container">

    <div class="vc_row-full-width vc_clearfix"></div>
    <div class="vc_row-full-width vc_clearfix"></div>
    @if (ViewData["newestProduct"] != null)
    {
        SearchResult searchResult = (SearchResult)ViewData["newestProduct"];
        if (searchResult.Item.Length > 0)
        {
            var item1 = searchResult.Item[0];
            <div class="vc_row wpb_row vc_row-fluid ovic_custom_5c92fe3eaf6d1 vc_custom_1544605855380 vc_custom_1544605855411 vc_custom_1544605855425">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 ovic_custom_5c92fe3eaf6d2 vc_custom_1536912601750">

                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="ovic-products style-4   ovic_custom_5c92fe3eaf6d3  item_is_margin owl-ls-1 owl-lg-1 owl-md-1 owl-sm-2 owl-xs-2 owl-ts-1 ovic_products_style27">
                                @if (item1.IsSale)
                                {

                                    <div class="box-title">

                                        <span class="text-sale"><span>Khuyến mại @Anpero.StringHelpper.GetDiscountPersen(item1.Price, item1.SalePrice)%</span></span>
                                    </div>
                                }
                                <div class="product-list-owl owl-slick equal-container better-height">
                                    <div class="product-item products style-4 rows-space-0 product type-product post-380 status-publish instock product_cat-camera-photo product_tag-appliances product_tag-digital product_tag-fashion product_tag-glass has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                        <div class="product-inner">
                                            <div class="product-thumb">
                                                <a href="@Anpero.StringHelpper.GetParentCategoryLink(item1.CatName,item1.Id)" class="button yith-wcqv-button">Chi tiết</a>
                                                <a class="thumb-link woocommerce-product-gallery__image" href="">
                                                    <figure>
                                                        <img width="300" height="300" src="@item1.Images" class="wp-post-image attachment-300x300 size-300x300 lazy" data-src="@item1.Images" />
                                                    </figure>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-name product_title">
                                                    <a href="@Anpero.StringHelpper.GetParentCategoryLink(item1.CatName,item1.Id)">@item1.PrName</a>
                                                </h3>
                                                @if (item1.Warranty > 0)
                                                {
                                                    <p>@item1.Warranty tháng</p>
                                                }
                                                <span class="price">
                                                    @if (item1.IsSale)
                                                    {
                                                        <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>@Anpero.StringHelpper.ConVertToMoneyFormatInt(item1.Price)</span></del>
                                                    }
                                                    <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>@Anpero.StringHelpper.ConVertToMoneyFormatInt(item1.IsSale ? item1.SalePrice : item1.Price)đ</span></ins>
                                                </span>
                                                <p>@item1.Warranty tháng</p>
                                                <p>Xuất xứ : @item1.OriginName</p>
                                                <p>Thông số:  @item1.Specifications</p>
                                                @if (item1.IsInstock)
                                                {
                                                    <div class="add-to-cart">
                                                        <a href="Cart.addProduct(@item1.Id,@(item1.IsSale?item1.SalePrice:item1.Price),'@item1.Images','@HttpUtility.UrlEncode(item1.PrName)'" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Thêm vào giỏ hàng</a>
                                                    </div>
                                                }

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-8 ovic_custom_5c92fe3eaf6d4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="ovic-tabs style1 style7 ovic_custom_5c92fe3eaf6df ">
                                <div class="tab-head ovic-dropdown">
                                    <h3 class="ovic-title"><span class="text">Bán chạy</span></h3>
                                    <ul class="tab-link">
                                        <li class="">
                                            <a data-id="0" href="#" data-ajax="1" data-type="feature">
                                                <span>Tất cả sản phẩm</span>
                                            </a>
                                        </li>
                                        @foreach (var item in commonInfo.ProductCategoryList)
                                        {
                                            <li class="">
                                                <a href="#" class="feature-product" data-id="@item.Id" data-ajax="1" data-type="feature">
                                                    <span>@item.Name</span>
                                                </a>
                                            </li>
                                        }


                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="tab-container">
                                    <div class="tab-panel active">
                                        <div class="ovic-products   review_hided   style-2 ovic_custom_5c92fe3eaf6d6  owl-ls-3 owl-lg-3 owl-md-3 owl-sm-3 owl-xs-2 owl-ts-2 ovic_products_owl_default">
                                            <div id="feature-pr-content" class="product-list-owl owl-slick equal-container better-height" data-slick={&quot;arrows&quot;:true,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:2} data-responsive=[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}}]>
                                                @if (searchResult.Item.Length > 1)
                                                {
                                                    for (int i = 1; i < searchResult.Item.Length; i++)
                                                    {
                                                        var item = searchResult.Item[i];
                                                        <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product status-publish instock product_cat-gadgets-accessories product_tag-appliances product_tag-bass product_tag-furniture has-post-thumbnail sale featured shipping-taxable purchasable product-type-variable has-default-attributes">
                                                            <div class="product-inner">
                                                                <div class="product-thumb">
                                                                    <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" class="button yith-wcqv-button">Chi tiết</a>
                                                                    <a class="thumb-link woocommerce-product-gallery__image" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">
                                                                        <figure>
                                                                            <img width="300" height="300" src="@item.Images" class="wp-post-image attachment-300x300 size-300x300" alt="@item.PrName" />
                                                                        </figure>
                                                                    </a>
                                                                    @if (item.IsSale)
                                                                    {
                                                                        <div class="flash">
                                                                            <span class="onsale"><span class="text">@Anpero.StringHelpper.GetDiscountPersen(item1.Price, item1.SalePrice)%</span></span>
                                                                        </div>
                                                                    }

                                                                </div>
                                                                <div class="product-info">
                                                                    <h3 class="product-name product_title">
                                                                        <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">@item.PrName</a>
                                                                    </h3>
                                                                    <div>@item.Warranty tháng</div>
                                                                    <span class="price">
                                                                        @if (item.IsSale)
                                                                        {
                                                                            <del><span class="woocommerce-Price-amount amount">@item.Price</span></del>
                                                                        }
                                                                        <ins><span class="woocommerce-Price-amount amount">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.IsSale ? item1.SalePrice : item.Price)</span></ins>
                                                                    </span>
                                                                </div>
                                                                @if (item.IsInstock)
                                                                {
                                                                    <div class="group-button">
                                                                        <div class="inner">
                                                                            <div class="add-to-cart">
                                                                                <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" class="button product_type_variable add_to_cart_button">Xem chi tiết</a>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid ovic_custom_5c92fe3eaf719 vc_custom_1536911229630 vc_custom_1536911229658 vc_custom_1536911229670">
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_col-md-5 ovic_custom_5c92fe3eaf71a">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div style="font-size: 50px;color: #ffffff;text-align: left" class="vc_custom_heading ovic_custom_5c92fe3eaf71b vc_custom_1536911315076 vc_custom_1536911315115">Sản phẩm đặc biệt</div><div class="vc_row wpb_row vc_inner vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="ovic-iconbox style17 Dark Background   ovic_custom_5c92fe3eaf71c vc_custom_1536740685223 ">
                                        <div class="box-icon">
                                            <i class="gokko-icon icon-download"></i>
                                        </div>
                                        <div class="texts">
                                            <div class="title">Storage</div>
                                            <p class="text">16GB / 128Gb / 200gb</p>
                                        </div>
                                    </div>

                                    <div class="ovic-iconbox style17 Dark Background   ovic_custom_5c92fe3eaf71d vc_custom_1536740846432 ">
                                        <div class="box-icon">
                                            <i class="gokko-icon icon-wifi2"></i>
                                        </div>
                                        <div class="texts">
                                            <div class="title">Connectivity</div>
                                            <p class="text">
                                                Wi-less: 802.1 b/g/n<br />
                                                Bluetooth 4.2, A2DP, le
                                            </p>
                                        </div>
                                    </div>

                                    <div class="ovic-iconbox style17 Dark Background   ovic_custom_5c92fe3eaf71e vc_custom_1536917769427">
                                        <div class="box-icon">
                                            <i class="gokko-icon icon-cpu"></i>
                                        </div>
                                        <div class="texts">
                                            <div class="title">System Architecture</div>
                                            <p class="text">Gphone a8 Chipset</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="ovic-iconbox style17 Dark Background   ovic_custom_5c92fe3eaf71f vc_custom_1536740910379 ">
                                        <div class="box-icon">
                                            <i class="gokko-icon icon-batery"></i>
                                        </div>
                                        <div class="texts">
                                            <div class="title">Battery</div>
                                            <p class="text">
                                                Non-removable Li-Po<br />
                                                1175 mAh
                                            </p>
                                        </div>
                                    </div>

                                    <div class="ovic-iconbox style17 Dark Background   ovic_custom_5c92fe3eaf720 ">
                                        <div class="box-icon">
                                            <i class="gokko-icon icon-money2"></i>
                                        </div>
                                        <div class="texts">
                                            <div class="title">Market Price</div>
                                            <p class="text">
                                                $28 (16GB)<br />
                                                $89 (128GB)<br />
                                                $128 (200GB)
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7 vc_col-md-7 ovic_custom_5c92fe3eaf727">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="ovic-product product-item product style6 default   ovic_custom_5c92fe3eaf728 vc_custom_1536910883987 vc_custom_1536910883999 " style="">
                        <div class="banner">
                            <img width="498" height="493" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22498%22%20height%3D%22493%22%20viewBox%3D%220%200%20498%20493%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-498x493 size-498x493 lazy" alt="h49" data-src="/theme/wp-content/uploads/2018/09/h49.png" />
                        </div>
                        <div class="content">
                            <h2 class="product-name" style="min-width:400px;">
                                <a href="product/broccoli-natures-perfect-food-3/index.html" style="color:white;">
                                    Show your color
                                </a>
                            </h2>
                            <div class="intro">Pro Wireless</div>
                            <div class="url-container clearfix">
                                <div class="group-price">
                                    <span class="text-label">Only</span>
                                    <span class="text-value"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>15.00</span></span>
                                </div>
                                <a class="extent-url" href="shop/index.html" target="">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid ovic_custom_5c92fe3eaf729 vc_custom_1536909141636 vc_custom_1536909141667">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="ovic-slide  rows-space-0  ovic_custom_5c92fe3eaf72b ">
                        <div class="ovic-slide-default">
                            <div class="owl-slick" data-slick={&quot;arrows&quot;:false,&quot;slidesMargin&quot;:20,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:1} data-responsive=[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1}}]>

                                <div class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5c92fe3eaf72c">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey effect border-scale "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20376%20250%27%2F%3E" data-src="https://gokko.kutethemes.net/wp-content/uploads/2018/09/h45.jpg" width="376" height="250" alt="Home 02" /></div>
                                    </figure>
                                </div>
                                <div class="ovic-iconbox style16 Dark Background   ovic_custom_5c92fe3eaf72d ">
                                    <div class="box-url-video">
                                        <img width="376" height="250" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22376%22%20height%3D%22250%22%20viewBox%3D%220%200%20376%20250%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-376x250 size-376x250 lazy" alt="h47" data-src="/theme/wp-content/uploads/2018/09/h47.jpg" />                                                                            <a class="js-popup-video youtube" href="https://www.youtube.com/watch?v=SXyObZahu-o">
                                            <i class="gokko-icon icon-play2"></i>
                                            <span>Watch Video</span>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                <div class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5c92fe3eaf72e">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey effect border-scale "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20376%20250%27%2F%3E" data-src="https://gokko.kutethemes.net/wp-content/uploads/2018/09/h46.jpg" width="376" height="250" alt="Home 02" /></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
  
    @if (ViewData["newestProduct"] != null)
    {
        SearchResult searchResult = (SearchResult)ViewData["newestProduct"];
        if (searchResult.Item.Length > 0)
        {
            var item1 = searchResult.Item[0];
            <div class="vc_row wpb_row vc_row-fluid ovic_custom_5c92fe3eaf6d1 vc_custom_1544605855380 vc_custom_1544605855411 vc_custom_1544605855425">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 ovic_custom_5c92fe3eaf6d2 vc_custom_1536912601750">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="ovic-products  style-4   ovic_custom_5c92fe3eaf6d3  item_is_margin owl-ls-1 owl-lg-1 owl-md-1 owl-sm-2 owl-xs-2 owl-ts-1 ovic_products_style27">
                                @if (item1.IsSale)
                                {

                                    <div class="box-title">

                                        <span class="text-sale"><span>Khuyến mại @Anpero.StringHelpper.GetDiscountPersen(item1.Price, item1.SalePrice)%</span></span>
                                    </div>
                                }
                             
                                <div class="product-list-owl owl-slick equal-container better-height " data-slick={&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1} data-responsive=[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1}}]>
                                    <div class="product-item products style-4 rows-space-0 product type-product post-380 status-publish instock product_cat-camera-photo product_tag-appliances product_tag-digital product_tag-fashion product_tag-glass has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                        <div class="product-inner">
                                            <div class="product-thumb">
                                                <a href="@Anpero.StringHelpper.GetProductLink(item1.PrName,item1.Id)" class="button yith-wcqv-button" data-product_id="380">Quick View</a>        
                                                <a class="thumb-link woocommerce-product-gallery__image" href="product/samseen-gear-s2-smart-watch/index.html">
                                                    <figure>
                                                        <img width="300" height="300" src="@item1.Images" data-src="@item1.Images" />
                                                    </figure>
                                                </a>
                                                <div class="flash">

                                                    <span class="onsale"><span class="text">@Anpero.StringHelpper.GetDiscountPersen(item1.Price, item1.SalePrice)</span></span>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-name product_title">
                                                    <a href="@Anpero.StringHelpper.GetProductLink(item1.PrName,item1.Id)">@item1.PrName</a>
                                                </h3>
                                                
                                                <span class="price">
                                                    @if (item1.IsSale)
                                                    {
                                                        <del><span class="woocommerce-Price-amount amount">@item1.Price</span></del>
                                                    }
                                                    <ins><span class="woocommerce-Price-amount amount">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item1.IsSale ? item1.SalePrice : item1.Price)</span></ins>
                                                </span>
                                                <p>Bảo hành:@item1.Warranty tháng</p>
                                                <div class="countdown-container">
                                                    <div class="gokko-countdown" data-datetime="@item1.SaleEndTime.ToString()"
                                                         data-txt_day="Ngày"
                                                         data-txt_hour="Giờ"
                                                         data-txt_min="Phút"
                                                         data-txt_sec="Giây" data-value_first="1"></div>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a href="@Anpero.StringHelpper.GetProductLink(item1.PrName,item1.Id)" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Mua ngay</a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-8 ovic_custom_5c92fe3eaf6d4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="ovic-tabs style1 style7 ovic_custom_5c92fe3eaf6df ">
                                <div class="tab-head ovic-dropdown">
                                    <h3 class="ovic-title"><span class="text">Khuyến mại</span></h3>
                                    <ul class="tab-link">
                                        <li class="">
                                            <a data-id="0" href="#" data-ajax="1" data-type="feature">
                                                <span>Tất cả sản phẩm</span>
                                            </a>
                                        </li>
                                        @foreach (var item in commonInfo.ProductCategoryList)
                                        {
                                            <li class="">
                                                <a href="#" class="feature-product" data-id="@item.Id" data-ajax="1" data-type="sale">
                                                    <span>@item.Name</span>
                                                </a>
                                            </li>
                                        }


                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="tab-container">
                                    <div class="tab-panel active">
                                        <div class="ovic-products   review_hided   style-2 ovic_custom_5c92fe3eaf6d6  owl-ls-3 owl-lg-3 owl-md-3 owl-sm-3 owl-xs-2 owl-ts-2 ovic_products_owl_default">
                                            <div id="sale-pr-content" class="product-list-owl owl-slick equal-container better-height" data-slick={&quot;arrows&quot;:true,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:2} data-responsive=[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}}]>
                                                @if (searchResult.Item.Length > 1)
                                                {
                                                    for (int i = 1; i < searchResult.Item.Length; i++)
                                                    {
                                                        var item = searchResult.Item[i];
                                                        <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product status-publish instock product_cat-gadgets-accessories product_tag-appliances product_tag-bass product_tag-furniture has-post-thumbnail sale featured shipping-taxable purchasable product-type-variable has-default-attributes">
                                                            <div class="product-inner">
                                                                <div class="product-thumb">
                                                                    <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" class="button yith-wcqv-button">Chi tiết</a>
                                                                    <a class="thumb-link woocommerce-product-gallery__image" href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">
                                                                        <figure>
                                                                            <img width="300" height="300" src="@item.Images" class="wp-post-image attachment-300x300 size-300x300" alt="@item.PrName" />
                                                                        </figure>
                                                                    </a>
                                                                    @if (item.IsSale)
                                                                    {
                                                                        <div class="flash">
                                                                            <span class="onsale"><span class="text">@Anpero.StringHelpper.GetDiscountPersen(item1.Price, item1.SalePrice)%</span></span>
                                                                        </div>
                                                                    }

                                                                </div>
                                                                <div class="product-info">
                                                                    <h3 class="product-name product_title">
                                                                        <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)">@item.PrName</a>
                                                                    </h3>
                                                                    <div>@item.Warranty tháng</div>
                                                                    <span class="price">
                                                                        @if (item.IsSale)
                                                                        {
                                                                            <del><span class="woocommerce-Price-amount amount">@item.Price</span></del>
                                                                        }
                                                                        <ins><span class="woocommerce-Price-amount amount">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.IsSale ? item1.SalePrice : item.Price)</span></ins>
                                                                    </span>
                                                                </div>
                                                                @if (item.IsInstock)
                                                                {
                                                                    <div class="group-button">
                                                                        <div class="inner">
                                                                            <div class="add-to-cart">
                                                                                <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,item.Id)" class="button product_type_variable add_to_cart_button">Xem chi tiết</a>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
    <div class="banner-effect ovic-banner style21 default   ovic_custom_5c92fe3eaf731 vc_custom_1550451311424 vc_custom_1550451311453 "
         style="">
        <div class="thumb-banner">
            <a href="shop/index.html">
                <img width="1170" height="203" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221170%22%20height%3D%22203%22%20viewBox%3D%220%200%201170%20203%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-1170x203 size-1170x203 lazy" alt="h51" data-src="/theme/wp-content/uploads/2018/09/h51.jpg" />
            </a>
        </div>
        <div class="texts-container">
            <div class="texts">
                <div class="text-1">World’s 1st </div>
                <div class="text-2">Quad Camera </div>
                <a class="banner-link" href="shop/index.html">Shop now</a>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="ovic-products only-icon label_hided review_hided   style-2   ovic_custom_5c92fe3eaf732 vc_custom_1547457855172 vc_custom_1547457855217  owl-ls-6 owl-lg-6 owl-md-5 owl-sm-3 owl-xs-2 owl-ts-2 ovic_products_style20">
                        <h3 class="ovic-title"><span class="text">Sản phẩm được xem nhiều</span></h3>
                        <div class="product-list-owl owl-slick equal-container better-height " data-slick={&quot;arrows&quot;:true,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1} data-responsive=[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:6}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:5}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}}]>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-971 status-publish instock product_cat-trees-vegetables product_tag-blompot product_tag-bonsai product_tag-cactus product_tag-men product_tag-pot product_tag-women has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="971">Quick View</a>
                                        <a class="thumb-link woocommerce-product-gallery__image" href="product/cactus-plant-in-a-pot/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0002s_0003s_0000_4a" data-src="/theme/wp-content/uploads/2018/07/org_0002s_0003s_0000_4a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="product/cactus-plant-in-a-pot/index.html">Cactus Plant in a Pot</a>
                                        </h3>
                                        <div>1 tháng</div>
                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>260.00</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="index3237.html?add-to-cart=971" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="971" data-product_sku="NA1119" aria-label="Add &ldquo;Cactus Plant in a Pot&rdquo; to your cart" rel="nofollow">Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-3399 status-publish instock product_cat-computer-sets-accessories product_tag-bass product_tag-fashion product_tag-men has-post-thumbnail sale featured shipping-taxable purchasable product-type-variable">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="3399">Quick View</a>
                                        <a class="thumb-link woocommerce-product-gallery__image" href="product/macbook-pro-retina-display-2200/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0000s_0014s_0000_10a" data-src="/theme/wp-content/uploads/2018/12/org_0000s_0014s_0000_10a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">

                                            <span class="onsale"><span class="text">-(25-40)%</span></span>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="product/macbook-pro-retina-display-2200/index.html">Macbook pro retina Display 2200</a>
                                        </h3>
                                        <div>1 tháng</div>
                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>300.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>450.00</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="product/macbook-pro-retina-display-2200/index.html" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="3399" data-product_sku="SE1245" aria-label="Select options for &ldquo;Macbook pro retina Display 2200&rdquo;" rel="nofollow">Select options</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-474 status-publish last instock product_cat-camera-photo product_tag-digital product_tag-fashion product_tag-furniture product_tag-handmade has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="474">Quick View</a>        <a class="thumb-link woocommerce-product-gallery__image" href="product/anlen-beats-2-on-ear-headphones/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0004s_0013s_0000_1a" data-src="/theme/wp-content/uploads/2018/07/org_0004s_0013s_0000_1a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="product/anlen-beats-2-on-ear-headphones/index.html">Anlen Beats 2 On-Ear Headphones</a>
                                        </h3>
                                        <div>1 tháng</div>
                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>189.00</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="index8d59.html?add-to-cart=474" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="474" data-product_sku="DG1247" aria-label="Add &ldquo;Anlen Beats 2 On-Ear Headphones&rdquo; to your cart" rel="nofollow">Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-867 status-publish first instock product_cat-trees-vegetables product_tag-blompot product_tag-bonsai product_tag-cactus product_tag-plant product_tag-pot has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="867">Quick View</a>        <a class="thumb-link woocommerce-product-gallery__image" href="product/bonsai-artist-tree/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0002s_0011s_0000_12a" data-src="/theme/wp-content/uploads/2018/07/org_0002s_0011s_0000_12a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="product/bonsai-artist-tree/index.html">Bonsai Artist Tree</a>
                                        </h3>
                                        <div>1 tháng</div>
                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>260.00</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="index3cf5.html?add-to-cart=867" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="867" data-product_sku="NA1111" aria-label="Add &ldquo;Bonsai Artist Tree&rdquo; to your cart" rel="nofollow">Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-3421 status-publish instock product_cat-laptop-computer has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="3421">Quick View</a>        <a class="thumb-link woocommerce-product-gallery__image" href="product/laptop-games-for-2016-mobilel/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0000s_0008s_0000_16a" data-src="/theme/wp-content/uploads/2018/12/org_0000s_0008s_0000_16a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="product/laptop-games-for-2016-mobilel/index.html">Laptop Games For 2016 Mobilel</a>
                                        </h3>
                                        <div>1 tháng</div>
                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>324.00</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="indexeb2f.html?add-to-cart=3421" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="3421" data-product_sku="SE1251" aria-label="Add &ldquo;Laptop Games For 2016 Mobilel&rdquo; to your cart" rel="nofollow">Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-490 status-publish instock product_cat-smartphone-tablets product_tag-appliances product_tag-digital product_tag-fashion product_tag-organic has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="490">Quick View</a>        <a class="thumb-link woocommerce-product-gallery__image" href="product/brabantia-newicon-prullenbak/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0003s_0013s_0000_3a" data-src="/theme/wp-content/uploads/2018/07/org_0003s_0013s_0000_3a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="product/brabantia-newicon-prullenbak/index.html">Brabantia NewIcon Prullenbak</a>
                                        </h3>
                                        <div>1 tháng</div>
                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>124.00</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="indexa94f.html?add-to-cart=490" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="490" data-product_sku="FU1239" aria-label="Add &ldquo;Brabantia NewIcon Prullenbak&rdquo; to your cart" rel="nofollow">Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-496 status-publish last instock product_cat-smartphone-tablets product_tag-glass product_tag-handmade product_tag-men product_tag-organic has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="496">Quick View</a>        <a class="thumb-link woocommerce-product-gallery__image" href="product/mim-printed-hair-clup/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0003s_0008s_0000_8a" data-src="/theme/wp-content/uploads/2018/07/org_0003s_0008s_0000_8a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="product/mim-printed-hair-clup/index.html">Mim Printed Hair Clup</a>
                                        </h3>
                                        <div>1 tháng</div>
                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>471.00</span></span>
                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="indexc169.html?add-to-cart=496" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="496" data-product_sku="FU1251" aria-label="Add &ldquo;Mim Printed Hair Clup&rdquo; to your cart" rel="nofollow">Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="ovic-products only-icon label_hided review_hided   style-2   ovic_custom_5c92fe3eaf732 vc_custom_1547457855172 vc_custom_1547457855217  owl-ls-6 owl-lg-6 owl-md-5 owl-sm-3 owl-xs-2 owl-ts-2 ovic_products_style20">
                        <h3 class="ovic-title"><span class="text">Bài viết được xem nhiều</span></h3>
                        <div class="product-list-owl owl-slick equal-container better-height " data-slick={&quot;arrows&quot;:true,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:2,&quot;rows&quot;:1} data-responsive=[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}}]>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-971 status-publish instock product_cat-trees-vegetables product_tag-blompot product_tag-bonsai product_tag-cactus product_tag-men product_tag-pot product_tag-women has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="971">Quick View</a>
                                        <a class="thumb-link woocommerce-product-gallery__image" href="product/cactus-plant-in-a-pot/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0002s_0003s_0000_4a" data-src="/theme/wp-content/uploads/2018/07/org_0002s_0003s_0000_4a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="product/cactus-plant-in-a-pot/index.html">Tiêu đề bài viết</a>
                                        </h3>
                                        <div>Miêu tả ngắn</div>

                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="index3237.html?add-to-cart=971" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="971" data-product_sku="NA1119" aria-label="Add &ldquo;Cactus Plant in a Pot&rdquo; to your cart" rel="nofollow">Xem thêm</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item recent-product style-2 equal-elem rows-space-0 product type-product post-971 status-publish instock product_cat-trees-vegetables product_tag-blompot product_tag-bonsai product_tag-cactus product_tag-men product_tag-pot product_tag-women has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a href="#" class="button yith-wcqv-button" data-product_id="971">Quick View</a>
                                        <a class="thumb-link woocommerce-product-gallery__image" href="product/cactus-plant-in-a-pot/index.html">
                                            <figure>
                                                <img width="300" height="300" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22300%22%20height%3D%22300%22%20viewBox%3D%220%200%20300%20300%22%3E%3C%2Fsvg%3E" class="wp-post-image attachment-300x300 size-300x300 lazy" alt="org_0002s_0003s_0000_4a" data-src="/theme/wp-content/uploads/2018/07/org_0002s_0003s_0000_4a-300x300.jpg" />
                                            </figure>
                                        </a>
                                        <div class="flash">
                                        </div>
                                    </div>
                                    <div class="product-info" style="text-align:left;">
                                        <h3 class="product-name product_title">
                                            <a href="product/cactus-plant-in-a-pot/index.html">Tiêu đề bài viết</a>
                                        </h3>
                                        <div>Miêu tả ngắn</div>

                                    </div>
                                    <div class="group-button">
                                        <div class="inner">
                                            <div class="add-to-cart">
                                                <a href="index3237.html?add-to-cart=971" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="971" data-product_sku="NA1119" aria-label="Add &ldquo;Cactus Plant in a Pot&rdquo; to your cart" rel="nofollow">Xem thêm</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="ovic-slide  rows-space-0  ovic_custom_5c92fe3eaf742 vc_custom_1547456628930 ">
                    <div class="ovic-slide-style2">
                        <div class="owl-slick" data-slick={&quot;arrows&quot;:true,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1} data-responsive=[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1}}]>
                            <div class="ovic-iconbox style1 Dark Background   ovic_custom_5c92fe3eaf743 ">
                                <div class="box-icon">
                                    <i class="gokko-icon icon-paper-plane"></i>
                                </div>
                                <div class="texts">
                                    <div class="title">
                                        <a href="index.html">Free Shipping</a>
                                    </div>
                                    <div class="text-2">On all order over $99</div>
                                </div>
                            </div>

                            <div class="ovic-iconbox style1 Dark Background   ovic_custom_5c92fe3eaf744 ">
                                <div class="box-icon">
                                    <i class="gokko-icon icon-refresh"></i>
                                </div>
                                <div class="texts">
                                    <div class="title">
                                        <a href="index.html">Money Back</a>
                                    </div>
                                    <div class="text-2">100 % money back guarantee</div>
                                </div>
                            </div>

                            <div class="ovic-iconbox style1 Dark Background   ovic_custom_5c92fe3eaf746 ">
                                <div class="box-icon">
                                    <i class="gokko-icon icon-headphone"></i>
                                </div>
                                <div class="texts">
                                    <div class="title">
                                        <a href="index.html">Support 24/7</a>
                                    </div>
                                    <div class="text-2">24/7 customer support</div>
                                </div>
                            </div>

                            <div class="ovic-iconbox style1 Dark Background   ovic_custom_5c92fe3eaf747 ">
                                <div class="box-icon">
                                    <i class="gokko-icon icon-payment"></i>
                                </div>
                                <div class="texts">
                                    <div class="title">
                                        <a href="index.html">Payment Method</a>
                                    </div>
                                    <div class="text-2">Secure System</div>
                                </div>
                            </div>

                            <div class="ovic-iconbox style1 Dark Background   ovic_custom_5c92fe3eaf748 ">
                                <div class="box-icon">
                                    <i class="gokko-icon icon-gift"></i>
                                </div>
                                <div class="texts">
                                    <div class="title">
                                        <a href="index.html">Member Gift</a>
                                    </div>
                                    <div class="text-2">Give gifts by week</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="ovic-slide  rows-space-0  ovic_custom_5c92fe3eaf733 vc_custom_1547457059059 ">
                    <div class="ovic-slide-default">
                        <div class="owl-slick" data-slick={&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1} data-responsive=[{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}},{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2}}]>

                            <div class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5c92fe3eaf734">

                                <figure class="wpb_wrapper vc_figure">
                                    <a href="shop/index.html" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect bounce-in "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20210%20110%27%2F%3E" data-src="https://gokko.kutethemes.net/wp-content/uploads/2019/03/brand-logo.png" width="210" height="110" alt="Home 02" /></a>
                                </figure>
                            </div>

                            <div class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5c92fe3eaf735">

                                <figure class="wpb_wrapper vc_figure">
                                    <a href="shop/index.html" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect bounce-in "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20210%20110%27%2F%3E" data-src="https://gokko.kutethemes.net/wp-content/uploads/2019/03/brand-logo.png" width="210" height="110" alt="Home 02" /></a>
                                </figure>
                            </div>

                            <div class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5c92fe3eaf737">

                                <figure class="wpb_wrapper vc_figure">
                                    <a href="shop/index.html" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect bounce-in "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20210%20110%27%2F%3E" data-src="https://gokko.kutethemes.net/wp-content/uploads/2019/03/brand-logo.png" width="210" height="110" alt="Home 02" /></a>
                                </figure>
                            </div>

                            <div class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5c92fe3eaf738">

                                <figure class="wpb_wrapper vc_figure">
                                    <a href="shop/index.html" target="_self" class="vc_single_image-wrapper   vc_box_border_grey effect bounce-in "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20210%20110%27%2F%3E" data-src="https://gokko.kutethemes.net/wp-content/uploads/2019/03/brand-logo.png" width="210" height="110" alt="Home 02" /></a>
                                </figure>
                            </div>

                            <div class="wpb_single_image wpb_content_element vc_align_center ovic_custom_5c92fe3eaf739">

                                <figure class="wpb_wrapper vc_figure">
                                    <a href="shop/index.html" target="_self" class="vc_single_image-wrapper vc_box_border_grey effect bounce-in "><img class="vc_single_image-img lazy attachment-full" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20210%20110%27%2F%3E" data-src="https://gokko.kutethemes.net/wp-content/uploads/2019/03/brand-logo.png" width="210" height="110" alt="Home 02" /></a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="/assets/plugin/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="/assets/plugin/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="/assets/revo-slider-init.js" type="text/javascript"></script>
    <script src="/assets/home-init.js"></script>
    <script>
        $(document).ready(function () {
            RevosliderInit.initRevoSlider();
            $(".has-vertical-menu").addClass("has-open");

        });

    </script>
}
