@using AnperoFrontend.WebService;

@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
    }
}

@if (ViewData["productList"] != null)
{
    string categoryName = "Sản phẩm";
    AnperoFrontend.WebService.SearchResult productList = (AnperoFrontend.WebService.SearchResult)ViewData["productList"];
    if (productList.Item.Length > 0)
    {
        @section health{
            <meta name="description" content="@ViewBag.Description" />
            <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(ViewBag.Keywords)" />
            <meta property="og:description" content="@ViewBag.Description" />
            <meta property="og:title" content="@ViewBag.Title" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="@ViewBag.WebsiteUrl" />
            <meta property="og:image" content="@ViewBag.ImageUrl" />
       
        }
        @section canonical{
            <link rel="canonical" href="@ViewBag.WebsiteUrl" />
        }
        <div id="page">
            <div class="page-heading">
                <div class="breadcrumbs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li class="home"> <a href="/" title="Trang chủ">Trang chủ</a> <span>—› </span> </li>
                                    @if (productList != null && productList.Item.Length > 0)
                                    {
                                        if (ViewBag.isParent != null)
                                        {
                                            categoryName = productList.Item[0].ParentCatName;
                                            <li>
                                                <a href="@Anpero.StringHelpper.GetParentCategoryLink(productList.Item[0].ParentCatName, productList.Item[0].ParentId)" title="@productList.Item[0].ParentCatName">
                                                    @productList.Item[0].ParentCatName
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            categoryName = productList.Item[0].CatName;
                                            <li>
                                                <a href="@Anpero.StringHelpper.GetCategoryLink(productList.Item[0].ParentCatName, productList.Item[0].ParentId)" title="@productList.Item[0].ParentCatName">
                                                    @productList.Item[0].ParentCatName
                                                </a>
                                                <span>—› </span>
                                            </li>
                                            <li> <strong>@productList.Item[0].CatName</strong> </li>
                                        }
                                    }
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-title">
                    <h1>@categoryName</h1>
                </div>
            </div>
            <section class="main-container col2-left-layout bounceInUp animated">
                <div class="container">
                    <div class="row">
                        <div class="col-main col-sm-9 col-sm-push-3">
                            <div class="pro-coloumn">
                                <article class="col-main">
                                    <div class="toolbar">
                                        <div id="sort-by">
                                            <label class="left">Sắp xếp: </label>
                                            <ul>
                                                <li>
                                                    <a href="#">Tên<span class="right-arrow"></span></a>
                                                    <ul>
                                                        <li><a href="javascript:Search.setOrder('nameDesc');">Tên</a></li>
                                                        <li><a href="javascript:Search.setOrder('pricedesc');">Giá giảm dần</a></li>
                                                        <li><a href="javascript:Search.setOrder('pricedasc');">Giá tăng dần</a></li>
                                                        <li><a href="javascript:Search.setOrder('timeDesc');">Mới nhất</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                                        </div>

                                        @if (!string.IsNullOrEmpty(ViewBag.page))
                                        {
                                            <div class="pager">
                                                <div class="pages">
                                                    <label>Trang:</label>
                                                    @Html.Raw(ViewBag.page)
                                                </div>

                                            </div>
                                        }
                                    </div>
                                    <div class="category-products">
                                        <ol class="products-list" id="products-list">
                                            @foreach (AnperoFrontend.WebService.ProductItem item in productList.Item)
                                            {
                                                <li class="item first">
                                                    <div class="product-image">
                                                        <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)" title="@item.PrName">
                                                            <img class="small-image" src="@item.Images" alt="@item.PrName">
                                                        </a>
                                                    </div>
                                                    <div class="product-shop">
                                                        <h2 class="product-name">
                                                            <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)" title="@item.PrName">@item.PrName</a>
                                                        </h2>
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <div style="width:50%" class="rating"></div>
                                                            </div>
                                                            <p class="rating-links"> <a href="#/review/product/list/id/167/category/35/">1 Nhận xét</a> <span class="separator">|</span> <a href="#review-form">Thêm nhận xét</a> </p>
                                                        </div>
                                                        <div class="desc std">
                                                            <p>
                                                                @item.ShortDesc
                                                            </p>
                                                            <p>
                                                                <a class="link-learn" title="" href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">Chi tiết</a>
                                                            </p>
                                                        </div>
                                                        <div class="price-box">
                                                            @if (item.IsSale)
                                                            {
                                                                <p class="old-price"><span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) đ</span> </p>
                                                                <p class="special-price"><span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice) đ</span> </p>
                                                            }
                                                            else
                                                            {
                                                                <p><span class="price">@(item.Price>0?Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) +" đ": "Liên hệ") </span> </p>

                                                            }

                                                        </div>
                                                        <div class="actions">
                                                            <button class="button btn-cart ajx-cart" title="Mua ngay" type="button" onclick="Cart.addProduct(@item.Id,@Convert.ToInt32(item.IsSale?item.SalePrice:item.Price),'@item.Images','@item.PrName');"><span>Mua ngay</span></button>
                                                            <span class="add-to-links">
                                                                <button class="button btn-cart ajx-cart" title="Mua ngay" type="button" onclick="Cart.addProduct3(@item.Id,@Convert.ToInt32(item.IsSale?item.SalePrice:item.Price),'@item.Images','@item.PrName');"><span>Thêm vào giỏ hàng</span></button>

                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                    <div class="toolbar">
                                        <div id="sort-by">
                                            <label class="left">Sắp xếp: </label>
                                            <ul>
                                                <li>
                                                    <a href="#">Tên<span class="right-arrow"></span></a>
                                                    <ul>
                                                        <li><a href="#">Tên</a></li>
                                                        <li><a href="#">Giá</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                                        </div>
                                        @if (!string.IsNullOrEmpty(ViewBag.page))
                                        {
                                            <div class="pager">
                                                <div class="pages">
                                                    <label>Trang:</label>
                                                    @Html.Raw(ViewBag.page)
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </article>
                            </div>
                        </div>
                        <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
                            @if (ViewData["saleProduct"] != null)
                            {
                                AnperoFrontend.WebService.ProductItem[] saleProduct = (AnperoFrontend.WebService.ProductItem[])ViewData["saleProduct"];
                                <div class="side-nav-categories">
                                    <div class="block-title"> Đang khuyến mãi </div>
                                    <div class="box-content box-category">
                                        <ul>
                                            @if (saleProduct != null && saleProduct.Length > 1)
                                            {

                                                foreach (var item in saleProduct)
                                                {
                                                    int itemPecentDow=Convert.ToInt32((item.Price - item.SalePrice) / item.Price*100);
                                                    <li>
                                                        <div class="product-container">
                                                            <div class="left-block">
                                                                <a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">
                                                                    <img class="img-responsive" alt="product" src="@item.Images" />
                                                                </a>
                                                                <div class="price-percent-reduction2">giảm @itemPecentDow.ToString() %</div>
                                                            </div>
                                                            <div class="right-block">
                                                                <h5 class="product-name"><a href="@Anpero.StringHelpper.GetProductLink(item.PrName, item.Id)">@item.PrName</a></h5>
                                                                <div class="show-count-down">
                                                                    <span class="countdown-lastest" data-y="@item.SaleEndTime.Substring(0, 4)" data-m="@item.SaleEndTime.Substring(4, 2)" data-d="@item.SaleEndTime.Substring(6, 2)" data-h="0" data-i="00" data-s="10"></span>
                                                                </div>
                                                                <div class="price-box">
                                                                    @if (item.IsSale)
                                                                    {
                                                                        <p class="old-price"><span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) đ</span> </p>
                                                                        <p class="special-price"><span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice) đ</span> </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p><span class="price">@(item.Price > 0 ? Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price) + " đ" : "Liên hệ")</span> </p>
                                                                    }

                                                                </div>
                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            <div class="side-nav-categories">
                                <div class="block-title"> Danh mục sản phẩm </div>
                                <div class="box-content box-category">
                                    <ul>
                                        @if (commonInfo.ProductCategoryList != null && commonInfo.ProductCategoryList.Length > 0)
                                        {
                                            foreach (var item in commonInfo.ProductCategoryList)
                                            {
                                                if (item.ChildCategory != null && item.ChildCategory.Length == 0)
                                                {
                                                    <li> <a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name, item.Id)">@item.Name‎</a> </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@Anpero.StringHelpper.GetParentCategoryLink(item.Name, item.Id)">@item.Name</a> <span class="subDropdown minus"></span>
                                                        <ul class="level0_482" style="display:block">
                                                            @foreach (var chidItem in item.ChildCategory)
                                                            {
                                                                <li>
                                                                    <a href="@Anpero.StringHelpper.GetCategoryLink(chidItem.Name, chidItem.Id)">
                                                                        @chidItem.Name
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        }

                                    </ul>
                                </div>
                            </div>

                            @if (ViewData["slide3"] != null)
                            {
                                Ads[] slide = (Ads[])ViewData["slide3"];
                                if (slide.Length > 0)
                                {
                                    <div class="custom-slider">
                                        <div>
                                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    @for (int i = 0; i < slide.Length; i++)
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                                        }
                                                        else if (i < 3)
                                                        {
                                                            <li data-target="#carousel-example-generic" data-slide-to="@i" class=""></li>
                                                        }
                                                    }
                                                </ol>
                                                <div class="carousel-inner">
                                                    @for (int i = 0; i < slide.Length; i++)
                                                    {

                                                        if (i == 0)
                                                        {
                                                            <div class="item active">
                                                                <img src="@slide[i].ImagesUrl" alt="@slide[i].Description" />
                                                                <div class="carousel-caption">
                                                                    @Html.Raw(slide[i].Description)
                                                                </div>
                                                            </div>
                                                        }
                                                        else if (i < 3)
                                                        {
                                                            <div class="item">
                                                                <img src="@slide[i].ImagesUrl" alt="@slide[i].Description" />
                                                                <div class="carousel-caption">
                                                                    @Html.Raw(slide[i].Description)
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="sr-only">Next</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="block block-list block-cart">
                                <div class="block-title"> Giỏ hàng </div>
                                <div class="block-content">
                                    <div class="summary">
                                        <p class="subtotal"> <span class="label">Giá trị SP:</span> <span class="price" id="lpr"></span> </p>
                                    </div>
                                    <div>
                                        <a title="Checkout" class="btn btn-link" href="/product/checkout"> <span>Gửi đơn hàng</span> </a>
                                    </div>
                                    <ul id="cart-sidebar2" class="mini-products-list"></ul>
                                </div>
                            </div>
                            <div class="hot-banner">
                                @if (ViewData["slide3"] != null)
                                {
                                    Ads[] slide = (Ads[])ViewData["slide3"];
                                    if (slide.Length > 0)
                                    {
                                        <img src="@slide.LastOrDefault().ImagesUrl" alt="banner">
                                    }
                                }
                            </div>
                        </aside>

                    </div>

                </div>
            </section>

        </div>
        <script>
            var categoryId = @productList.Item[0].CatID;
            var ParentCatId = @productList.Item[0].ParentId;
        </script>
    }
    else
    {
        <script>
            var categoryId = "";
            var ParentCatId = "";
        </script>
    }
}
@section  scripts{
<script src="/assets/js/countdown/jquery.plugin.js"></script>
    <script type="text/javascript" src="/assets/js/countdown/jquery.countdown.js"></script>

    <script>            
            $('[data-countdown]').each(function () {
                var $this = $(this), finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function (event) {
                    var fomat = '<span>%H</span><b></b><span>%M</span><b></b><span>%S</span>';
                    $this.html(event.strftime(fomat));
                });
            });
            if ($('.countdown-lastest').length > 0) {
                var labels = ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'];
                var layout = '<span class="box-count"><span class="number">{dnn}</span> <span class="text">Ngày</span></span><span class="dot">:</span><span class="box-count"><span class="number">{hnn}</span> <span class="text">Giờ</span></span><span class="dot">:</span><span class="box-count"><span class="number">{mnn}</span> <span class="text">Phút</span></span><span class="dot">:</span><span class="box-count"><span class="number">{snn}</span> <span class="text">Giây</span></span>';
                $('.countdown-lastest').each(function () {
                    var austDay = new Date($(this).data('y'), $(this).data('m') - 1, $(this).data('d'), $(this).data('h'), $(this).data('i'), $(this).data('s'));
                    $(this).countdown({
                        until: austDay,
                        labels: labels,
                        layout: layout
                    });
                });
            }
    </script>

}