


@if (ViewData["prDetail"] != null)
{
    AnperoFrontend.WebService.ProductItem item = (AnperoFrontend.WebService.ProductItem)ViewData["prDetail"];
    <div class="page-top">
        <div class="container">
            <!-- breadcrumb -->
            <div class="breadcrumb clearfix">
                <a class="home" href="/" title="Return to Home">Home</a>
                <span class="navigation-pipe">&nbsp;</span>
                <a href="/" title="Return to Home">@item.ParentCatName</a>
                <span class="navigation-pipe">&nbsp;</span>
                <a href="/" title="Return to Home">@item.CatName</a>
            </div>
            <!-- ./breadcrumb -->
            <!-- row -->
            <div class="row">
                <!-- Left colunm -->
                @Html.Partial("product/_MenuAndAdsPartial")
                <!-- ./left colunm -->
                <!-- Center colunm-->
                <div class="center_column col-xs-12 col-sm-9" id="center_column">
                    <!-- Product -->
                    <div id="product">
                        <div class="primary-box row">
                            <div class="pb-left-column col-xs-12 col-sm-6">
                                <!-- product-imge-->
                                <div class="product-image">
                                    <div class="product-full">
                                        <img id="product-zoom" src='@item.Images' data-zoom-image="@item.Images" />
                                    </div>
                                    <div class="product-img-thumb" id="gallery_01">
                                        @if (item.ImagesSlide != null && item.ImagesSlide.Length > 0)
                                        {
                                        <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="20" data-loop="true">
                                            @foreach (var images in item.ImagesSlide)
                                                {
                                                <li>
                                                    <a href="#" data-image="@images" data-zoom-image="@images">
                                                        <img id="product-zoom" src="@images" />
                                                    </a>
                                                </li>
                                                }
                                        </ul>
                                        }

                                    </div>
                                </div>
                                <!-- product-imge-->
                            </div>
                            <div class="pb-right-column col-xs-12 col-sm-6">
                                <h1 class="product-name">@item.PrName</h1>
                                <div class="product-comments">
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>

                                </div>
                                <div class="product-price-group">
                                    @{
                                        string unitName = "";
                                        if (item.SalePrice > 0 && item.SalePrice < 100000)
                                        {
                                            unitName = "/ giờ";
                                        }
                                        else if (item.SalePrice >= 100000 && item.SalePrice < 1000000)
                                        {
                                            unitName = "/ ngày";

                                        }
                                        else if (item.SalePrice >= 1000000)
                                        {
                                            unitName = "/ tháng";
                                        }
                                    }

                                    @if (item.IsSale)
                                    {
                                    <span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice.ToString()) đ @unitName</span>

                                    <span class="old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price.ToString()) đ</span>
                                    <span class="discount">@Anpero.StringHelpper.ConVertToMoneyFormatInt((item.SalePrice - item.Price).ToString()) đ</span>
                                    }
                                    else
                                    {
                                    <span class="price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price.ToString()) đ @unitName</span>
                                    }
                                </div>
                                <div class="info-orther">
                                    <p>Mã dịch vụ: #@item.Id</p>
                                    <p>
                                        Trạng thái:
                                        @if (item.IsInstock)
                                        {
                                        <span class="in-stock">Sẵn sàn</span>
                                        }
                                        else
                                        {
                                        <span class="in-stock">Đang bận</span>
                                        }
                                    </p>
                                    <p>Tình trạng: mới</p>
                                    @if (item.Warranty > 0)
                                    {
                                    <p>Kinh nghiệm: @item.Warranty Năm</p>
                                    }
                                </div>
                                @if (item.ShortDesc != null && item.ShortDesc.Length > 0)
                                {
                                <div class="product-desc">
                                    @Html.Raw(item.ShortDesc)
                                </div>
                                }
                                <div class="form-action">
                                    <div class="button-group">
                                        @if (item.IsInstock)
                                        {
                                        <a class="btn-add-cart" href="javascript:Cart.addProduct(@item.Id,'@Convert.ToInt32(item.Price)','@item.Images','@item.PrName')">Chọn</a>
                                        }
                                        else
                                        {
                                        <a class="btn-add-cart" href="javascript:void(0);">Đang bận</a>
                                        }
                                    </div>

                                    <div class="button-group">
                                        <a target="_blank" class="wishlist" href="//www.facebook.com/sharer.php?u=@HttpContext.Current.Request.RawUrl">
                                            <i class="fa fa-facebook-official"></i>
                                            <br>Share
                                        </a>

                                        <a class="compare" href="//plus.google.com/share?url=@HttpContext.Current.Request.RawUrl">
                                            <i class="fa fa-google-plus"></i>
                                            <br>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(item.Detail))
                        {
                        <div class="product-tab">
                            <ul class="nav-tab">
                                <li class="active">
                                    <a aria-expanded="false" data-toggle="tab" href="#product-detail">Thông tin chi tiết</a>
                                </li>
                            </ul>
                            <div class="tab-container">
                                <div id="product-detail" class="tab-panel active">
                                    @Html.Raw(item.Detail)
                                </div>
                            </div>
                        </div>
                        }
                        <!-- ./tab product -->
                        <!-- box product -->
                        <div class="page-product-box">
                            <h3 class="heading">Sản phẩm liên quan</h3>
                            <ul class="product-list">
                                @if (ViewData["relateProduct"] != null)
                                {
                                    AnperoFrontend.WebService.SearchResult relateProduct = (AnperoFrontend.WebService.SearchResult)ViewData["relateProduct"];
                                    if (relateProduct.Item != null && relateProduct.Item.Length > 0)
                                    {
                                        foreach (var items in relateProduct.Item)
                                        {
                                <li class="col-sx-12 col-sm-3">
                                    <div class="product-container">
                                        <div class="left-block">
                                            <a href="@Anpero.StringHelpper.GetProductLink(item.PrName,@item.Id)">
                                                <img class="img-responsive" alt="@item.PrName" src="@items.Images" />
                                                @if (item.IsSale)
                                                            {
                                                            <div class="price-percent-reduction2">giảm @Anpero.StringHelpper.ConVertToMoneyFormatInt((item.Price - item.SalePrice).ToString())</div>
                                                            }
                                            </a>
                                            <div class="quick-view">
                                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                                <a title="Add to compare" class="compare" href="#"></a>
                                                <a title="Quick view" class="search" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="#add">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="@Anpero.StringHelpper.GetProductLink(item.PrName,@item.Id)">@item.PrName</a></h5>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                            <div class="content_price">
                                                @if (item.IsSale)
                                                            {
                                                            <span class="price product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.SalePrice.ToString())</span>
                                                            <span class="price old-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price.ToString())</span>
                                                            }
                                                            else
                                                            {
                                                            <span class="price product-price">@Anpero.StringHelpper.ConVertToMoneyFormatInt(item.Price.ToString())</span>
                                                            }

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                        }
                                    }
                                }

                            </ul>
                        </div>
                        <!-- ./box product -->

                    </div>
                    <!-- Product -->
                </div>
                <!-- ./ Center colunm -->
            </div>
            <!-- ./row-->


        </div>
    </div>
    @section health{
        <meta name="description" content="@Anpero.StringHelpper.removeHtmlTangs(item.ShortDesc)" />
        <meta name="keywords" content="@Anpero.StringHelpper.UnicodeToKoDau(item.KeyWord)" />
    }
    @section  scripts{
        <link rel="stylesheet" type="text/css" href="/assets/lib/fancyBox/jquery.fancybox.css">
        <script type="text/javascript" src="/assets/lib/jquery.elevatezoom.js"></script>
        <script type="text/javascript" src="/assets/lib/fancyBox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="/assets/lib/countdown/jquery.plugin.js"></script>
        <script type="text/javascript" src="/assets/lib/countdown/jquery.countdown.js"></script>
        @item.Script
        <script>
            $('[data-countdown]').each(function () {
                                                    var $this = $(this), finalDate = $(this).data('countdown');
                                                    $this.countdown(finalDate, function (event) {
                                                        var fomat = '<span>%H</span><b></b><span>%M</span><b></b><span>%S</span>';
                                                        $this.html(event.strftime(fomat));
                                                    });
                                                });
            if ($('.countdown-lastest').length > 0) {
                                                    var labels = ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'];
                                                    var layout = '<span class="box-count"><span class="number">{dnn}</span> <span class="text">Ngày</span></span><span class="dot">:</span><span class="box-count"><span class="number">{hnn}</span> <span class="text">Giờ</span></span><span class="dot">:</span><span class="box-count"><span class="number">{mnn}</span> <span class="text">Phút</span></span><span class="dot">:</span><span class="box-count"><span class="number">{snn}</span> <span class="text">Giây</span></span>';
                                                    $('.countdown-lastest').each(function () {
                                                        var austDay = new Date($(this).data('y'), $(this).data('m') - 1, $(this).data('d'), $(this).data('h'), $(this).data('i'), $(this).data('s'));
                                                        $(this).countdown({
                                                            until: austDay,
                                                            labels: labels,
                                                            layout: layout
                                                        });
                                                    });
                                                }
        </script>

    }
}